<html xmlns="http://www.w3.org/1999/xhtml"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<link href="https://fonts.googleapis.com/css?family=Calibri:300,300i,400,400i,700,700i" rel="stylesheet">
	<title>Welcome</title>
<style type="text/css">
		body {
			margin: 0 !important;
			padding: 0 !important
		}

		img {
			border: 0 !important;
			outline: none !important
		}

		p {
			Margin: 0px !important;
			Padding: 0px !important
		}

		table {
			border-collapse: collapse
		}

		td,
		a,
		span {
			border-collapse: collapse
		}

		ExternalClass * {
			line-height: 100%
		}
		.border td{
			padding: 5px;
		}

		@media only screen and (min-width:481px) and (max-width:599px) {
			.wrap {
				width: 100% !important
			}

			.hide {
				display: none !important
			}

			.side {
				width: 15px !important;
			}

			.pa {
				padding: 15px !important;
			}

			.pb {
				padding-bottom: 20px;
			}
		}

		@media only screen and (max-width:480px) {
			.wrap {
				width: 100% !important
			}

			.hide {
				display: none !important
			}

			.h20 {
				height: 20px !important;
			}

			.side {
				width: 15px !important;
			}

			.pa {
				padding: 15px !important;
			}

			.pb {
				padding-bottom: 20px;
			}
		}
	</style>
	<!--[if mso]>
<style type="text/css">
body, table, td {font-family: Arial, sans-serif !important;}
</style>
<![endif]-->
</head>

<body style="margin:0px;padding:0px" bgcolor="#ffffff">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
		<tbody><tr>
			<td align="center" valign="top">
				<table width="600" border="0" cellspacing="0" cellpadding="0" class="wrap">
					<tbody><tr>
						<td height="60" class="h20">&nbsp;</td>
					</tr>
					<tr>
						<td align="center" valign="top" style="box-shadow:0 0 0px #e6e6e6;">
							<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5">
								<tbody><tr>
								
									<td align="center" valign="top" style="padding-top:30px; padding-left: 20px;padding-right: 20px;">
										<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#fff">
											<tbody><tr>
												<td align="center" valign="top" style="box-shadow:0 0 3px #e4e9eb;">
													<table width="100%" border="0" cellspacing="0" cellpadding="0">
														<tbody><tr>
															<td valign="top" style="padding: 20px 0 10px 0; text-align: center; background: #2b2c6c;">
																<img width="50" src="img/user-img2.png" alt="">
															</td>
														</tr>
														<tr>
															<td align="center" valign="top" style="font-family:'Calibri', Arial, sans-serif; font-size:15px; color:#ffffff; background: #2b2c6c; line-height:22px; font-weight:bold; padding:10px 0 30px 0;" class="pb">Your Blue Morpho Account – unable to verify
																identity</td>

														</tr>
														<tr>
															<td bgcolor="#ffffff" align="center" valign="top" class="pa" style="padding:30px 20px;">
																<table width="100%" border="0" cellspacing="0" cellpadding="0">
																	<tbody><tr>
																		<td style="padding:0px 0 15px 0;">
																			<img width="50" src="{{imgURL}}" alt="">
																		</td>
																	</tr>
																	<tr>
																		<td align="left" valign="top" style="font-family:'Calibri', Arial, sans-serif; font-size:15px; color:#333333; line-height:20px; font-weight:normal; padding:0px 0 15px 0;" class="pb">{{firstName}} {{lastName}},
																		</td>
																	</tr>
																	<tr>
																		<td align="left" valign="top" style="font-family:'Calibri', Arial, sans-serif; font-size:15px; color:#333333; line-height:20px; padding:0 0 20px;">
																			Thank you for submitting your identity
																			documents for your Blue Morpho account
																			{{email}}. We have not been able to
																			verify some of your identity
																			documents:<br>
																			The Ground of Refusal : {{reason}}
																		</td>
																	</tr>
																	<tr>
                                                                        <td><table width="100%" border="1" class="border" cellspacing="0" cellpadding="0" bgcolor="#fff" style="font-family:'Calibri', Arial, sans-serif; font-size:15px;; color:#333333; line-height:20px;">
																			<tbody><tr>
																				<td><b>Government issued ID</b></td>
																				<td>{{kycUploadIdProof}} </td>
																			</tr>
																			
																			<tr>
																				<td><b>Proof of address</b></td>
																				<td>{{kycUploadAddressProof}}</td>
																			</tr>
																			
																			<tr>
																				<td><b>Selfie image</b></td>
																				<td>{{KycUploadWithSelfiePhoto}}</td>
																			</tr>
																		</tbody></table></td>
																		
																	</tr>
																	<tr>
																		<td align="left" style="font-family:'Calibri', Arial, sans-serif;font-size:15px;color:#333333;line-height:20px;padding: 11px 0 11px;">
																			Please resubmit documents (you only need to
																			resubmit documents that are not
																			verified):<br>
																			
																		</td>
                                                                    </tr>                                                                   
                                                                    <tr>
																		<td align="center" style="font-family:'Calibri', Arial, sans-serif; font-size:20px; color:#333333; line-height:20px; padding:0 0 20px;">
																		
																			<a href={{{loginRoute}}} target="_blank" style="color:#ffffff; text-decoration: none; display: inline-block; background: #2b2c6c; padding: 8px 15px; border-radius: 4px; vertical-align: top;">Verify
																				your ID</a>
																		</td>
                                                                    </tr>                                                                    
																	<tr>
																		<td align="left" style="padding: 0 0 20px 0; font-family:'Calibri', Arial, sans-serif; font-size:15px; color:#333333; line-height:20px; padding:0 0 20px;">
																			Please make sure that your full name, ID
																			number, date of birth, and address are
																			clearly visible. Consider using an
																			alternative upload method or please contact
																			our customer service team at
																			bluemorphotokens@yahoo.com
																		</td>
																	</tr>
																	
																	<tr>
																		<td align="left" valign="top" style="font-family:'Calibri', Arial, sans-serif; 
																		font-size:12px; color:#333333; line-height:20px;">
																			This email was sent to
																			{{firstName}}{{lastName}}
																			by 
																			Asociacion Amor Infinito y
																			Prosperidad, a not-for-profit civil
																			association registered at Calle
																			Putumayo 454 – Altos, Iquitos,
																			Loreto, Peru.
																	</td></tr>
																	
																</tbody></table>
															</td>
														</tr>
													</tbody></table>
												</td>
											</tr>
											<tr>
												<td align="center" bgcolor="#f5f5f5" valign="top" style="padding:15px 15px 15px 15px; font-family:'Calibri', Arial, sans-serif; font-size:15px; color:#777777; line-height:15px;">
												</td>
											</tr>

										</tbody></table>
									</td>
								
								</tr>
							</tbody></table>
						</td>
					</tr>
					<tr>
						<td height="60" class="h20">&nbsp;</td>
					</tr>
				</tbody></table>
			</td>
		</tr>
	</tbody></table>
	<div class="hide" style="white-space:nowrap;font:20px courier;color:#ffffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		&nbsp; &nbsp; &nbsp;</div>

<script>

</script>

</body></html>