<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Fitness-about-us
    </title>
	<link rel="shortcut icon" href="{{BASE_URL}}assets/images/favicon.png">

	<link href="{{BASE_URL}}assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Material Design Bootstrap -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
	<link href="{{BASE_URL}}assets/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <!-- header section -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container-fluid  navbar-dark bg-dark justify-content-center">
        <a class="navbar-brand" href="#" >
          <img src="{{BASE_URL}}assets/images/logo.png"  height="110">
        </a>
       
     
      </div>
    </nav>
    <!--banner image section  -->
   <div class="container mx-auto" id="page">
    <h1 class="pt-3 text-center pb-1  "><b>{{pageTitle}}</b>
    </h1>
    {{{body}}}

 

   </div>

 
</body>

</body>
</html>
