<!-- Mainly scripts -->
<script src="../assets/user/js/jquery-2.1.1.js"></script>
<script src="../assets/user/js/bootstrap.min.js"></script>
<script src="../assets/user/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../assets/user/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="../assets/user/js/inspinia.js"></script>
<script src="../assets/user/js/plugins/pace/pace.min.js"></script>
<!--<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>-->
<script src="../assets/user/js/jquery.validate.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>-->
<script src="../assets/user/js/custom/kyc.js"></script>
<script src="../assets/user/js/plugins/dataTables/datatables.min.js"></script>
<script src="../assets/user/js/custom/login.js"></script>
<!--<script src="../assets/user/js/jquery.validate.min.js"></script>-->
<script src="../assets/user/js/bootstrap-datepicker.min.js"></script>
<script src="../assets/user/js/select2.min.js"></script>
</body>
<script>
    $('.select2').select2();
    function activityWatcher() {

        //The number of seconds that have passed
        //since the user was active.
        var secondsSinceLastActivity = 0;

        //Five minutes. 60 x 5 = 300 seconds.
        var maxInactivity = (60 * 10);

        //Setup the setInterval method to run
        //every second. 1000 milliseconds = 1 second.
        setInterval(function () {
            secondsSinceLastActivity++;
            console.log(secondsSinceLastActivity + ' seconds since the user was last active');
            //if the user has been inactive or idle for longer
            //then the seconds specified in maxInactivity
            if (secondsSinceLastActivity > maxInactivity) {
                console.log('User has been inactive for more than ' + maxInactivity + ' seconds');
                //Redirect them to your logout.php page.
                location.href = '/user/logout';
            }
        }, 1000);

        //The function that will be called whenever a user is active
        function activity() {
            //reset the secondsSinceLastActivity variable
            //back to 0
            secondsSinceLastActivity = 0;
        }

        //An array of DOM events that should be interpreted as
        //user activity.
        var activityEvents = [
            'mousedown', 'mousemove', 'keydown',
            'scroll', 'touchstart'
        ];

        //add these events to the document.
        //register the activity function as the listener parameter.
        activityEvents.forEach(function (eventName) {
            document.addEventListener(eventName, activity, true);
        });


    }

    activityWatcher();
</script>

</html>