<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blue Morpho Tokens</title>

	<link rel="icon" type="image/ico" href="../assets/user/img/logo-modal.png">
	<link href="../assets/user/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/user/css/select2.min.css" rel="stylesheet" />
	<link href="../assets/user/font-awesome/css/font-awesome.css" rel="stylesheet">
	<link href="../assets/user/css/animate.css" rel="stylesheet">
	<link href="../assets/user/css/style.css" rel="stylesheet">
	<link href="../assets/user/css/mystyle-coman.css" rel="stylesheet">
	<link href="../assets/user/css/admin-style.css" rel="stylesheet">
	<link href="../assets/user/css/media.css" rel="stylesheet">
	<link href="../assets/user/css/datatables.min.css" rel="stylesheet">
	<link href="../assets/user/css/bootstrap-datepicker.css" rel="stylesheet">
	<script src="../assets/user/js/jquery-2.1.1.js"></script>
</head>
<style>
	
</style>
<body>
	<div id="loader">
		<div id="loader-svg">
			<img src="../assets/user/img/3.svg" width="50" height="50">
		</div>
	</div>
	<div id="wrapper">
		<nav class="navbar-default navbar-expand-lg  navbar-static-side left-main-menu" role="navigation">

			<div class="sidebar-collapse">
				<ul class="nav metismenu" id="side-menu">
					<li class="nav-header">

						<div class="dropdown profile-element">
							<div class="logo-panel text-center float-n">
								<a href="http://bluemorphotokens.com"> <img src="../assets/user/img/logo-modal.png" alt=""></a>
							</div>
						</div>
						<div class="logo-element">
							<img src="../assets/user/img/logo-modal.png" alt="">
						</div>
					</li>
					<li>
						<div class="nav-user-part">
							<div class="image">

								<a href="my-account"><img src="../media/profilePicture/{{data.userData.profileImage}}"
										alt=""></a>
							</div>
							<h4>Member</h4>
							<h3>{{data.userData.firstName}} {{data.userData.lastName}}</h3>
						</div>
					</li>
						
					<li class="{{#ifCond title '==' 'My Account' }} active {{/ifCond}}">
							<a href="my-account" title="My Account"><i class="icon icon-10" aria-hidden="true"></i> <span
								class="nav-label">My Account</span></a>
					</li>
					<li class="{{#ifCond title '==' 'dashboard' }} active {{/ifCond}}">

						<a href="dashboard1" title="dashboard"><i class="icon icon-1"></i> <span
								class="nav-label">Dashboard</span></a>
					</li>
					<li class="{{#ifCond title '==' 'kycVerification' }} active {{/ifCond}}">
						<a href="kyc-verification-step-1" title="KYC Verification"><i class="icon icon-2"></i>
							<span class="nav-label">KYC/AML Verification</span></a>
					</li>

					<li class="{{#ifCond title '==' 'history' }} active {{/ifCond}}">
						<a href="history" title="history"><i class="icon icon-4"></i> <span
								class="nav-label">Transaction History</span></a>
					</li>
					<li class="{{#ifCond title '==' 'wallet' }} active {{/ifCond}}">
						<a href="wallet" title="wallet"><i class="icon icon-5"></i> <span
								class="nav-label">Wallet</span></a>
					</li>


					{{!-- <li class="{{#ifCond title '==' 'contactUs' }} active {{/ifCond}}">
						<a href="contactUs" title="Contact Us"><i class="icon icon-12"></i> <span
								class="nav-label">Contact Us</span></a>
					</li> --}}
					<li>
						<a type="button" title="Logout" data-toggle="modal" data-target="#confirmLogout"><i class="icon icon-9"></i> <span class="nav-label">Logout</span></a>
					</li>

				</ul>
			</div>
		</nav>



		<div id="page-wrapper" class="dark-bg" style="min-height: 615px;">
			<div class="row top-menu2">
				<nav class="navbar navbar-static-top dark-bg-header top-menu" role="navigation"
					style="margin-bottom: 0">
					<div class="navbar-header">
						<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i
								class="fa fa-bars"></i> </a>
						<!-- <form role="search" class="navbar-form-custom" action="search_results.html"> -->
						<!--  <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form> -->
					</div>
					<ul class="nav navbar-top-links navbar-right">
						<li class="welcome tooltipa">Welcome,<span class="d-block-mob"></span>
							{{data.userData.firstName}} {{data.userData.lastName}} </li>
					</ul>
				</nav>
			</div>

		<!--Modal for Confirmation Before Logout -->
         <div class="modal" tabindex="-1" role="dialog" id="confirmLogout">
            <div class="modal-dialog modal-sm" role="document">
               <div class="modal-content text-center p-20">
                  <div>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
                        <span aria-hidden="true">&times;</span>
                     </button>                                         
                  </div>
                  <div>
                      <h2 class="modal-title">Logout</h2>
                     <p class="m-t-sm p-b-lg">Are you sure you want to logout ?</p>
                  </div>
                  <div class="text-center">
                     <a  type="button" class="btn btn-primary" href="logout">Yes</a>
                     <button type="button" class="btn btn-secondary m-l-sm" data-dismiss="modal">No</button>
                  </div>
               </div>
            </div>
         </div>