
<div id="wrapper">
   <!-- log in html -->
   <div class="wrapper wrapper-content">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox">
               <div class="ibox-content">

                  <form id="addMemberForm" name="addMemberForm" method="post">
                     <div class=" " id="sign-in">
                        <div class="" role="document">
                           <div class=" text-center">
                              {{!-- <img src="../assets/admin/img/logo-modal.png" alt="" class="m-b-sm"> --}}
                              <div class="box-heading">
                                 <h2 class="p-t-0">Create Member</h2>
                              </div>
                              <b><span id="error" class="error text-danger"></span></b>
                              <div class="signup-tab">
                                 <!--   <ul class="nav nav-tabs" role="tablist">
                           <li role="presentation" class="active"><a href="../assets/admin/#signup-tab1" aria-controls="home" role="tab" data-toggle="tab">Investor</a></li> -->
                                 <!-- Tab panes -->
                                 <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="signup-tab1">

                                       <div class="row">
                                          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                <img src="../assets/user/img/form-icon3.png">
                                                <input class="form-control" type="text" name="first_name"
                                                   placeholder="First Name" autocomplete="off">
                                             </div>
                                          </div>
                                          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                <img src="../assets/user/img/form-icon3.png">
                                                <input class="form-control" type="text" name="last_name"
                                                   placeholder="Last Name" autocomplete="off">
                                             </div>
                                          </div>
                                       </div>
                                       <div class="row">
                                          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                             <div class="form-group eml-form">
                                                <img src="../assets/user/img/form-icon1.png">
                                                <input class="form-control" type="email" placeholder="Email"
                                                   name="email" id="email" autocomplete="off">
                                             </div>
                                          </div>
                                          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" id="create-account">
                                             <div id="phone">
                                                <select class="form-control select2" name="country_code"
                                                   id="country_code">

                                                </select>
                                                <div class="form-group ph-form">
                                                   <img src="../assets/user/img/form-icon4.png">
                                                   <input class="form-control" type="text" name="phone"
                                                      placeholder="Mobile Number" maxlength="15" autocomplete="off">
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="row">
                                          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                             <div class="form-group add-form">
                                                <img src="../assets/user/img/address-icon3.png">
                                                <input class="form-control" type="text" placeholder="Address"
                                                   name="address1" autocomplete="off">
                                             </div>
                                          </div>
                                          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                             <div class="form-group add-form">
                                                <img src="../assets/user/img/address-icon3.png">
                                                <input class="form-control" type="text" placeholder="Address Line-2"
                                                   name="address2" autocomplete="off">
                                             </div>
                                          </div>
                                       </div>
                                       <div class="row">
                                          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                             <div class="form-group  add-form">
                                                <img src="../assets/user/img/address-icon3.png">
                                                <select class="form-control" name="country" id="country">
                                                </select>
                                             </div>
                                          </div>
                                          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                             <div class="form-group  add-form">
                                                <img src="../assets/user/img/address-icon3.png">
                                                <!--<select class="form-control" id="city" name="city">
                                          <option value="">Select City</option>
                                          <option value="Ahmedabad"> Ahmedabad</option>
                                          </select>-->
                                                <input type="text" name="city" id="city" class="form-control"
                                                   placeholder="City" autocomplete="off">
                                             </div>
                                          </div>
                                       </div>
                                       <div class="row">
                                          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                             <div class="form-group pw-form">

                                                <div class="form-group  add-form">
                                                   <img src="../assets/user/img/address-icon3.png">
                                                   <input type="text" name="zipCode" id="zipCode" class="form-control"
                                                      placeholder="Zipcode" autocomplete="off" maxlength="10">
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                             <div class="form-group ">
                                                <div class="input-group date" data-date-format="dd/mm/yyyy">
                                                   <div class="input-group-addon">
                                                      <span class="glyphicon glyphicon-th"></span>
                                                   </div>
                                                   <input type="text" class="form-control cal-input"
                                                      placeholder="Date of Birth" id="dob" readonly name="dob"
                                                      autocomplete="off">
                                                </div>
                                             </div>
                                          </div>
                                       </div>

                                       <div class="clearfix text-center">
                                          <button type="submit" class="btn btn-primary" data-toggle="modal"
                                             name="submit" id="submit">Submit</button>
                                          {{!-- <button type="button" class="btn btn-default m-l-sm m-t-sm"
                                    onclick="location.href='login'">Cancel</button> --}}
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </form>
                  <!-- log in html -->
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog  modal-a" role="document">
      <div class="modal-content text-center">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
         </button>
         <div class="success-msg-icon">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
         </div>
         <h2>Member added succesfully.</h2>
      </div>
   </div>
</div>
<script src="../assets/admin/js/custom/members.js"></script>
</body>

</html>