<div class="wrapper wrapper-content">
  <div class="property-dtl-tab investor-details">
    <ul class="nav nav-tabs" role="tablist" id="tab-content-b">
      <li role="presentation" class="active">
        <a href="#prt-tab1" aria-controls="profile" role="tab" data-toggle="tab">
          <div class="ibox-content">
            <div class="admin-box-heading text-center">
              <img src="../assets/user/img/token4.png" width="70" style="width: 70px; margin-bottom: 10px;">
              <h2>{{data.bmttoken.token.symbol}}</h2>

            </div>
          </div>
        </a>
      </li>
      <li role="presentation padding-right">
        <a href="#prt-tab2" aria-controls="profile" role="tab" data-toggle="tab">
          <div class="ibox-content">
            <div class="admin-box-heading text-center">
              <img src="../assets/user/img/token3.png" width="70" style="width: 70px; margin-bottom: 10px;">
              <h2>{{data.oegtoken.token.symbol}}</h2>

            </div>
          </div>
        </a>
      </li>

      <li role="presentation">
        <a href="#prt-tab3" aria-controls="profile" role="tab" data-toggle="tab">
          <div class="ibox-content">
            <div class="admin-box-heading text-center">
              <img src="../assets/user/img/token1.png" width="70" style="width: 70px; margin-bottom: 10px;">
              <h2>{{data.fgmtoken.token.symbol}}</h2>

            </div>
          </div>
        </a>
      </li>
      <li role="presentation padding-right">

        <a href="#prt-tab4" aria-controls="home" role="tab" data-toggle="tab">
          <div class="ibox-content">
            <div class="admin-box-heading text-center">
              <img src="../assets/user/img/token2.png" width="70" style="width: 70px; margin-bottom: 10px;">
              <h2>{{data.iaitoken.token.symbol}}</h2>
            </div>
          </div>
        </a>
      </li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content ">
      <div role="tabpanel" class="tab-pane active" id="prt-tab1">
        <div class="details m-b-sm">
          <div class="row" id="member">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="token-font">
                <span>Members </span> {{data.userCount}}
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="token-font">
                <span>Number of Burned Tokens</span>{{data.bmttoken.burnToken}}
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="token-font">
                <span>Issued Tokens</span>{{data.bmttoken.sendTokens}}</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="token-font">
                <span>Outstanding Tokens</span> {{data.bmttoken.outstandingTokens}}</div>
            </div>


          </div>
        </div>
        {{!-- <div class="text-right">
          <a href="#" class="btn btn-primary m-b-md btn-small" data-dismiss="modal" data-toggle="modal">Download CSV</a>
        </div> --}}

        <div class="table-responsive coman-table" id="owner-detail-btn">
          <table class="table dataTables-example">
            <thead>
              <tr>

                <th>Date</th>
                <th>User Address</th>
                <th>Quantity</th>
                <th>Gas value</th>
                <th>Details</th>

              </tr>
            </thead>
            <tbody>
              {{#each data.bmttoken.history}}
              <tr>
                <td>{{this.date}}</td>
                <td>{{this.userAddress}}</td>
                <td>{{this.quantity}}</td>
                <td>{{this.gasValue}}</td>
                <td>{{this.details}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>


      <div role="tabpanel" class="tab-pane" id="prt-tab2">
        <div class="details m-b-sm">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="token-font">
                <span>Members </span>  {{data.userCount}}
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="token-font">
                <span>Number of Burned Tokens</span>{{data.oegtoken.burnToken}}
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="token-font">
                <span>Issued Tokens</span>{{data.oegtoken.sendTokens}}</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="token-font">
                <span>Outstanding Tokens</span>{{data.oegtoken.outstandingTokens}}</div>
            </div>


          </div>
        </div>
        {{!-- <div class="text-right">
          <a href="#" class="btn btn-primary m-b-md btn-small" data-dismiss="modal" data-toggle="modal">Download CSV</a>
        </div> --}}

        <div class="table-responsive coman-table" id="owner-detail-btn">
          <table class="table dataTables-example">
            <thead>
              <tr>

                <th>Date</th>
                <th>User Address</th>
                <th>Quantity</th>
                <th>Gas value</th>
                <th>Details</th>

              </tr>
            </thead>
            <tbody>
              {{#each data.oegtoken.history}}
              <tr>
                <td>{{this.date}}</td>
                <td>{{this.userAddress}}</td>
                <td>{{this.quantity}}</td>
                <td>{{this.gasValue}}</td>
                <td>{{this.details}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="prt-tab3">
        <div class="details m-b-sm">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="token-font">
                <span>Members </span>  {{data.userCount}}
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="token-font">
                <span>Number of Burned Tokens</span>{{data.fgmtoken.burnToken}}
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="token-font">
                <span>Issued Tokens</span>{{data.fgmtoken.sendTokens}}</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="token-font">
                <span>Outstanding Tokens</span>{{data.fgmtoken.outstandingTokens}}</div>
            </div>


          </div>
        </div>
        {{!-- <div class="text-right">
          <a href="#" class="btn btn-primary m-b-md btn-small" data-dismiss="modal" data-toggle="modal"></a>
        </div> --}}

        <div class="table-responsive coman-table" id="owner-detail-btn">
          <table class="table dataTables-example">
            <thead>
              <tr>

                <th>Date</th>
                <th>User Address</th>
                <th>Quantity</th>
                <th>Gas value</th>
                <th>Details</th>

              </tr>
            </thead>
            <tbody>
              {{#each data.fgmtoken.history}}
              <tr>
                <td>{{this.date}}</td>
                <td>{{this.userAddress}}</td>
                <td>{{this.quantity}}</td>
                <td>{{this.gasValue}}</td>
                <td>{{this.details}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="prt-tab4">
        <div class="details m-b-sm">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="token-font">
                <span>Members </span>  {{data.userCount}}
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="token-font">
                <span>Number of Burned Tokens</span>{{data.iaitoken.burnToken}}
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="token-font">
                <span>Issued Tokens</span>{{data.iaitoken.sendTokens}}</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="token-font">
                <span>Outstanding Tokens</span>{{data.iaitoken.outstandingTokens}}</div>
            </div>
          </div>
        </div>
        {{!-- <div class="text-right">
          <a href="#" class="btn btn-primary m-b-md btn-small" data-dismiss="modal" data-toggle="modal">Download CSV</a>
        </div> --}}

        <div class="table-responsive coman-table" id="owner-detail-btn">

          <div class="table-responsive coman-table" id="owner-detail-btn">
            <table class="table dataTables-example">
              <thead>
                <tr>

                  <th>Date</th>
                  <th>User Address</th>
                  <th>Quantity</th>
                  <th>Gas value</th>
                  <th>Details</th>

                </tr>
              </thead>
              <tbody>
                {{#each data.iaitoken.history}}
                <tr>
                  <td>{{this.date}}</td>
                  <td>{{this.userAddress}}</td>
                  <td>{{this.quantity}}</td>
                  <td>{{this.gasValue}}</td>
                  <td>{{this.details}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>



      </div>
    </div>


  </div>
</div>
<script>
  $(document).ready(function () {
  $('.dataTables-example').DataTable({ 
      dom: 'Blftip',
      autoWidth:false,
     // scrollX :true,
      language: {
        searchPlaceholder: "Search"
      },
      buttons: [
        {
          extend: 'csv',
          text: 'Download CSV',
          title: 'Tokens'
        }
      ],
    
    })
  });
</script>