<div class="wrapper wrapper-content" id="kyc-request-a">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="box-heading">
            <h2> KYC/AML Requests
            </h2>
          </div>
          <!-- tabitation content -->
          <div class="property-dtl-tab investor-details">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#prt-tab0" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Pending
                </a>
              </li>
              <li role="presentation" class="">
                <a href="#prt-tab1" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Failed
                </a>
              </li>
              <li role="presentation" class="">
                <a href="#prt-tab2" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Verified
                </a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content ">
              <div role="tabpanel" class="tab-pane active" id="prt-tab0">
                <div class="text-right">
                  <!--<a href="#" class="btn btn-primary m-b-md btn-small" data-dismiss="modal" data-toggle="modal">Download
                    CSV</a>-->
                </div>
                <div class="table-responsive coman-table" id="owner-detail-btn">
                  <table class="table dataTables-example">
                    <thead>
                      <tr>
                        <th>Email
                        </th>
                        <th>Name
                        </th>
                        <th>Mobile Number
                        </th>
                        <th>Registered Date
                        </th>
                        <th>By
                        </th>
                        <th>Action
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each data.pending}}
                      <tr>
                        <td><a href="memberDetails?userId={{this.userId}}">{{this.email}}</a></td>
                        <td><a href="memberDetails?userId={{this.userId}}">{{this.name}}</a></td>
                        <td>{{this.phone}}</td>
                        <td>{{this.timestamp}}</td>
                        <td>{{this.addedBy}}</td>
                        <td>
                          <div class="action-btn"><a href="memberDetails?userId={{this.userId}}">
                              <i class="fa fa-eye" aria-hidden="true"></i></a>
                          </div>
                        </td>
                        <!--   <a href="#" data-toggle="modal" data-target="#modal-delete-Assets-Owner"><i class="fa fa-trash" aria-hidden="true"></i></a> -->
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane " id="prt-tab1">
                {{!-- <div class="text-right">
                  <a href="#" class="btn btn-primary m-b-md btn-small" data-dismiss="modal" data-toggle="modal">Download
                    CSV</a>
                </div> --}}
                <div class="table-responsive coman-table" id="owner-detail-btn">
                  <table class="table dataTables-example">
                    <thead>
                      <tr>
                        <th>Email
                        </th>
                        <th>Name
                        </th>
                        <th>Mobile Number
                        </th>
                         <th>Registered Date
                        </th>
                        <th>By
                        </th>
                        <th class="width-150">Reason
                        </th>
                        <th>Action
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each data.reject}}
                      <tr>
                        <td><a href="memberDetails?userId={{this.userId}}">{{this.email}}</a></td>
                        <td><a href="memberDetails?userId={{this.userId}}">{{this.name}}</a></td>
                        <td>{{this.phone}}</td>
                        <td>{{this.timestamp}}</td>
                        <td>{{this.addedBy}}</td>
                        <td>{{this.reason}}</td>
                        <td>
                          <div class="action-btn"><a href="memberDetails?userId={{this.userId}}"><i class="fa fa-eye"
                                aria-hidden="true"></i></a></div>
                        </td>
                        <!--   <a href="#" data-toggle="modal" data-target="#modal-delete-Assets-Owner"><i class="fa fa-trash" aria-hidden="true"></i></a> -->
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane " id="prt-tab2">
                <div class="text-right">
                  <a id="transferToken" class="btn btn-primary m-b-md btn-small">Send Tokens</a>
                </div>
                <div class="table-responsive coman-table" id="owner-detail-btn">
                  <table class="table dataTables-example">
                    <thead>
                      <tr>
                        <th>Elect</th>
                        <th>Email
                        </th>
                        <th>Name
                        </th>
                        <th>Mobile Number
                        </th>
                         <th>Registered Date
                        </th>
                        <th>By
                        </th>
                        <th>Action
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each data.verified}}
                      <tr>
                        <td>
                          <input type="checkbox" value="{{this.wallet}}" data-member="{{this.name}}"
                            onclick="addWallet(this)" data-wallet="{{this.wallet}}" name="memberCheckbox"
                            class="form-control" {{#ifCond this.wallet '==' null}} disabled {{/ifCond}}>
                        </td>
                        <td><a href="memberDetails?userId={{this.userId}}">{{this.email}}</a></td>
                        <td><a href="memberDetails?userId={{this.userId}}">{{this.name}}</a></td>
                        <td>{{this.phone}}</td>
                        <td>{{this.timestamp}}</td>
                        <td>{{this.addedBy}}</td>
                        <td>
                          <div class="action-btn"><a href="memberDetails?userId={{this.userId}}"><i class="fa fa-eye"
                                aria-hidden="true"></i></a>
                          </div>
                        </td>
                        <!--   <a href="#" data-toggle="modal" data-target="#modal-delete-Assets-Owner"><i class="fa fa-trash" aria-hidden="true"></i></a> -->
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="modal coman-modal  fade" id="sent-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div id="loader1" style="display: none;">
    <div id="loader-svg">
      <img src="../assets/admin/img/3.svg" width="50" height="50">
      <p style="color: white;font-size:20px;" class="popup-loader">Please wait while the blockchain records your
        transaction.
        Do not leave this page until the transaction is verified.</p>
    </div>
  </div>
  <form id="form_token" name="form_token" method="post">
    <div class="modal-dialog  modal-a" role="document">
      <div class="modal-content text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <input type="hidden" name="wallets" id="wallets">
        <h2>Send Tokens</h2>
        <span id="error" class="error text-danger"></span>
        <div class="form-group text-left">

          <label>From Wallet Adress :</label>
          <input type="text" name="from_address" id="from_address" class="form-control" value="{{data.userData.wallet}}"
            disabled placeholder="Wallet Address">
        </div>
        <div class="form-group text-left">
          <label>Members :</label>
          <h4><span id="members" class="form-control" style="height: 60px;overflow-y: auto;"></span></h4>
        </div>
        <div style="display: flex; flex-direction:column">
          <span class="text-red-left" id="wrongWallet"></span>
        </div>


        <div class="form-group text-left">
          <label class="text">Amount </label><span class="text-red"> (Minimum 0.00000001) </span>:
          <input type="text" min=0.00000001 name="amount" id="amount" class="form-control" placeholder="Amount">
        </div>
        <span class="gas_value" id="gasValue"></span>
        <div class="form-group  text-left">
          <label>Token Name :</label>
          <select class="form-control" id="token" name="token">
            <option value="">Select Token</option>
            <option value="Bmt">BMT</option>
            <option value="Iai">IAI</option>
            <option value="Fgm">FGM</option>
            <option value="Oeg">OEG</option>
          </select>
        </div>
        <button class="btn btn-primary btn-small m-t-sm" id="transferTokenBtn" type="submit">Send
          Tokens</button>
      </div>
    </div>
  </form>
</div>
<div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-a" role="document">
    <div class="modal-content text-center">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div id="content">

      </div>
    </div>
  </div>
</div>
<div class="modal coman-modal  fade" id="Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm modal-a" role="document">
    <div class="modal-content text-center">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2>Status</h2>
      <div class="form-group text-left">
        <label> <span>Doucment 1 :</span> Approve</label>

      </div>
      <div class="form-group text-left">
        <label><span>Doucment 2 : </span> Reject Image is Blurred</label>

      </div>
      <div class="form-group  text-left">
        <label><span>Doucment 3 : </span> Reject</label>

      </div>
      <div class="form-group  text-left">
        <label><span>Doucment 4 : </span> Pending</label>

      </div>
      <div class="form-group  text-left">
        <label><span>Doucment 5 : </span> Ex-communicated</label>

      </div>
    </div>
  </div>
</div>
<div id="myModal" class="modal kyc ">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <img class="modal-content" id="img01">
  <!-- <div id="caption"></div> -->
</div>
<div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-a" role="document">
    <div class="modal-content text-center">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="success-msg-icon">
        <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

      </div>
      <h2>Tokens Sent successfully</h2>

    </div>
  </div>
</div>
<div class="modal coman-modal  fade" id="reject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-a" role="document">
    <div class="modal-content text-center">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <h2>Reason</h2>
      <div class="form-group">
        <textarea class="form-control" placeholder="Enter the Reason of Rejection"></textarea>

      </div>
      <a href="#cong-modal" class="btn m-r-sm btn-primary btn-small max-83" data-dismiss="modal"
        data-toggle="modal">Submit</a>


    </div>
  </div>
</div>
<script src="../assets/admin/js/custom/kycRequest.js"></script>
<script>
  var wallets = [];
  var membernames = [];
  function addWallet(checkbox) {
    if (checkbox.checked) {
      wallets.push($(checkbox).data('wallet'));
      membernames.push($(checkbox).data('member'));
      $("#wallets").val(wallets);
      $("#members").html(membernames.join())
    }
    else {
      //console.log("else ...",$(checkbox).data('wallet'))
      const index = wallets.indexOf($(checkbox).data('wallet'));
      if (index > -1) {
        wallets.splice(index, 1);
      }

      const index2 = membernames.indexOf($(checkbox).data('member'));
      if (index2 > -1) {
        membernames.splice(index2, 1);
      }

    }
    //console.log(wallets)
  }

</script>