<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <link rel="icon" type="image/ico" href="../assets/admin/img/logo-modal.png">
  <link href="../assets/admin/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/admin/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="../assets/admin/css/animate.css" rel="stylesheet">
  <link href="../assets/admin/css/style.css" rel="stylesheet">
  <link href="../assets/admin/css/mystyle-coman.css" rel="stylesheet">
  <link href="../assets/admin/css/admin-style.css" rel="stylesheet">
  <link href="../assets/admin/css/media.css" rel="stylesheet">
</head>

<body>
  <div id="wrapper">
    <!-- log in html -->
    <div class=" coman-modal coman-modal-a" id="sign-in">
      <form name="login_form" id="login_form" method="post">
        <div class="modal-dialog  modal-dialog-centered" role="document">
          <div class="modal-content  text-center">
            <img src="../assets/admin/img/logo-modal.png" alt="">
            <h1>Sign In</h1>
            <b><span id="error" class="error text-danger"></span></b>
            <div class="form-group">
              <img src="../assets/admin/img/form-icon1.png">
              <input type="email" class="form-control" placeholder="Email" name="email" id="email">
            </div>
            <div class="form-group pass-word">
              <img src="../assets/admin/img/form-icon2.png">
              <input type="password" class="form-control" placeholder="Password" name="password" id="password">
              <input type="hidden" id="type" name="type" value="admin" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary" id="login_btn" name="login_btn">SIGN IN</button>
            <!-- <button data-toggle="modal" data-target="#sign-up" type="submit" class="btn btn-default m-t-sm" onclick="location.href='sign-up.html'">CREATE ACCOUNT </button> -->
                <div class="forgot-link m-t-md text-center">
                  <a href="#" data-toggle="modal" data-target="#forgot-pw-modal" data-dismiss="modal" >Forgot Password?</a>
             </div> 
          </div>
        </div>
         </form>
    </div>
   


    <!-- log in html -->
  </div>

    <!-- forgot password -->
  <div class="modal coman-modal  fade" id="forgot-pw-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
      <form id="forget_form" name="forget_form" method="post">
      <div class="modal-content text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <img src="../assets/user/img/logo-modal.png" alt="">
        <h2>Forgot Password</h2>
        <div class="form-group">
          <img src="../assets/user/img/form-icon1.png">
          <input type="email" class="form-control" placeholder="Email" id="forget_email" name="forget_email">
          <span class="error" id="forget_error"></span>
        </div>
        <button type="submit" class="btn btn-primary" 
          data-target="#success-msg" id="forget_btn">Send</button>
      </div>
      </form>
    </div>
  </div>
  <div class="modal coman-modal  fade" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-a" role="document">
      <div class="modal-content text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1>Successful</h1>
        <div class="success-msg-icon">
          <i class="fa fa-check-circle" aria-hidden="true"></i>

        </div>
        <p>We have sent you a password reset link on your registered mail address.</p>

      </div>
    </div>
  </div>
  <div class="modal coman-modal fade" id="sign-up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content text-center">
        <a href="dashboard1"> <img src="../assets/admin/img/logo-modal.png" alt=""></a>
        <h2>Log In</h2>
        <div class="form-group eml-form">
          <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group pw-form">
          <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="forgot-link">
          <a href="#" data-toggle="modal" data-target="#forgot-pw-modal" data-dismiss="modal">Forgot Password?</a>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
        <div class="forgot-link dont-ac">
          <p>Don’t have an account yet?<br> <a href="#" data-toggle="modal" data-target="#signup-modal"
              data-dismiss="modal">Sign Up</a></p>
        </div>

      </div>
    </div>
  </div>
  <!-- Mainly scripts -->
  <script src="../assets/admin/js/jquery-2.1.1.js"></script>
  <script src="../assets/admin/js/bootstrap.min.js"></script>
  <script src="../assets/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
  <script src="../assets/admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

  <!-- Custom and plugin javascript -->
  <script src="../assets/admin/js/inspinia.js"></script>
  <script src="../assets/admin/js/plugins/pace/pace.min.js"></script>
  <script src="../assets/user/js/jquery.validate.min.js"></script>
  <script src="../assets/admin/js/custom/login.js"></script>
  <script src="../assets/admin/js/custom/forgotPassword.js"></script>


<script>
   $(document).ready(function() {
      function disablePrev() { window.history.forward() }
      window.onload = disablePrev();
      window.onpageshow = function(evt) { if (evt.persisted) disableBack() }
   });
</script>



</body>

</html>