<div class="wrapper wrapper-content">

   <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="ibox">
            <div class="ibox-content" id="history">
               <div class="box-heading">
                  <h2>Members</h2>
               </div>

               {{!-- 
               <div class="text-right">
                  <a href="#" class="btn btn-primary m-b-md btn-small" data-dismiss="modal" data-toggle="modal">Download
                     CSV</a>
               </div> --}}

              
               <div class="table-responsive coman-table" id="">
                  <table class="table dataTables-example" style="width: 100%;">
                     <thead>
                        <tr>
                           <th>Email</th>
                           <th>Name</th>
                           <th>Mobile Number</th>
                           <th>Registered By</th>
                           <th>Status</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                     <tbody>

                        {{#each data.userDetails}}
                        <tr>
                           <td><a href="memberDetails?userId={{this.userId}}">{{this.email}}</a></td>
                           <td><a href="memberDetails?userId={{this.userId}}">{{this.name}}</a></td>
                           <td>{{this.phone}}</td>
                           <td>{{this.addedBy}}</td>
                           {{!-- <td><a href="#Status-modal" data-toggle="modal">In process</a></td> --}}
                           <td>{{this.status}}</td>
                           <td><a href="memberDetails?userId={{this.userId}}"><i class="fa fa-eye"
                                    aria-hidden="true"></i></a>
                           </td>
                        </tr>
                        {{/each}}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>


</div>

<div class="modal coman-modal  fade" id="Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog modal-sm modal-a" role="document">
      <div class="modal-content text-center">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
         </button>
         <h2>Status</h2>
         <div class="form-group text-left">
            <label> <span>Doucment 1 :</span> Approve</label>

         </div>
         <div class="form-group text-left">
            <label><span>Doucment 2 : </span> Reject Image is Blurred</label>

         </div>
         <div class="form-group  text-left">
            <label><span>Doucment 3 : </span> Reject</label>

         </div>
         <div class="form-group  text-left">
            <label><span>Doucment 4 : </span> Pending</label>

         </div>
         <div class="form-group  text-left">
            <label><span>Doucment 5 : </span> Ex-communicated</label>

         </div>
      </div>
   </div>
</div>
<div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog  modal-a" role="document">
      <div class="modal-content text-center">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
         </button>
         <div class="success-msg-icon">
            <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

         </div>
         <h2>Tokens Sent successfully</h2>



      </div>
   </div>
</div>
<script>
  $(document).ready(function () {
      $('.dataTables-example').DataTable({ 
      dom: 'Blftip',
      autoWidth:false,
   //   scrollX :true,
        "bAutoWidth":false,
      language: {
        searchPlaceholder: "Search"
      },
      buttons: [
        {
          extend: 'csv',
          text: 'Download CSV',
          title: 'Transaction History'
        }
      ],
    
    })
     $(window).resize(function() {
      table.draw(true)       
    });
  });
  
  </script>