<div class="wrapper wrapper-content">
  {{!-- <div id="loader" style="display: none;">
    <div id="loader-svg">
      <img src="../assets/admin/img/3.svg" width="50" height="50">
    </div>
  </div> --}}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ibox">
        <div class="ibox-content" id="history">
          <div class="box-heading">
            <a href="/admin{{data.userData.prevUrl}}">
              <h2> <img src="../assets/admin/img/back-icon.png" class="img-back">Member Profile
              </h2>
            </a>
          </div>
           <div class="text-right m-b-md">
              {{#ifCond data.user.blockUser '==' true}}
              <label class="font-18 capitalize">User is disabled.</label>

              {{else}}
                <button class="btn m-r-sm btn-primary btn-small min-135 userSuspend" data-dismiss="modal"
                data-toggle="modal" id="mainApprove" data-kycstatus="true" data-isapproved="true"
                >Disable Account</button>
                {{/ifCond}}

        </div>
          <div class="border-solid m-b-lg">
            {{#ifCond data.user.blockUser '==' true}}

            {{else}}

            <div class="text-right m-b-md">
               {{#ifCond data.user.approveOrReject '!=' 'yes'}}
              <button class="btn m-r-sm btn-primary btn-small min-135 kyc_submit" data-dismiss="modal"
                data-toggle="modal" id="mainApprove" data-kycstatus="true" data-isapproved="true"
                {{data.user.kycDisabled}}>Approve</button>
              <button class="btn btn-default min-135 btn-small reject_btn" data-dismiss="modal" data-toggle="modal"
                id="MainReject" data-target="#reject-modal" data-kycstatus="true"
                data-isapproved="false">Reject</button>
                {{else}}
                <label class="font-18 capitalize">KYC/AML Status : {{data.user.kycStatus}} </label>
                {{/ifCond}}
                {{!-- <button class="btn m-r-sm btn-primary btn-small min-135 userSuspend" data-dismiss="modal"
                data-toggle="modal" id="mainApprove" data-kycstatus="true" data-isapproved="true"
                >Suspend</button> --}}
            </div>
            {{/ifCond}}
            <div class="row">
              <div class="col-md-12">
                 
                <div class="row ">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="detail-title-a">
                      <p><span>Name:</span>{{data.user.name}}</p>
                      <p><span>Email Address:</span>{{data.user.email}}</p>
                      <p><span>Mobile Number: </span>+{{data.user.countryCode}} {{data.user.phoneNumber}}</p>
                      <p><span>DOB:</span>{{data.user.dob}}</p>

                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="detail-title-a">
                      <p><span>Address:</span>{{data.user.address}}</p>
                      <p><span>Country:</span>{{data.user.country}}</p>
                      <p><span>City:</span>{{data.user.city}}</p>
                      <p><span>Postal Code:</span>{{data.user.zipCode}}</p>

                    </div>
                  </div>
                  <div class="detail-title-a " style="padding-left:15px">
                      <p><span>Wallet:</span>{{data.user.wallet}}</p>
                   </div>
                           

                </div>
              </div>
            </div>
          </div>
          <div class="box-heading">
            <h2 class="m-t-md m-b-md">Transaction History</h2>
          </div>
          <div class="details m-b-sm">
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <div class="token-font">
                  <span>BMT </span>{{data.history.bmtBalance}}
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <div class="token-font">
                  <span>IAI </span>{{data.history.iaiBalance}}
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <div class="token-font">
                  <span>FGM </span>{{data.history.fgmBalance}}
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <div class="token-font">
                  <span>OEG </span>{{data.history.oegBalance}}
                </div>
              </div>

            <div class="col-lg-4 col-md-2 col-sm-6 col-xs-6">
                <div class="text-right">
                  <!--  <a href="#" class="btn btn-primary m-b-md btn-small" data-dismiss="modal" data-toggle="modal">Download
                    CSV</a>-->
                  <div class="token-font" >
                    <span style="padding-right: 0px!important;">Wallet Balance</span>{{data.history.bal}} ETH
                  </div>
                </div>
              </div>

            </div>


            <div class="table-responsive coman-table" id="owner-detail-btn">
              <table class="table dataTables-example">
                <thead>
                  <tr>
                    <th>Date - Time</th>
                    <th>Token Code</th>

                    <th>Number of Token</th>
                    <th>Status</th>
                    <th>Gas Value</th>

                  </tr>
                </thead>
                <tbody>
                  {{#each data.history.transactionHistory}}
                  <tr>
                    <td>{{this.date}}</td>
                    <td>{{this.symbol}}</td>
                    <td>{{this.quantity}}</td>
                    <td>{{this.details}}</td>
                    <td>{{this.gasValue}}</td>
                    <!-- <td>In process</td> -->
                    <!-- <td><a href="#"  data-toggle="modal" data-target="#Status-modal" ><i class="fa fa-eye" aria-hidden="true"></i></a></td> -->
                  </tr>
                  {{/each}}

                </tbody>
              </table>
            </div>
            <!-- kyc documents -->
            <div class="box-heading">
              <h2 class="m-t-md m-b-md">KYC/AML Documents</h2>
            </div>
            <div class="row" id="kyc-doc">

              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

                <div class="box">
                  <label>ID proof</label>
                  {{#ifCond data.user.kycIdProofType '!=' 'pdf'}}
                  <img src="../media/userKyc/idProof/{{data.user.kycIdProof}}" alt=""  onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
                  {{/ifCond}}

                  {{#ifCond data.user.kycIdProofType '==' 'pdf'}}
                  <a href="../media/userKyc/idProof/{{data.user.kycIdProof}}" target="_blank"><img
                      src="../assets/admin/img/pdf-icon.png"></a>
                  {{/ifCond}}
                  <i class="fa fa-search-plus" aria-hidden="true"></i>
                </div>
                <div class="text-center m-b-md">
                  {{#ifCond data.user.kycIdProofStatus '==' 'verified'}}
                  <label class="font-18">Approved <i class="fa fa-check" aria-hidden="true"></i></label>
                  {{else}}
                    {{#ifCond data.user.kycIdProofStatus '==' 'reject'}}
                    <label class="font-18">Rejected <i class="fa fa-times" aria-hidden="true"></i></label>
                    {{else}}                
                    <button href="#sent-modal" class="btn m-r-sm btn-primary btn-small max-83 kyc_submit"
                    data-uploaddata="kycUploadIdProof" data-isapproved="true" data-dismiss="modal"
                    data-toggle="modal">Approve</button>
                    <button class="btn btn-default max-83 btn-small" data-isapproved="false"
                    data-uploadData="kycUploadIdProof" data-dismiss="modal" data-target="#reject-modal"
                    data-toggle="modal">Reject</a>
                    {{/ifCond}}
                  {{/ifCond}}                   
                </div>

              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="box">
                  <label>Address proof</label>

                  {{#ifCond data.user.kycAddressProofType '!=' 'pdf'}}
                  <img src="../media/userKyc/addressProof/{{data.user.kycAddressProof}}" alt=""  onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
                  {{/ifCond}}

                  {{#ifCond data.user.kycAddressProofType '==' 'pdf'}}
                  <a href="../media/userKyc/addressProof/{{data.user.kycAddressProof}}" target="_blank"><img
                      src="../assets/admin/img/pdf-icon.png"></a>
                  {{/ifCond}}
                  <i class="fa fa-search-plus" aria-hidden="true"></i>



                </div>
                <div class="text-center m-b-md">
                  {{#ifCond data.user.kycAddressProofStatus '==' 'verified'}}
                  <label class="font-18">Approved <i class="fa fa-check" aria-hidden="true"></i></label>
                  {{else}}
                    {{#ifCond data.user.kycAddressProofStatus '==' 'reject'}}
                    <label class="font-18">Rejected <i class="fa fa-times" aria-hidden="true"></i></label>
                    {{else}}                
                    <button href="#sent-modal" class="btn m-r-sm btn-primary btn-small max-83 kyc_submit"
                    data-uploadData="kycUploadAddressProof" data-isapproved="true" data-dismiss="modal"
                    data-toggle="modal">Approve</button>
                  <button class="btn btn-default max-83 btn-small" data-isapproved="false"
                    data-uploadData="kycUploadAddressProof" data-dismiss="modal" data-target="#reject-modal"
                    data-toggle="modal">Reject</button>
                    {{/ifCond}}
                  {{/ifCond}}                       
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="box">
                  <label>Holding documents</label>
                  {{#ifCond data.user.kycKycUploadWithSelfiePhotoType '==' 'pdf'}}
                  <a href="../media/userKyc/withSelfiePhotoIdFile/{{data.user.kycSelfieProof}}" target="_blank"><img
                      src="../assets/admin/img/pdf-icon.png"></a>
                  {{/ifCond}}

                  {{#ifCond data.user.kycKycUploadWithSelfiePhotoType '!=' 'pdf'}}
                  <img src="../media/userKyc/withSelfiePhotoIdFile/{{data.user.kycSelfieProof}}" alt="" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
                  {{/ifCond}}
                  <i class="fa fa-search-plus" aria-hidden="true"></i>
                </div>
                <div class="text-center m-b-md">
                  
                   {{#ifCond data.user.KycUploadWithSelfiePhotoStatus '==' 'verified'}}
                  <label class="font-18">Approved <i class="fa fa-check" aria-hidden="true"></i></label>
                  {{else}}
                    {{#ifCond data.user.KycUploadWithSelfiePhotoStatus '==' 'reject'}}
                    <label class="font-18">Rejected <i class="fa fa-times" aria-hidden="true"></i></label>
                    {{else}}                
                     <button href="#sent-modal" class="btn m-r-sm btn-primary btn-small max-83 kyc_submit"
                    data-uploadData="KycUploadWithSelfiePhoto" data-isapproved="true" data-dismiss="modal"
                    data-toggle="modal">Approve</button>
                  <button href="#reject-modal" class="btn btn-default max-83 btn-small" data-isapproved="false"
                    data-uploadData="KycUploadWithSelfiePhoto" data-dismiss="modal" data-target="#reject-modal"
                    data-toggle="modal">Reject</button>
                    {{/ifCond}}
                  {{/ifCond}} 
                </div>
              </div>

            </div>
            <!--// kyc documents -->
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
</div>
<div class="modal coman-modal  fade" id="Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm modal-a" role="document">
    <div class="modal-content text-center">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2>Status</h2>
      <div class="form-group text-left">
        <label> <span>Document 1 :</span> Approve</label>

      </div>
      <div class="form-group text-left">
        <label><span>Document 2 : </span> Reject Image is Blur</label>

      </div>
      <div class="form-group  text-left">
        <label><span>Document 3 : </span> Approve</label>

      </div>



    </div>
  </div>
</div>

<!-- IMAGE MODAL --><div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">
    {{#each data.user.imgArr}}

      

    <div class="mySlides">
      <img src="../media/userKyc/{{this}}" style="width:100%">
    </div>

    {{/each}}

    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>


    
    </div>
  </div>
{{!-- aditi --}}
{{!-- <div id="myModal" class="modal kyc myModal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  {{!-- <img class="modal-content-A img01"> --}}

  <div class="owl-carousel owl-theme">
    <div class="item">
      <img class="modal-content-A img01">
    </div>
    <div class="item">
      <img class="modal-content-A img01">
    </div>
    <div class="item">
      <img class="modal-content-A img01">
    </div>
  </div> --}}

  <!-- <div id="caption"></div> -->
</div>
<div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-a" role="document">
    <div class="modal-content text-center">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div id="content">
      </div>
    </div>
  </div>
</div>
<div class="modal coman-modal  fade" id="reject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-a" role="document">
    <div class="modal-content text-center">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <h2>Reason</h2>
      <span id="error" class="error text-danger"></span>
      <form>
        <input name="uploadData" type="hidden" id="uploadData" />
        <input name="kycStatus" type="hidden" id="kycStatus" />
        <div class="form-group">
          <textarea class="form-control" placeholder="Enter the Reason of Rejection" id="reason"
            name="reason"></textarea>
        </div>
        <a id="kyc_submit" name="kyc_submit" class="btn m-r-sm btn-primary btn-small max-83 kyc_submit"
          data-isapproved="false" data-dismiss="modal" data-toggle="modal">Submit</a>

      </form>
    </div>
  </div>
</div>
<script src="../assets/admin/js/custom/memberDetail.js"></script>

{{!-- 
<!-- zoom kyc document -->
<script>
  // Get the <span> element that closes the modal
  function openModal() {
    document.getElementsByClassName('myModal').style.display = "block";
  }

  function closeModal() {
    document.getElementsByClassName('myModal')[0].style.display = "none";
  }

 $(document).ready(function () {
  $('.dataTables-example').DataTable({ 
      dom: 'Blftip',
      autoWidth:false,
      scrollX :true,
      language: {
        searchPlaceholder: "Search"
      },
      buttons: [
        {
          extend: 'csv',
          text: 'Download CSV',
          title: 'Transaction History'
        }
      ],
    
    })
  });
  </script> --}}

{{!-- <script>
  $('.owl-carousel').owlCarousel({
    margin:10,
    nav:true,
    dots: false,
    items: 1
  })
</script> --}}

<script>
      $(document).ready(function(){
        $('.dataTables-example').DataTable(                       );
        /* Init DataTables */
                             
      }
    );
    </script>


<script>
 function openModal() {
  document.getElementById("myModal").style.display = "block";
}

function closeModal() {
  document.getElementById("myModal").style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
