<div class="wrapper wrapper-content">
   <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="ibox">
            <div class="ibox-content">
               <div class="box-heading">
                  <div class="row">
                     <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <h2>My Account</h2>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                     </div>
                  </div>

               </div>

               <div class="my-ac-section">
                  <b><span id="account_error" class="error text-danger"></span><b>

                        <form id="myaccount_form" name="myaccount_form" enctype="multipart/form-data" method="post">
                           <div class="my-ac-img">
                              <img alt="" id="profile_image">
                              <div class="browse-btn">
                                 <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                 <input type="file" id="profile_pic" name="profile_pic" onchange="readURL(this);"
                                    accept="image/*" />
                              </div>
                           </div>
                           <div class="form-group usr-form">
                              <img src="../assets/admin/img/form-icon3.png">
                              <input type="text" placeholder="First Name" class="form-control"
                                 value="{{data.userData.firstName}}" name="firstName" id="firstName">
                           </div>
                           <div class="form-group usr-form">
                              <img src="../assets/admin/img/form-icon3.png">
                              <input type="text" placeholder="Last Name" class="form-control"
                                 value="{{data.userData.lastName}}" name="lastName" id="lastName">
                           </div>
                           <div class="form-group ph-form">
                              <img src="../assets/admin/img/form-icon4.png">
                              <input type="text" placeholder="Mobile Number" class="form-control" readonly
                                 value="{{data.userData.countryCode }}{{data.userData.phoneNumber}}" readonly>
                           </div>
                           <!--<div id="phone">

                              <select class="form-control" name="countryCode" id="country_code"
                                 value="{{data.userData.countryCode}}">

                              </select>
                              <div class="form-group ph-form">
                                 <img src="../assets/user/img/form-icon4.png">
                                 <input class="form-control" type="text" name="phone" id="phone"
                                    placeholder="Phone Number" maxlength="15" value="{{data.userData.phoneNumber}}">
                              </div>
                           </div>-->
                           <div class="form-group eml-form">
                              <img src="../assets/admin/img/form-icon1.png">
                              <input type="text" placeholder="Email" class="form-control"
                                 value="bluemorphotokens.org" readonly>
                           </div>
                           <div class="clearfix change-pw">

                              <a href="#" data-toggle="modal" data-target="#modal-change-pw"><img
                                    src="../assets/admin/img/key.png" alt="">
                                 Change Password</a>
                           </div>
                           <div class="clearfix">
                              <button type="submit" data-toggle="modal" data-modal="dismiss"
                                 class="btn btn-primary btn-block">Update</button>
                           </div>
                        </form>
               </div>

            </div>
         </div>
      </div>
   </div>


</div>
</div>
</div>

<div class="modal fade coman-modal" id="modal-change-pw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-a" role="document">
        <form id="change_password_form" name="change_password_form">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2>Change Password</h2>
                <span id="change-password-error" class="error text-danger"></span>
                <div class="form-group pw-form">
                    <img src="../assets/user/img/form-icon2.png">
                    <input type="password" class="form-control" placeholder="Old Password" id="old_password"
                        name="old_password">
                </div>
                <div class="form-group pw-form">
                    <img src="../assets/user/img/form-icon2.png">
                    <input type="password" class="form-control" placeholder="New Password" id="new_password"
                        name="new_password">
                </div>
                <div class="form-group pw-form">
                    <img src="../assets/user/img/form-icon2.png">
                    <input type="password" class="form-control" placeholder="Confirm New Password" id="confirm_password"
                        name="confirm_password">
                </div>
                <button type="submit" class="btn btn-primary" name="changePassword" id="changePassword">Submit</button>
            </div>
        </form>
    </div>
</div>
<div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog  modal-a" role="document">
      <div class="modal-content text-center">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
         </button>
         <div id="content"></div>
      </div>
   </div>>
</div>
<div class="modal coman-modal  fade" id="pwd-changed-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="success-msg-icon">
                <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

            </div>
            <h2>Your Password has been changed Successfully!!</h2>
        </div>
    </div>
</div>
</div>

<script>
   let image = "../media/profilePicture/" + "{{data.userData.profileImage}}";
   //set updated Image.
   $('#profile_image').attr('src', image);
   function readURL(input) {
      // console.log($(input).val());
      if (input.files && input.files[0]) {
         console.log(input.files[0]);
         var reader = new FileReader();
         reader.onload = function (e) {
            $('#profile_image').attr('src', e.target.result);
         };

         reader.readAsDataURL(input.files[0]);
      }
   }
</script>
<script src="../assets/admin/js/custom/myAccount.js"></script>
<script src="../assets/admin/js/custom/changePasswordAdmin.js"></script>