<div class="wrapper wrapper-content" id="token-det">
   <h1>Tokens</h1>
   <h2 class="m-t-lg">BM Token</h2>
   <div class="row">
      <div class="col-md-12">
         <div class="token-list">
            <div class="row ">
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="detail-title-a">
                     <p><span>Token Name:</span>John Doue</p>
                     <p><span>Symbol:</span>ABC</p>
                     <p><span>Total Tokens: </span>100000</p>


                  </div>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="detail-title-a">
                     <p><span>Sold Tokens:</span>85000</p>
                     <p><span>Outstanding Tokens:</span>20000</p>
                     <p><span>Contract Adress:</span>oxldjsdhohdls544654</p>


                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <h2 class="m-t-lg">BM Token</h2>
   <div class="row">
      <div class="col-md-12">
         <div class="token-list">
            <div class="row ">
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="detail-title-a">
                     <p><span>Token Name:</span>John Doue</p>
                     <p><span>Symbol:</span>ABC</p>
                     <p><span>Total Tokens: </span>100000</p>


                  </div>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="detail-title-a">
                     <p><span>Sold Tokens:</span>85000</p>
                     <p><span>Outstanding Tokens:</span>20000</p>
                     <p><span>Contract Adress:</span>oxldjsdhohdls544654</p>


                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <h2 class="m-t-lg">BM Token</h2>
   <div class="row">
      <div class="col-md-12">
         <div class="token-list">
            <div class="row ">
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="detail-title-a">
                     <p><span>Token Name:</span>John Doue</p>
                     <p><span>Symbol:</span>ABC</p>
                     <p><span>Total Tokens: </span>100000</p>


                  </div>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="detail-title-a">
                     <p><span>Sold Tokens:</span>85000</p>
                     <p><span>Outstanding Tokens:</span>20000</p>
                     <p><span>Contract Adress:</span>oxldjsdhohdls544654</p>


                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <h2 class="m-t-lg">BM Token</h2>
   <div class="row">
      <div class="col-md-12">
         <div class="token-list">
            <div class="row ">
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="detail-title-a">
                     <p><span>Token Name:</span>John Doue</p>
                     <p><span>Symbol:</span>ABC</p>
                     <p><span>Total Tokens: </span>100000</p>


                  </div>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="detail-title-a">
                     <p><span>Sold Tokens:</span>85000</p>
                     <p><span>Outstanding Tokens:</span>20000</p>
                     <p><span>Contract Adress:</span>oxldjsdhohdls544654</p>


                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
</div>