<div class="wrapper wrapper-content">

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ibox">
        <div class="ibox-content" id="history">
          <div class="box-heading">

            <h2>Transactions
            </h2>

          </div>
          <div class="text-right m-b-md">
            <a href="#sent-modal" class="btn btn-primary btn-small min-135" data-dismiss="modal"
              data-toggle="modal">Send Tokens</a>
            {{!-- <a href="#" class="btn btn-default min-135 btn-small" data-toggle="modal">Download CSV</a> --}}
          </div>

          <div class="table-responsive coman-table transactions" id="owner-detail-btn">
            <table class="table dataTables-example" id="transactions" style="width:100%;">
              <thead>
                <tr>
                  {{!-- <th>Email</th> --}}
                  <th>Date-Time</th>
                  <th>Token</th>
                  <th>To</th>
                  <th>From</th>
                  <th>Quantity</th>
                  <th>Transaction Id</th>
                  <th>Gas Value</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {{#each data.history}}
                <tr>
                  {{!-- <td>{{this.symbol}}</td> --}}
                  <td>{{this.newDate}}</td>
                  <td>{{this.symbol}}</td>
                  <td>{{this.to}}</td>
                  <td>{{this.from}}</td>
                  <td>{{this.quantity}}</td>
                  <td>{{this.txHash}}</td>
                  <td>{{this.gasValue}}</td>
                  <td>{{this.details}}</td>


                  <!-- <td>In process</td> -->
                  <!-- <td><a href="#"  data-toggle="modal" data-target="#Status-modal" ><i class="fa fa-eye" aria-hidden="true"></i></a></td> -->
                </tr>
                {{/each}}

              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>
</div>
</div>
<div class="modal coman-modal  fade" id="Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm modal-a" role="document">
    <div class="modal-content text-center">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2>Status</h2>
      <div class="form-group text-left">
        <label> <span>Doucment 1 :</span> Approve</label>

      </div>
      <div class="form-group text-left">
        <label><span>Doucment 2 : </span> Reject Image is Blur</label>

      </div>
      <div class="form-group  text-left">
        <label><span>Doucment 3 : </span> Approve</label>

      </div>



    </div>
  </div>
</div>
<div id="myModal" class="modal kyc ">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <img class="modal-content" id="img01">
  <!-- <div id="caption"></div> -->
</div>
<!--<div class="modal coman-modal  fade" id="sent-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-a" role="document">
    <div class="modal-content text-center">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2>Token Transfer</h2>
      <div class="form-group text-left">

        <label>From Wallet Adress :</label>
					<input type="text" name="from_address" id="from_address" class="form-control" value="0x2FF312a35e4bBD2158997D90CC81bC298059F2D1" disabled placeholder="Wallet Address">
      </div>
      <div class="form-group text-left">
        <label>To Wallet Adress :</label>
					<input type="text" name="address" id="address" class="form-control" placeholder="Wallet Address">
      </div>

      <div class="form-group text-left">
        <label>Amount :</label>
					<input type="text" name="amount" id="amount" class="form-control" placeholder="Amount">
      </div>
      <div class="form-group  text-left">
        <label>Token Name :</label>
        <select class="form-control" id="token" name="token">
						<option value="">Select Token</option>
						<option value="bmt">BMT</option>
						<option value="iai">IAI</option>
						<option value="fgm">FGM</option>
						<option value="oeg">OEG</option>
					</select>
      </div>
      <a href="#cong-modal" class="btn btn-primary btn-small m-t-sm" data-dismiss="modal" data-toggle="modal">Send
        Token</a>


    </div>
  </div>
</div>-->
<div class="modal coman-modal  fade" id="sent-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div id="loader1" style="display: none;">
    <div id="loader-svg">
      <img src="../assets/admin/img/3.svg" width="50" height="50">
      <p style="color: white;font-size:20px;" class="popup-loader">Please wait while the blockchain records your
        transaction.
        Do not leave this page until the transaction is verified.</p>
    </div>
  </div>
  <form id="form_token" name="form_token" method="post">
    <div class="modal-dialog  modal-a" role="document">
      <div class="modal-content text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2>Send Tokens</h2>
        <span id="error" class="error text-danger"></span>
        <div class="form-group text-left">

          <label>From Wallet Adress :</label>
          <input type="text" name="from_address" id="from_address" class="form-control" value="{{data.walletAddress}}"
            disabled placeholder="Wallet Address">
        </div>
        <div class="form-group text-left">
          <label>Wallet Adress :</label>
          <input type="text" name="toAddress" id="toAddress" class="form-control" placeholder="Wallet Address">
        </div>
        <div style="display: flex; flex-direction:column">
          <span class="text-red-left" id="wrongWallet"></span>
        </div>


        <div class="form-group text-left">
          <label class="text">Amount </label><span class="text-red"> (Minimum 0.00000001) </span>:
          <input type="text" min=0.00000001 name="amount" id="amount" class="form-control" placeholder="Amount">
        </div>
        <span class="gas_value" id="gasValue"></span>
        <div class="form-group  text-left">
          <label>Token Name :</label>
          <select class="form-control" id="token" name="token">
            <option value="">Select Token</option>
            <option value="Bmt">BMT</option>
            <option value="Iai">IAI</option>
            <option value="Fgm">FGM</option>
            <option value="Oeg">OEG</option>
          </select>
        </div>
        <button class="btn btn-primary btn-small m-t-sm" id="transferTokenBtn" type="submit">Send
          Tokens</button>
      </div>
    </div>
  </form>
</div>
<div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-a" role="document">
    <div class="modal-content text-center">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div id="content">

      </div>
    </div>
  </div>
</div>
<div class="modal coman-modal  fade" id="reject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-a" role="document">
    <div class="modal-content text-center">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <h2>Reason</h2>
      <div class="form-group">
        <textarea class="form-control" placeholder="Enter the Reason of Rejection"></textarea>

      </div>
      <a href="#cong-modal" class="btn m-r-sm btn-primary btn-small max-83" data-dismiss="modal"
        data-toggle="modal">Submit</a>


    </div>
  </div>
</div>

<!-- zoom kyc document -->
<script type="text/javascript">

  // Get the <span> element that closes the modal
  function openModal() {
    document.getElementById('myModal').style.display = "block";
  }

  function closeModal() {
    document.getElementById('myModal').style.display = "none";
  } 
</script>
<script>
  $(document).ready(function () {

    var table = $('.dataTables-example').DataTable({
      dom: 'Blftip',
      autoWidth: false,
     // scrollX :true,
      "bAutoWidth": false,

      language: {
        searchPlaceholder: "Search"
      },
      buttons: [
        {
          extend: 'csv',
          text: 'Download CSV',
          title: 'Transactions'

        }
      ],
    });
    $(window).resize(function () {
      
        table.draw(true)

      //}
    });

  });
</script>
<script src="../assets/admin/js/custom/transferTokenAdmin.js"></script>
</body>

</html>