<div class="wrapper wrapper-content">
	<div class="property-dtl-tab investor-details">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation padding-right" class="active">

				<a href="#prt-tab1" aria-controls="home" role="tab" data-toggle="tab">

					<div class="ibox-content">
						<div class="admin-box-heading text-center">
							<img src="../assets/user/img/token4.png" width="70"
								style="width: 70px; margin-bottom: 10px;">

							<h2>{{data.bmttoken.token.symbol}}</h2>
							{{!-- <h2>{{data.bmt.balance}}</h2> --}}
						</div>
					</div>
				</a>
			</li>
			<li role="presentation">
				<a href="#prt-tab3" aria-controls="profile" role="tab" data-toggle="tab">
					<div class="ibox-content">
						<div class="admin-box-heading text-center">
							<img src="../assets/user/img/token2.png" width="70"
								style="width: 70px; margin-bottom: 10px;">
							<h2>{{data.fgmtoken.token.symbol}}</h2>
							{{!-- <h2>{{data.fgm.balance}}</h2> --}}
						</div>
					</div>
				</a>
			</li>
			<li role="presentation padding-right">
				<a href="#prt-tab2" aria-controls="profile" role="tab" data-toggle="tab">
					<div class="ibox-content">
						<div class="admin-box-heading text-center">
							<img src="../assets/user/img/token1.png" width="70"
								style="width: 70px; margin-bottom: 10px;">

							<h2>{{data.iaitoken.token.symbol}}</h2>
							{{!-- <h2>{{data.iai.balance}}</h2> --}}
						</div>
					</div>
				</a>
			</li>

			<li role="presentation">
				<a href="#prt-tab4" aria-controls="profile" role="tab" data-toggle="tab">
					<div class="ibox-content">
						<div class="admin-box-heading text-center">
							<img src="../assets/user/img/token3.png" width="70"
								style="width: 70px; margin-bottom: 10px;">

							<h2>{{data.oegtoken.token.symbol}}</h2>
							{{!-- <h2>{{data.oeg.balance}}</h2> --}}
						</div>
					</div>
				</a>
			</li>


		</ul>
		<!-- Tab panes -->
		<div class="tab-content " id="tab-content-a">
			<div role="tabpanel" class="tab-pane active" id="prt-tab1">

				<div class="details m-b-sm">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<div class="token-font">
								<span>SENT</span> {{data.bmttoken.sent}}
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-left">
							<div class="token-font">
								<span>RECEIVED</span>{{data.bmttoken.received}}
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-left">
							<div class="token-font">
								<span>TOTAL</span>{{data.bmttoken.token.balance}}
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-left">
							<div class="token-font">
								<span>BALANCE</span>{{data.bal}} ETH
							</div>
						</div>

					</div>
				</div>
				<div class="table-responsive coman-table" id="owner-detail-btn">
					<table class="table dataTables-example">
						<thead>
							<tr>
								<th>Date - Time</th>
								<th>Quantity</th>
								<th>Status</th>
								<th>Gas Value</th>

							</tr>
						</thead>
						<tbody>
							{{#each data.bmttoken.history}}
							<tr>
								<td><a href="/user/history">{{this.date}}</a></td>
								<td>{{this.quantity}}</td>
								<td>{{this.details}}</td>
								<td>{{this.gasValue}}</td>
								<!-- <td>In process</td> -->
								<!-- <td><a href="#"  data-toggle="modal" data-target="#Status-modal" ><i class="fa fa-eye" aria-hidden="true"></i></a></td> -->
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>




			<div role="tabpanel" class="tab-pane" id="prt-tab2">
				<div class="details m-b-sm">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<div class="token-font">
								<span>SENT</span> {{data.iaitoken.sent}}
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-left">
							<div class="token-font">
								<span>RECEIVED</span>{{data.iaitoken.received}}
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-left">
							<div class="token-font">
								<span>TOTAL</span>{{data.iaitoken.token.balance}}
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-left">
							<div class="token-font">
								<span>BALANCE</span>{{data.bal}} ETH
							</div>
						</div>

					</div>
				</div>
				<div class="table-responsive coman-table" id="owner-detail-btn text-left">
					<table class="table dataTables-example">
						<thead>
							<tr>
								<th>Date - Time</th>
								<th>Quantity</th>
								<th>Status</th>
								<th>Gas Value</th>
							</tr>
						</thead>
						<tbody>
						{{#each data.iaitoken.history}}
							<tr>
								<td>{{this.date}}</td>
								<td>{{this.quantity}}</td>
								<td>{{this.details}}</td>
								<td>{{this.gasValue}}</td>
								<!-- <td>In process</td> -->
								<!-- <td><a href="#"  data-toggle="modal" data-target="#Status-modal" ><i class="fa fa-eye" aria-hidden="true"></i></a></td> -->
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="prt-tab3">
				<div class="details m-b-sm">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<div class="token-font">
								<span>SENT</span> {{data.fgmtoken.sent}}
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-left">
							<div class="token-font">
								<span>RECEIVED</span>{{data.fgmtoken.received}}
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-left">
							<div class="token-font">
								<span>TOTAL</span>{{data.fgmtoken.token.balance}}
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-left">
							<div class="token-font">
								<span>BALANCE</span>{{data.bal}} ETH
							</div>
						</div>

					</div>
				</div>
				<div class="table-responsive coman-table" id="owner-detail-btn">
					<table class="table dataTables-example">
						<thead>
							<tr>
								<th>Date - Time</th>


								<th>Quantity</th>
								<th>Status</th>
								<th>Gas Value</th>

							</tr>
						</thead>
						<tbody>
						{{#each data.fgmtoken.history}}
							<tr>
								<td>{{this.date}}</td>
								<td>{{this.quantity}}</td>
								<td>{{this.details}}</td>
								<td>{{this.gasValue}}</td>
								<!-- <td>In process</td> -->
								<!-- <td><a href="#"  data-toggle="modal" data-target="#Status-modal" ><i class="fa fa-eye" aria-hidden="true"></i></a></td> -->
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="prt-tab4">
				<div class="details m-b-sm">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<div class="token-font">
								<span>SENT</span> {{data.oegtoken.sent}}
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-left">
							<div class="token-font">
								<span>RECEIVED</span>{{data.oegtoken.received}}
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-left">
							<div class="token-font">
								<span>TOTAL</span>{{data.oegtoken.token.balance}}
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-left">
							<div class="token-font">
								<span>BALANCE</span>{{data.bal}} ETH
							</div>
						</div>

					</div>
				</div>
				<div class="table-responsive coman-table" id="owner-detail-btn">
					<table class="table dataTables-example">
						<thead>
							<tr>
								<th>Date - Time</th>
								<th>Quantity</th>
								<th>Status</th>
								<th>Gas Value</th>
							</tr>
						</thead>
						<tbody>
							{{#each data.oegtoken.history}}
							<tr>
								<td>{{this.date}}</td>
								<td>{{this.quantity}}</td>
								<td>{{this.details}}</td>
								<td>{{this.gasValue}}</td>
								<!-- <td>In process</td> -->
								<!-- <td><a href="#"  data-toggle="modal" data-target="#Status-modal" ><i class="fa fa-eye" aria-hidden="true"></i></a></td> -->
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

</div>
<div class="footer1">
       <a href="http://bluemorphotokens.com/contact-us/" target="_blank">Contact</a>  &bull; <a href="http://bluemorphotokens.com/terms-conditions/" target="_blank">Terms and Conditions of Use</a>  &bull; <a href="http://bluemorphotokens.com/privacy-policy/" target="_blank">Privacy Policy</a>   &bull; <a href="http://bluemorphotokens.com/faqs/" target="_blank">FAQ</a>  
</div>
</div>
 
<script>
 $(document).ready(function () {
  $('.dataTables-example').DataTable({ 
      dom: 'Blftip',
      autoWidth:false,
    //  scrollX :true,
      language: {
        searchPlaceholder: "Search"
      },
      buttons: [
        {
          extend: 'csv',
          text: 'Download CSV',
          title: 'Tokens'
        }
      ],
    
    })
  });
</script>