
<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blue Morpho Tokens</title>


	<link rel="icon" type="image/ico" href="../assets/user/img/logo-modal.png">
    <link href="../assets/user/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/user/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../assets/user/css/animate.css" rel="stylesheet">
    <link href="../assets/user/css/style.css" rel="stylesheet">
    <link href="../assets/user/css/mystyle-coman.css" rel="stylesheet">
    <link href="../assets/user/css/media.css" rel="stylesheet">
      <link href="../assets/user/css/admin-style.css" rel="stylesheet">

</head>

<body>
  <div id="wrapper">
    <!-- log in html -->
    <div id="loader" style="display: none;">
      <div id="loader-svg">
        <img src="../assets/user/img/3.svg" width="50" height="50" >
      </div>
    </div>
        
    <div class=" coman-modal coman-modal-a" id="sign-in">
       {{!-- <form  name="login_form" id="login_form" method="post" >  
      <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content  text-center">
          <img src="../assets/user/img/logo-modal.png" alt="" width="120">
          <h1>Sign In</h1>
          <b><span id="error" class="error text-danger"></span></b> 
          <div class="form-group">
            <img src="../assets/user/img/form-icon1.png">
            <input type="email" class="form-control" placeholder="Email" name="email" >
            <!--<span class="error text-danger" for="email"></span>-->
          </div>

          <div class="form-group pass-word">
            <img src="../assets/user/img/form-icon2.png">
            <input type="password" class="form-control" name="password" placeholder="Password" >
            <input type="hidden" id="type"  name="type" value="user" class="form-control">

          </div>
          <!--<span class="error text-danger" id="response"></span>-->
          <button type="submit" class="btn btn-primary" >SIGN IN</button>
          <button data-toggle="modal" data-target="#sign-up" type="button" class="btn btn-default m-t-sm"
            onclick="location.href='signUp'">CREATE ACCOUNT </button>
          <div class="forgot-link m-t-md text-center">
            <a href="../assets/user/#" data-toggle="modal" data-target="#forgot-pw-modal" data-dismiss="modal">Forgot
              Password?</a>
          </div>
        </div>
      </div>
       </form> --}}
    <div class="test">   <img height="200px" style="box-align: center"  src="{{data.pic}}"></div>
           
    </div>
    {{data.secretCode}}
       <div style="align-items: center"><button>Next</button></div>   

 
    <!-- log in html -->
  </div>



  <!-- forgot password -->
  <div class="modal coman-modal  fade" id="forgot-pw-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
      <form id="forget_form" name="forget_form" method="post">
      <div class="modal-content text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <img src="../assets/user/img/logo-modal.png" alt="">
        <h2>Forgot Password</h2>
        <div class="form-group">
          <img src="../assets/user/img/form-icon1.png">
          <input type="email" class="form-control" placeholder="Email" id="forget_email" name="forget_email">
          <span class="error" id="forget_error"></span>
        </div>
        <button type="submit" class="btn btn-primary" 
          data-target="#success-msg" id="forget_btn">Send</button>
      </div>
      </form>
    </div>
  </div>
  <div class="modal coman-modal  fade" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-a" role="document">
      <div class="modal-content text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h1>Successful</h1>
        <div class="success-msg-icon">
          <i class="fa fa-check-circle" aria-hidden="true"></i>

        </div>
        <p>We have sent you a password reset link on your registered mail address.</p>

      </div>
    </div>
  </div>
  <!-- Mainly scripts -->
  <script src="../assets/user/js/jquery-2.1.1.js"></script>
  <script src="../assets/user/js/bootstrap.min.js"></script>
  <script src="../assets/user/js/plugins/metisMenu/jquery.metisMenu.js"></script>
  <script src="../assets/user/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

  <!-- Custom and plugin javascript -->
  <script src="../assets/user/js/inspinia.js"></script>
  <script src="../assets/user/js/plugins/pace/pace.min.js"></script>
  <script src="../assets/user/js/jquery.validate.min.js"></script>
  <script src="../assets/user/js/custom/login.js"></script>
</body>

   <script>
      $(document).ready(function() {
         function disablePrev() { window.history.forward() }
         window.onload = disablePrev();
         window.onpageshow = function(evt) { if (evt.persisted) disableBack() }
      });
   </script>



</html>
           