<div class="wrapper wrapper-content">

	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ibox">
				<div class="ibox-content" id="history">


					<div class="row m-b-lg">
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
							<div class="box-heading">
								<h2>Transaction History</h2>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<div class="text-right">
								<a href="#sent-modal" class="btn btn-primary btn-small" data-dismiss="modal"
									data-toggle="modal">Send Tokens</a>
							</div>
						</div>
					</div>

					<div class=" row">
						<div class="col-lg-12 ">
							<div class=" row">
								<div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
									<div class="box">
										<img src="../assets/user/img/token4.png" width="70"
											style="width: 70px; margin-bottom: 10px;">
										<h4>BMT</h4>
										<h3>{{data.bmtBalance}}</h3>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
									<div class="box">
										<img src="../assets/user/img/token2.png" width="70"
											style="width: 70px; margin-bottom: 10px;">
										<h4>IAI</h4>
										<h3>{{data.iaiBalance}}</h3>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
									<div class="box">
										<img src="../assets/user/img/token1.png" width="70"
											style="width: 70px; margin-bottom: 10px;">
										<h4>FGM</h4>
										<h3>{{data.fgmBalance}}</h3>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
									<div class="box">
										<img src="../assets/user/img/token3.png" width="70"
											style="width: 70px; margin-bottom: 10px;">
										<h4>OEG</h4>
										<h3>{{data.oegBalance}}</h3>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="table-responsive coman-table" id="owner-detail-btn">
						<table class="table dataTables-example" id="history-a" style="width: 100%;">
							<thead>
								<tr>
									<th>Name</th>
									<th>Date</th>
									<th>From</th>
									<th>To</th>
									<th>Quantity</th>
									<th class="width-100" width="100" style="width: 100px !important;">Details</th>
								</tr>
							</thead>
							<tbody>
								{{#each data.transactionHistory}}
								<tr>
									<td>{{this.name}}</td>
									<td>{{this.date}}</td>
									<td>{{this.from}}</td>
									<td>{{this.to}}</td>
									<td>{{this.quantity}}</td>
									<td>{{this.details}}</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>
	</div>


</div>
</div>
<div class="footer1">
       <a href="http://bluemorphotokens.com/contact-us/" target="_blank">Contact</a>  &bull; <a href="http://bluemorphotokens.com/terms-conditions/" target="_blank">Terms and Conditions of Use</a>  &bull; <a href="http://bluemorphotokens.com/privacy-policy/" target="_blank">Privacy Policy</a>   &bull; <a href="http://bluemorphotokens.com/faqs/" target="_blank">FAQ</a>  
</div>
</div>
<div class="modal coman-modal  fade" id="sent-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div id="loader2" style="display: none;">
		<div id="loader-svg">
			<img src="../assets/admin/img/3.svg" width="50" height="50">
		</div>
	</div>
	<form id="form_token" name="form_token" method="post">
		<div class="modal-dialog  modal-a" role="document" id="tokenModal">
			<div class="modal-content text-center">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h2>Send Tokens</h2>
				<span id="error" class="error text-danger"></span>
				<input type="hidden" name="fromAddress" id="fromAddress" class="form-control"
					value="{{data.userWallet}}">
				<div class="form-group text-left">
					<label class="text">Wallet Adress :</label>
					<input type="text" name="toAddress" id="toAddress" autocomplete="off" class="form-control"
						placeholder="Wallet Address">
					<span class="error text-danger" id="wrongWallet" style="display: none;"></span>
				</div>

				<div class="form-group text-left">
					<label class="text">Amount </label><span class="text-red"> (Minimum 0.00000001) </span>:
					<input type="text" min="0.00000001" autocomplete="off" name="amount" id="amount"
						class="form-control" placeholder="Amount">
					<span class="error text-danger" id="amountError" style="display: none;"></span>

				</div>

				<span class="gas_value" id="gasValue"></span>
				<div class="form-group  text-left">
					<label class="text">Token Name : </label>
					<select class="form-control" id="token" name="token" autocomplete="off">
						<option value="">Select Token</option>
						<option value="Bmt">BMT</option>
						<option value="Iai">IAI</option>
						<option value="Fgm">FGM</option>
						<option value="Oeg">OEG</option>
					</select>
					<span class="error text-danger" id="tokenError" style="display: none;"></span>
				</div>
				<button class="btn btn-primary btn-small m-t-sm" id="transferTokenBtn" type="submit">Send
					Tokens</button>
			</div>
		</div>
	</form>
</div>


<div class="modal coman-modal  fade" id="mnemonicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div id="loader3" style="display: none;">
		<div id="loader-svg">
			<img src="../assets/admin/img/3.svg" width="50" height="50">
			<p style="color: white;font-size:20px;" class="popup-loader">Please wait while the blockchain records your
				transaction.
				Do not leave this page until the transaction is verified.</p>
		</div>
	</div>
	<div class="modal-dialog  modal-a" role="document">
		<div class="modal-content text-center">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h3><b>Enter your Secret Seed Phrase (Mnemonic Code)</b></h3>
			<input type="hidden" id="token1" name="token1">
			<input type="hidden" id="fromAddress1" name="fromAddress1">
			<input type="hidden" id="toAddress1" name="toAddress1">
			<input type="hidden" id="amount1" name="amount1">
			<textarea id="mnemonicAddredss" name="mnemonicAddredss" cols="10" rows="3" height="auto"
				class="form-control" style="height: auto;"></textarea>
			<button class="btn btn-primary btn-small m-t-sm" id="mnemonicBtn" type="button">Submit</button>
		</div>
	</div>
</div>


<div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog  modal-a" role="document">
		<div class="modal-content text-center">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div id="content">
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		$('.dataTables-example').DataTable({
			dom: 'Blftip',
			autoWidth: false,
			//scrollX :true,
			"bAutoWidth": false,
			language: {
				searchPlaceholder: "Search"
			},
			buttons: [
				{
					extend: 'csv',
					text: 'Download CSV',
					title: 'Transaction History'
				}
			],

		})

		if (dataTables - example != "") {
			setTimeout(function () {
				dataTables - example.columns.adjust();
			}, 100);
		}
		$(window).resize(function () {
			table.draw(true)
		});
	});

</script>
<script>

</script>
<script src="../assets/user/js/custom/transferToken.js"></script>