		<div class="wrapper wrapper-content">
			 <div class="row">
			 	  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			 	  	   <div class="ibox">
			 	  	   	    <div class="ibox-content">
			 	  	   	    	 <div class="box-heading">
										<h2 class="text-center  line-33">Submit KYC/AML Documents</h2>
			 	  	   	    	 </div>
			 	  	   	    	 
			 	  	   	    	 <div class="kyc-top-bar clearfix">
			 					 	  	   <ul>
			 					 	  	   	   <li class="current">
			 					 	  	   	   	   <div class="box">
			 					 	  	   	   	   	    <div class="icon ic-1"></div>
			 					 	  	   	   	   </div>
			 					 	  	   	   </li>
			 					 	  	   	   <li class="current">
			 					 	  	   	   	   <div class="box">
			 					 	  	   	   	   	    <div class="icon ic-2"></div>
			 					 	  	   	   	   </div>
			 					 	  	   	   </li>
			 					 	  	   	   <li class="current">
			 					 	  	   	   	   <div class="box">
			 					 	  	   	   	   	    <div class="icon ic-3"></div>
			 					 	  	   	   	   </div>
			 					 	  	   	   </li>
			 					 	  	   </ul>
			 					 </div>
			 	  	   	    	 
			 					 <div class="kyc-section">
			 					 	  <h2>Agreement</h2>
										<span id="agree_error" class="error"></span>
			 					 	  <form id="agree_form" name="agree_form" method="post">
			 					 	  <div class="agreement-list">
			 					 	  	   <ul>
			 					 	  	   	   <li>
			 					 	  	   	       <div class="box">
													   <div class="chk">
														    <input type="checkbox" id="agree1" name="agree1">
														    <span></span>
													   </div>
	 					 	  	   	           		   <p>I agree to my identity and proof of address to be processed in line with <a href="http://bluemorphotokens.com/terms-conditions/" target="_blank" >Terms &amp; Conditions of use</a> &amp; <a href="http://bluemorphotokens.com/privacy-policy/" target="_blank">Privacy Policy</a></p>
		 					 	  	   	           </div>
			 					 	  	   	   </li>
			 					 	  	   	   <li>
			 					 	  	   	       <div class="box">
													   <div class="chk">
														    <input type="checkbox" name="agree2" id="agree2">
														    <span></span>
													   </div>
	 					 	  	   	           		   <p>I acknowledge that it may take up to five working days to validate my identity documents.</p>
		 					 	  	   	           </div>
			 					 	  	   	   </li>
			 					 	  	   	  <li>
			 					 	  	   	       <div class="box">
													   <div class="chk">
														    <input type="checkbox" name="agree3" id="agree3">
														    <span></span>
													   </div>
	 					 	  	   	           		   <p>I will be notified by email once my KYC/AML procedure has been completed and my account is activated.</p>
		 					 	  	   	           </div>
			 					 	  	   	   </li>
			 					 	  	   	 
			 					 	  	   </ul>
			 					 	  </div>
			 					 	  
			 					 	  <div class="row m-t-md">
		 					 	  	       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			 					 	  	   	    <div class="form-group">
			 					 	  	   	    	 <button class="btn btn-primary btn-block btn-dark" type="button" onclick="location.href = 'kyc-verification-step-2';" style="display: none;">Previous</button>
			 					 	  	   	    </div>
			 					 	  	   </div>
			 					 	  	   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			 					 	  	   	    <div class="form-group">
			 					 	  	   	    	 <button class="btn btn-primary btn-block" id="agree_submit" disabled type="submit" >Finish</button>
			 					 	  	   	    </div>
			 					 	  	   </div>
			 					 	  </div>
			 					 	  </form>
			 					 </div>
		 	  	   	    
			 	  	   	    </div>
			 	  	   </div>
			 	  </div>
			 </div>
			 
			 
		</div>
        </div>
		<div class="footer1">
       <a href="http://bluemorphotokens.com/contact-us/" target="_blank">Contact</a>  &bull; <a href="http://bluemorphotokens.com/terms-conditions/" target="_blank">Terms and Conditions of Use</a>  &bull; <a href="http://bluemorphotokens.com/privacy-policy/" target="_blank">Privacy Policy</a>   &bull; <a href="http://bluemorphotokens.com/faqs/" target="_blank">FAQ</a>  
</div>
    </div>