<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ibox">
				<div class="ibox-content">
					{{#ifCond data.kyc.flag '==' true}}
					<div class="box-heading text-center ">
						<h2 class="line-35" style="padding-top: 45px;"> Your account will be activated once you verify your identity.<br />To do this, please
							complete our KYC/AML procedure.</h2>
					</div>
					{{else}}
					<div class="box-heading">
						<h2 class="text-center line-33" style="padding-top: 45px !important;">KYC/AML Verification Status</h2>
					</div>
					{{/ifCond}}

					<div class="kyc-status text-center " >
						<img src="../assets/user/img/{{data.kyc.smily}}" alt="">
					</div>

					<div class="  kyc-status text-center " style="padding: 20px 0px 10px 0px !important;">
						{{#ifCond data.kyc.flag '==' true}}
						<h3 class="pad-none line-54"><a style="color:#36a5ca" href="kyc-verification-step-1">{{data.kyc.message}}</a>
							{{#ifCond data.kyc.message2 '!=' ''}}
							<br />{{data.kyc.message2}}
							{{/ifCond}}
						</h3>
					
						{{else}}
						<h3 class="line-54">{{data.kyc.message}}
							{{#ifCond data.kyc.message2 '!=' ''}}
							<br />{{data.kyc.message2}} 
							{{/ifCond}}
						</h3>

						{{/ifCond}}
							<br/>
						{{#ifCond data.kyc.rejectFlag '==' true}}
						<h3 style="padding-bottom: 30px;"><a style="color:#36a5ca" href="kyc-verification-step-1">Click here to Continue</a>							
						</h3>
						{{/ifCond}}
					</div>
				</div>
			</div>
		</div>
	</div>


</div>
</div>
<div class="footer1">
       <a href="http://bluemorphotokens.com/contact-us/" target="_blank">Contact</a>  &bull; <a href="http://bluemorphotokens.com/terms-conditions/" target="_blank">Terms and Conditions of Use</a>  &bull; <a href="http://bluemorphotokens.com/privacy-policy/" target="_blank">Privacy Policy</a>   &bull; <a href="http://bluemorphotokens.com/faqs/" target="_blank">FAQ</a>  
</div>
</div>