<form id="kyc_form" name="kyc_form" method="post" enctype="multipart/form-data">
	<div class="wrapper wrapper-content">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ibox">
					<div class="ibox-content">
						<div class="box-heading">
						<h2 class="text-center  line-33">Submit KYC/AML Documents</h2>
						</div>
						<div class="hiddens">
								<input type="hidden" value="{{data.userData.flagsKycUploadIdProofIsKyc}}"  name="kycId" id="kycId">
								<input type="hidden" value="{{data.userData.flagsKycUploadAddressProofIsKyc}}" name="kycAddress" id="kycAddress">
								<input type="hidden" value="{{data.userData.flagsKycUploadWithSelfiePhotoIsKyc}}" name="kycPhoto" id="kycPhoto">

								<input type="hidden" value="{{data.userData.kycDetailsChooseId}}" name="chooseId" id="chooseId">
								<input type="hidden" value="{{data.userData.kycDetailsChooseAddressId}}" name="chooseAddressId" id="chooseAddressId">

								<input type="hidden" value="{{data.userData.kycDetailsKycIdProof}}" name="kycIdProof" id="kycIdProof">
								<input type="hidden" value="{{data.userData.kycDetailsKycAddressProof}}" name="KycAddressProof" id="KycAddressProof">
								<input type="hidden" value="{{data.userData.kycDetailsKycPhotoId}}" name="KycPhotoId" id="KycPhotoId">
						</div>
						<div class="kyc-top-bar clearfix">
							<ul>
								<li class="current">
									<div class="box">
										<div class="icon ic-1"></div>
									</div>
								</li>
								<li class="current">
									<div class="box">
										<div class="icon ic-2"></div>
									</div>
								</li>
								<li>
									<div class="box">
										<div class="icon ic-3"></div>
									</div>
								</li>
							</ul>
						</div>

						<div class="kyc-section">
							<h2>Upload Documents:</h2>
							<h4 style="padding-bottom: 0px;">Please upload a photo of your Passport or Government-Issued Photo ID.</h4>
							<h3 class="text-center" style="color:white; margin-bottom:30px;">Files should be no larger than 2MB.</h3>
							<label class="error" id="upload_error"></label>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="form-group"> 
										
										<select class="form-control" name="idProof" id="idProof"  {{#ifCond data.userData.flagsKycUploadIdProofIsKyc '==' 'verified'}} disabled {{/ifCond}} required> 
											<option value="">Choose ID Type</option>
											<option value="driving licence">Driving licence</option>
											<option value="passport">Passport</option>
											<option value="Other Government document">Other Government document</option>
										</select>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="form-group">
										<input class="form-control line-27" type="file" {{#ifCond data.userData.flagsKycUploadIdProofIsKyc '==' 'verified'}} disabled {{/ifCond}}
											placeholder="Photo of You Holding Document" onChange="validate(this)"
											name="idProofFile" id="idProofFile"
											accept="application/pdf,image/jpg,image/png,image/jpeg" required />
											<!---<img src="../assets/user/img/right-icon1.png">-->
									</div>
								</div>

							</div>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="form-group">
										<select class="form-control" name="addressProof" id="addressProof" {{#ifCond data.userData.flagsKycUploadAddressProofIsKyc '==' 'verified'}} disabled {{/ifCond}} required>
											<option value="" selected="selected">Choose Proof of Address</option>
											<option value="Utility bill">Utility bill</option>
											<option value="Bank and credit card statement">Bank and credit card
												statement</option>
										</select>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="form-group right-icon ">
										<input class="form-control line-27" type="file" placeholder="Proof of Address Document"
											onChange="validate(this)" required  name="addressProofFile" id="addressProofFile"
											accept="application/pdf,image/jpg,image/png,image/jpeg" {{#ifCond data.userData.flagsKycUploadAddressProofIsKyc '==' 'verified'}} disabled {{/ifCond}}>
									</div>
								</div>

							</div>
							<div class="row"  style="margin-bottom: 10px;">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="form-group dc-fr guide-box text-left m-t-xs">
			 					 	<h3>Selfie Document :</h3>
			 					</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="form-group right-icon">
										<input class="form-control line-27" type="file"
											placeholder="Selfie with Holding Document" onChange="validate(this)"
											name="selfieWithPhoto" id="selfieWithPhoto" required
											accept="application/pdf,image/jpg,image/png,image/jpeg" {{#ifCond data.userData.flagsKycUploadWithSelfiePhotoIsKyc '==' 'verified'}} disabled {{/ifCond}}>
									</div>

								</div>
							</div>

							<div class="row line-20">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="guide-box">
										<h3>How to create the Selfie Document:</h3>
										<p>1. Write your name and today's date on white paper.</p>
										<p>2. Take a selfie with your ID and the paper.</p>
										<p>3. All three documents(you, your ID and your writing) must be clearly visible without cropping or editing.</p>
										<p>4. Dont wear sunglasses,hats, or anything else that obstructs your face.</p>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="guide-box">
										<h3>Examples:</h3>
										<ul>
											<li>
												<div class="box">
													<img src="../assets/user/img/ID-KYC.jpg" alt="">
												</div>
											</li>
											{{!-- <li>
												<div class="box">
													<img src="../assets/user/img/doc2.png" alt="">
												</div>
											</li> --}}
										</ul>
									</div>
								</div>
							</div>

							<div class="row m-t-md">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="form-group">
										<button class="btn btn-primary btn-block btn-dark" type="button"
											onclick="location.href = 'kyc-verification-step-1';">Previous</button>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="form-group">
										<button class="btn btn-primary btn-block" type="submit" id="kycUpload"
											name="kycUpload">Next</button>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>


	</div>
	</div>
	<div class="footer1">
       <a href="http://bluemorphotokens.com/contact-us/" target="_blank">Contact</a>  &bull; <a href="http://bluemorphotokens.com/terms-conditions/" target="_blank">Terms and Conditions of Use</a>  &bull; <a href="http://bluemorphotokens.com/privacy-policy/" target="_blank">Privacy Policy</a>   &bull; <a href="http://bluemorphotokens.com/faqs/" target="_blank">FAQ</a>  
	</div>
	</div>
</form>

<script>
	function validate(file) {

		$(file).next("span").remove();
		let ext = file.value.split(".");
		ext = ext[ext.length - 1].toLowerCase();
		const kb = Math.round(file.files[0].size / 1024);
		let arrayExtensions = ["jpg", "jpeg", "png", "pdf"];

		if (arrayExtensions.lastIndexOf(ext) == -1) {
			$(file).after("<span class=error>Please Select file with valid file extension</span>");
			file.value = "";
		}
		else {
			//If valid file extension then check or file size.
			if (kb > 2048) {
				$(file).after("<span class=error>File size exceeds 2 MB.</span>");
				file.value = "";
			}
			else {
				$(file).next("span").remove();
			}
		}
	}
</script>


<script>
   $(document).ready(function() {
      function disablePrev() { window.history.forward() }
      window.onload = disablePrev();
      window.onpageshow = function(evt) { if (evt.persisted) disableBack() }
   });
</script>