<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ibox">
				<div class="ibox-content">
					<div class="box-heading">
						<h2 class="text-center  line-33">Submit KYC/AML Documents</h2>
					</div>
	
					<div class="kyc-top-bar clearfix">
						<ul>
							<li class="current">
								<div class="box">
									<div class="icon ic-1"></div>
								</div>
							</li>
							<li>
								<div class="box">
									<div class="icon ic-2"></div>
								</div>
							</li>
							<li>
								<div class="box">
									<div class="icon ic-3"></div>
								</div>
							</li>
						</ul>
					</div>

					<div class="kyc-section">
						<h2>Personal Information:</h2>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>First Name :</label>
									<input class="form-control" type="text" placeholder="First Name" value="{{data.userData.firstName}}" disabled>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Last Name :</label>
									<input class="form-control" type="text" placeholder="Last Name" value="{{data.userData.lastName}}" disabled>
								</div>
							</div>

						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="form-group " id="cal">
									<label>Date of Birth :</label>
									<div class="input-group date" data-date-format="dd.mm.yyyy">
										<div class="input-group-addon">
											<span class="glyphicon glyphicon-th"></span>
										</div>
										<input type="text" class="form-control cal-input" placeholder="Date of Birth" value="{{data.userData.dob}}" disabled>

									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Phone No. :</label>
									<input class="form-control" type="tel" placeholder="Phone No." value="+{{data.userData.countryCode}}{{data.userData.phoneNumber}}" disabled>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Email :</label>
									<input class="form-control" type="email" placeholder="Email Address"value="{{data.userData.email}}" disabled>
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Your City :</label>
									<input class="form-control" type="text" placeholder="City" value="{{data.userData.city}}" disabled>

									{{!-- <select class="form-control">
										<option>Select Your City</option>
									</select> --}}
								</div>
							</div>

						</div>

						<div class="row">


							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Your Country :</label>
									<input class="form-control" type="text" placeholder="Country"value="{{data.userData.country}}" disabled>

									{{!-- <select class="form-control">
										<option>Select Your Country</option>
									</select> --}}
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Zip Code: </label>
									<input class="form-control" type="text" placeholder="Zip Code" value="{{data.userData.zipCode}}" disabled>
								</div>
							</div>
						</div>

						<div class="row m-t-md">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-6">
								<div class="form-group">
									<button class="btn btn-primary btn-block" type="submit"
										onclick="location.href = 'kyc-verification-step-2';">Next</button>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>`


</div>
</div>
<div class="footer1">
       <a href="http://bluemorphotokens.com/contact-us/" target="_blank">Contact</a>  &bull; <a href="http://bluemorphotokens.com/terms-conditions/" target="_blank">Terms and Conditions of Use</a>  &bull; <a href="http://bluemorphotokens.com/privacy-policy/" target="_blank">Privacy Policy</a>   &bull; <a href="http://bluemorphotokens.com/faqs/" target="_blank">FAQ</a>  
</div>
</div>