<div class="row">
    <div class="wrapper wrapper-content">
        <!-- Modal -->
        <div class=" coman-modal coman-modal-a" id="authontication">
            <form name="login_form" id="login_form" method="post">
                <div class="modal-dialog  modal-dialog-centered" role="document">
                    <div class="modal-content  text-center">
                        <div class="modal-content text-center">
                            <h1><b>Google Authenticator Code</b></h1>
                            <div class="dropdown ">
                                <b><span id="OTPerror" class="error text-danger"></span></b>
                                {{!-- <p>Enter the verification code sent to your mobile number</p> --}}
                                <div id="form" class="form-otp">
                                    <input type="text" autocomplete="off" class="otp" maxLength="1" size="1" min="0" max="9"
                                        pattern="[0-9]{1}" id="txt1" />
                                    <input type="text" autocomplete="off" class="otp" maxLength="1" size="1" min="0" max="9"
                                        pattern="[0-9]{1}" id="txt2" />
                                    <input type="text" autocomplete="off" class="otp" maxLength="1" size="1" min="0" max="9"
                                        pattern="[0-9]{1}" id="txt3" />
                                    <input type="text" autocomplete="off" class="otp" maxLength="1" size="1" min="0" max="9"
                                        pattern="[0-9]{1}" id="txt4" />
                                    <input type="text" autocomplete="off" class="otp" maxLength="1" size="1" min="0" max="9"
                                        pattern="[0-9]{1}" id="txt5" />
                                    <input type="text" autocomplete="off"class="otp" maxLength="1" size="1" min="0" max="9"
                                        pattern="[0-9]{1}" id="txt6" />
                                    <button class="btn btn-primary m-t-lg" id="submitOTP" type="button">Submit</button>

                                    <b><span id="re-send-otp" class="success text-success"></span></b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<div class="footer1">
       <a href="http://bluemorphotokens.com/contact-us/" target="_blank">Contact</a>  &bull; <a href="http://bluemorphotokens.com/terms-conditions/" target="_blank">Terms and Conditions of Use</a>  &bull; <a href="http://bluemorphotokens.com/privacy-policy/" target="_blank">Privacy Policy</a>   &bull; <a href="http://bluemorphotokens.com/faqs/" target="_blank">FAQ</a>  
</div>
<script src="../assets/user/js/custom/mnemonic.js"></script>