<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="box-heading">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <h2>My Account</h2>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                            </div>
                        </div>

                    </div>
                    <div id="loader" style="display: none;">
                        <div id="loader-svg">
                            <img src="../assets/user/img/3.svg" width="50" height="50">
                        </div>
                    </div>
                    <div class="my-ac-section">
                        <b><span id="account_error" class="error text-danger"></span><b>

                                <form id="myaccount_form" name="myaccount_form" enctype="multipart/form-data"
                                    method="post">
                                    <div class="my-ac-img">
                                        <img alt="" id="profile_image">
                                        <div class="browse-btn">
                                            <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                            <input type="file" id="profile_pic" name="profile_pic"
                                                onchange="readURL(this);" accept="image/*" />
                                        </div>
                                    </div>
                                    {{!-- <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group usr-form">
                                    <img src="../assets/user/img/form-icon3.png">
                                    <input type="text" placeholder="First Name" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                                <div class="form-group usr-form">
                                    <img src="../assets/user/img/form-icon3.png">
                                    <input type="text" placeholder="Last Name" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                                <div class="form-group ph-form">
                                    <img src="../assets/user/img/form-icon4.png">
                                    <input type="text" placeholder="Phone" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group eml-form">
                                    <img src="../assets/user/img/form-icon1.png">
                                    <input type="text" placeholder="Email" class="form-control">
                                </div>
                            </div>
                        </div> --}}
                                    <!--<input type="hidden" name="_method" value="put" />-->

                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group usr-form">
                                                <img src="../assets/user/img/form-icon3.png">
                                                <input type="hidden" id="baseurl" name="baseurl" value="{{BASEURL}}">
                                                <input class="form-control" type="text" name="first_name"
                                                    placeholder="First Name" value="{{data.userData.firstName}}" {{#ifCond data.enabled '==' true}} disabled {{/ifCond}}>
                                            </div>
                                            <div class="form-group usr-form">
                                                <img src="../assets/user/img/form-icon3.png">
                                                <input class="form-control" type="text" name="last_name"
                                                    placeholder="Last Name" value="{{data.userData.lastName}}" {{#ifCond data.enabled '==' true}} disabled {{/ifCond}}>
                                            </div>


                                            <div class="form-group " id="dob">
                                                <div class="input-group date " data-date-format="dd/mm/yyyy" >
                                                    <div class="input-group-addon">
                                                        <span class="glyphicon glyphicon-th"></span>
                                                    </div>
                                                    <input type="text" class="form-control cal-input"
                                                        placeholder="Date of Birth" name="dob"
                                                        value="{{data.userData.dob}}" autocomplete="off"  {{#ifCond data.enabled '==' true}} disabled {{/ifCond}}>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                                            <div class="form-group  add-form">
                                                <img src="../assets/user/img/address-icon3.png">
                                                <select class="form-control " name="country" id="country">
                                                </select>
                                            </div>

                                            <div class="form-group  add-form">
                                                <img src="../assets/user/img/address-icon3.png">
                                                <!--<select class="form-control" id="city" name="city">
                                        <option value="">Select City</option>
                                        <option value="Ahmedabad"> Ahmedabad</option>
                                    </select>-->
                                                <input type="text" name="city" id="city" class="form-control"
                                                    placeholder="City" value="{{data.userData.city}}">
                                            </div>

                                            <div class="form-group  add-form">
                                                <img src="../assets/user/img/address-icon3.png">
                                                <input type="text" name="zipCode" id="zipCode" class="form-control"
                                                    placeholder="Zipcode" value="{{data.userData.zipCode}}">
                                            </div>


                                            {{!-- <div class="form-group pw-form">
                                                <img src="../assets/user/img/form-icon2.png">
                                                    <input class="form-control" type="password" name="password"
                                                    id="password" placeholder="Password">
                                            </div>
                                            <div class="form-group pw-form">
                                                <img src="../assets/user/img/form-icon2.png">
                                                <input class="form-control" type="password" name="confirm_password"
                                                    placeholder="Confirm Password">
                                            </div> --}}
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group eml-form">
                                                <img src="../assets/user/img/form-icon1.png">
                                                <input class="form-control" type="email" placeholder="Email"
                                                    name="email" id="email" value="{{data.userData.email}}"
                                                    disabled="disabled">
                                            </div>
                                            <div class="form-group add-form">
                                                <img src="../assets/user/img/address-icon3.png">
                                                <textarea cols="20" rows="4" class="form-control" id="address"
                                                    name="address"
                                                    placeholder="Address">{{data.userData.address}}</textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix change-pw change-mobile">
                                        <a href="#" data-toggle="modal" class="change-number-modal"
                                            data-target="#modal-change-phone"><img src="../assets/user/img/phone.png"
                                                alt=""> Change Number
                                            {{data.userdata.country}}</a>

                                        <a href="#" data-toggle="modal" class="change-pw-modal"
                                            data-target="#modal-change-pw"><img src="../assets/user/img/key.png" alt="">
                                            Change Password
                                            {{data.userdata.country}}</a>
                                    </div>
                                    <div class="clearfix">
                                        <button type="submit" data-toggle="modal" data-modal="dismiss"
                                            data-target="#profile-modal"
                                            class="btn btn-primary btn-block">Update</button>
                                    </div>
                                </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


</div>
<div class="footer1">
       <a href="http://bluemorphotokens.com/contact-us/" target="_blank">Contact</a>  &bull; <a href="http://bluemorphotokens.com/terms-conditions/" target="_blank">Terms and Conditions of Use</a>  &bull; <a href="http://bluemorphotokens.com/privacy-policy/" target="_blank">Privacy Policy</a>   &bull; <a href="http://bluemorphotokens.com/faqs/" target="_blank">FAQ</a>  
</div>
</div>

</div>

<!--<script src="../assets/user/js/inspinia.js"></script>
<script src="../assets/user/js/plugins/pace/pace.min.js"></script>-->

<div class="modal fade coman-modal" id="modal-change-phone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-a" role="document">
        <form id="change_phone_form" name="change_phone_form">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2>Change Mobile Number</h2>
                <span id="change-phone-error" class="error text-danger"></span>
                <div id="phone">

                    <select class="form-control select2" name="country_code" id="country_code"
                        value="{{data.userData.countryCode}}">
                    </select>
                    <div class="form-group ph-form">
                        <img src="../assets/user/img/form-icon4.png">
                        <input class="form-control" type="text" name="phone" id="phone" placeholder="Phone Number"
                            maxlength="15" value="{{data.userData.phoneNumber}}">
                    </div>
                </div>


                <button type="button" class="btn btn-primary" name="changePhone" id="changePhone">Update</button>
            </div>
        </form>
    </div>
</div>
<div class="modal coman-modal  fade" id="authontication" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h1>Confirm your mobile number</h1>
            <div class="success-msg-icon">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
            <b><span id="OTPerror" class="error text-danger"></span></b>
            <p>Enter the verification code sent to your mobile number</p>
            <div id="form">
                <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" id="txt1" />
                <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" id="txt2" />
                <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" id="txt3" />
                <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" id="txt4" />
                <button class="btn btn-primary m-t-lg" id="myaccountOTP" name="myaccountOTP"
                    type="submit">Submit</button>
                <button class="btn btn-primary m-t-lg" id="reSendOTP" name="reSendOTP" type="button">Resend OTP</button>
                <b><span id="re-send-otp" class="success text-success"></span></b>

                {{!-- <b><span id="OTPerror" class="success text-success">sdfasdfa</span></b> --}}


            </div>
        </div>
    </div>
</div>
<div class="modal fade coman-modal" id="modal-change-pw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-a" role="document">
        <form id="change_password_form" name="change_password_form">
            <div class="modal-content text-center">
                <button type="button" id="close1" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2>Change Password</h2>
                <span id="change-password-error" class="error text-danger"></span>
                <div class="form-group pw-form">
                    <img src="../assets/user/img/form-icon2.png">
                    <input type="password" class="form-control" placeholder="Old Password" id="old_password"
                        name="old_password">
                </div>
                <div class="form-group pw-form">
                    <img src="../assets/user/img/form-icon2.png">
                    <input type="password" class="form-control" placeholder="New Password" id="new_password"
                        name="new_password">
                </div>
                <div class="form-group pw-form">
                    <img src="../assets/user/img/form-icon2.png">
                    <input type="password" class="form-control" placeholder="Confirm New Password" id="confirm_password"
                        name="confirm_password">
                </div>
                <button type="submit" class="btn btn-primary" name="changePassword" id="changePassword">Submit</button>
            </div>
        </form>
    </div>
</div>
<div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="success-msg-icon">
                <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

            </div>
            <span id="cong-msg">
                <h2>Your Account has been updated Successfully!!</h2>
            </span>
        </div>
    </div>
</div>
<div class="modal coman-modal  fade" id="pwd-changed-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" onclick="location.href='login'" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="success-msg-icon">
                <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

            </div>
            <h2>Your Password has been changed Successfully!!</h2>
        </div>
    </div>
</div>

<!-- Mainly scripts -->

<!--<script src="../assets/user/js/bootstrap.min.js"></script>-->
<script src="../assets/user/js/custom/myaccount.js"></script>
<script>


    $(document).ready(function() {

            $('#country_code').select2({
                  dropdownParent: $("#modal-change-phone")
            });

  $('#close1').on('click', function() {
      $('#modal-change-pw form')[0].reset();
      $('#modal-change-pw form').find('label').remove();
  });
});
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.input-group.date').datepicker({ format: "dd/mm/yyyy", endDate: "today" });
        //Populate Country dropdowns.
        let country = "{{data.userData.country}}";
        let countryCode = "{{data.userData.countryCode}}";
        let countryDropdown = $('#country');
        let image = "../media/profilePicture/" + "{{data.userData.profileImage}}";
        //set updated Image.
        $('#profile_image').attr('src', image);
        countryDropdown.empty();
        countryDropdown.append('<option  disabled>Select Country</option>');
        countryDropdown.prop('selectedIndex', 0);

        let countryCodeDropdown = $('#country_code');
        countryCodeDropdown.empty();
        const url = 'https://restcountries.eu/rest/v2/all';

        // Populate dropdown with list of provinces
        $.getJSON(url, function (data) {
            $.each(data, function (key, entry) {
                if (entry.name != '') {
                    if (entry.name == country) {
                        countryDropdown.append($('<option></option>').attr('value', entry.name).attr("selected", true).text(entry.name));
                    }
                    else {
                        countryDropdown.append($('<option></option>').attr('value', entry.name).text(entry.name));
                    }
                }

                if (entry.callingCodes != '') {
                    if (entry.callingCodes == countryCode) {
                        countryCodeDropdown.append($('<option></option>').attr('value', entry.callingCodes).attr("selected", true).text("+" + entry.callingCodes + "   (" + entry.alpha2Code + ")"));
                    }
                    else {
                        countryCodeDropdown.append($('<option></option>').attr('value', entry.callingCodes).text("+" + entry.callingCodes + "   (" + entry.alpha2Code + ")"));
                    }
                }
            })
        });
    });
    function readURL(input) {
        $("#account_error").html('');
        // console.log($(input).val());
        if (input.files && input.files[0]) {
            console.log(input.files[0]);

            let ext = input.value.split(".");
            ext = ext[ext.length - 1].toLowerCase();
            const kb = Math.round(input.files[0].size / 1024);
            let arrayExtensions = ["jpg", "jpeg", "png"];

            if (arrayExtensions.lastIndexOf(ext) == -1) {
                $("#account_error").html("Please choose valid file extension.");
                input.value = "";
            }
            else {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#profile_image').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    }

</script>