<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Morpho Tokens</title>

    <link rel="icon" type="image/ico" href="../../assets/user/img/logo-modal.png">
    <link href="../../assets/user/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/user/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../../assets/user/css/animate.css" rel="stylesheet">
    <link href="../../assets/user/css/style.css" rel="stylesheet">
    <link href="../../assets/user/css/mystyle-coman.css" rel="stylesheet">
    <link href="../../assets/user/css/media.css" rel="stylesheet">
    <link href="../../assets/user/css/admin-style.css" rel="stylesheet">

</head>

<body>
    <div id="wrapper">
        <div id="loader" style="display: none;">
            <div id="loader-svg">
                <img src="../assets/user/img/3.svg" width="50" height="50">
            </div>
        </div>
        <!-- log in html -->
        <div class=" coman-modal coman-modal-a" id="sign-in">
            <form id="reset_form" name="reset_form" method="POST">
                <div class="modal-dialog  modal-dialog-centered" role="document">
                    <div class="modal-content  text-center">
                        <button type="button" id="closeReset" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <img src="../../assets/user/img/logo-modal.png" alt="">
                        <h1>Reset Password</h1>
                        <h3>Create a new password</h3>
                        <span id="reset_error" class="error"></span>
                        <div class="form-group pass-word">
                            <img src="../../assets/user/img/form-icon2.png">
                            <input type="password" class="form-control" placeholder="Password" name="reset1"
                                id="reset1">
                        </div>
                        <div class="form-group pass-word">
                            <img src="../../assets/user/img/form-icon2.png">
                            <input type="password" class="form-control" placeholder="Retype Password" name="reset2"
                                id="reset2">
                        </div>
                        <button type="submit" class="btn btn-primary" id="reset_btn" name="reset_btn">Reset
                            Password</button>
                        <div class="forgot-link m-t-md text-center">
                        </div>
                    </div>
            </form>
        </div>
    </div>
    <!-- log in html -->
    </div>

    <div class="modal coman-modal  fade" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" onclick="location.href='login'" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h1>Successful</h1>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <p>Your Password has sucessfully been changed. Click here to <a href="/user/login">Login.</a></p>
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="../../assets/user/js/jquery-2.1.1.js"></script>
    <script src="../../assets/user/js/bootstrap.min.js"></script>
    <script src="../../assets/user/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="../../assets/user/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="../../assets/user/js/inspinia.js"></script>
    <script src="../../assets/user/js/plugins/pace/pace.min.js"></script>
    <script src="../assets/user/js/jquery.validate.min.js"></script>
    <script src="../assets/user/js/custom/login.js"></script>
    <script src="https://plugins.jquery.com/url/"></script>
</body>

</html>