<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Blue Morpho Tokens</title>
   <link rel="icon" type="image/ico" href="../assets/user/img/logo-modal.png">
   <link href="../assets/user/css/bootstrap.min.css" rel="stylesheet">
   <link href="../assets/user/css/select2.min.css" rel="stylesheet" />
   <link href="../assets/user/font-awesome/css/font-awesome.css" rel="stylesheet">
   <link href="../assets/user/css/animate.css" rel="stylesheet">
   <link href="../assets/user/css/style.css" rel="stylesheet">
   <link href="../assets/user/css/mystyle-coman.css" rel="stylesheet">
   <link href="../assets/user/css/media.css" rel="stylesheet">
   <link href="../assets/user/css/admin-style.css" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="../assets/user/css/bootstrap-datepicker.min.css">
</head>

<body>
   <div id="wrapper">
      <div id="loader" style="display: none;">
         <div id="loader-svg">
            <img src="../assets/user/img/3.svg" width="50" height="50">
         </div>
      </div>
      <!-- log in html -->
      <form id="signup_form" name="signup_form" method="post">
         <div class=" coman-modal " id="sign-in">
            <div class="modal-dialog  modal-dialog-centered full-width-modal" role="document">
               <div class="modal-content text-center">
                  <img src="../assets/user/img/logo-modal.png" alt="" class="m-b-sm">
                  <h2 class="p-t-0">Create an account</h2>
                  <b><span id="error" class="error text-danger"></span></b>
                  <div class="signup-tab">
                     <!--   <ul class="nav nav-tabs" role="tablist">
                           <li role="presentation" class="active"><a href="../assets/user/#signup-tab1" aria-controls="home" role="tab" data-toggle="tab">Investor</a></li> -->
                     <!-- Tab panes -->
                     <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="signup-tab1">

                           <div class="row">
                              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                 <div class="form-group usr-form">
                                    <img src="../assets/user/img/form-icon3.png">
                                    <input class="form-control" type="text" name="first_name" placeholder="First Name"
                                       autocomplete="off">
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                 <div class="form-group usr-form">
                                    <img src="../assets/user/img/form-icon3.png">
                                    <input class="form-control" type="text" name="last_name" placeholder="Last Name"
                                       autocomplete="off">
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                 <div class="form-group eml-form">
                                    <img src="../assets/user/img/form-icon1.png">
                                    <input class="form-control" type="email" placeholder="Email" name="email" id="email"
                                       autocomplete="off">
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                 <div id="phone">
                                    <select class="form-control select2" name="country_code" id="country_code">

                                    </select>
                                    <div class="form-group ph-form">
                                       <img src="../assets/user/img/form-icon4.png">
                                       <input class="form-control" type="text" name="phone" placeholder="Mobile Number"
                                          maxlength="15" minlength="10" autocomplete="off">
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                 <div class="form-group add-form">
                                    <img src="../assets/user/img/address-icon3.png">
                                    <input class="form-control" type="text" placeholder="Address" name="address1"
                                       autocomplete="off">
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                 <div class="form-group add-form">
                                    <img src="../assets/user/img/address-icon3.png">
                                    <input class="form-control" type="text" placeholder="Address Line-2" name="address2"
                                       autocomplete="off">
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                 <div class="form-group  add-form">
                                    <img src="../assets/user/img/address-icon3.png">
                                    <select class="form-control" name="country" id="country">
                                    </select>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                 <div class="form-group  add-form">
                                    <img src="../assets/user/img/address-icon3.png">
                                    <!--<select class="form-control" id="city" name="city">
                                          <option value="">Select City</option>
                                          <option value="Ahmedabad"> Ahmedabad</option>
                                          </select>-->
                                    <input type="text" name="city" id="city" class="form-control" placeholder="City"
                                       autocomplete="off">
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                 <div class="form-group pw-form">

                                    <div class="form-group  add-form">
                                       <img src="../assets/user/img/address-icon3.png">
                                       <input type="text" name="zipCode" id="zipCode" class="form-control"
                                          placeholder="Postal Code / Zip Code" autocomplete="off" maxLength="10" >
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                 <div class="form-group ">
                                    <div class="input-group date" data-date-format="dd/mm/yyyy">
                                       <div class="input-group-addon">
                                          <span class="glyphicon glyphicon-th"></span>
                                       </div>
                                       <input type="text" class="form-control cal-input" placeholder="Date of Birth"
                                          readonly='true' class="dob" name="dob" id="dob" autocomplete="off">
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                 <div class="form-group  add-form">
                                    <img src="../assets/user/img/form-icon2.png">
                                    <input class="form-control signup_password" type="password" name="password"
                                       id="password" placeholder="Password" autocomplete="off">
                                    <span id="result"></span>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                 <div class="form-group pw-form">
                                    <img src="../assets/user/img/form-icon2.png">
                                    <input class="form-control" type="password" name="confirm_password"
                                       placeholder="Confirm Password" autocomplete="off">
                                 </div>
                              </div>
                           </div>

                           <div class=" agree-box">
                              <div class="chk">
                                 <input type="checkbox" id="agree" name="agree">
                                 <span></span>
                              </div>
                              <label>I have read and accept the <a href="http://bluemorphotokens.com/terms-conditions/" target="_blank" 
                                    >Terms & Conditions of Use</a> and the <a
                                    href="http://bluemorphotokens.com/privacy-policy/" target="_blank">Privacy
                                    Policy</a></label>
                           </div>
                           <div class="clearfix text-left">
                              <button type="submit" class="btn btn-primary" data-toggle="modal" name="submit"
                                 id="submit" disabled>Submit</button>
                              <button type="button" class="btn btn-default m-l-sm m-t-sm"
                                 onclick="location.href='login'">Cancel</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </form>
      <!-- log in html -->
   </div>
   <!-- forgot password -->
   <div class="modal coman-modal   fade" id="Privacy-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-md modal-width-600" role="document">
         <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h1>Privacy Policy</h1>
            <p class="text-left m-t-lg">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
               Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
               printer took a galley of type and scrambled it to make a type specimen book. It has survived not
               only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
               It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
               and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
               Ipsum.<br><br> It was popularised in the 1960s with the release of Letraset sheets containing Lorem
               Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
               versions of Lorem Ipsum.
            </p>
         </div>
      </div>
   </div>
   <div class="modal coman-modal   fade" id="Terms-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-md modal-width-600" role="document">
         <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h1>Terms and Conditions</h1>
            <p class="m-t-sm text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
               Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
               printer took a galley of type and scrambled it to make a type specimen book. It has survived not
               only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
               It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
               and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
               Ipsum.<br><br> It was popularised in the 1960s with the release of Letraset sheets containing Lorem
               Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
               versions of Lorem Ipsum.
            </p>
         </div>
      </div>
   </div>
   <div class="modal coman-modal  fade" id="authontication" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog  modal-a" role="document">
         <div class="modal-content text-center">
            <button data-toggle="modal" data-target="#sign-up" type="button" class="close" data-dismiss="modal"
               aria-label="Close" id="close1">
               <span aria-hidden="true">&times;</span>
            </button>
            <h1>Confirm your mobile number</h1>
            <div class="success-msg-icon">
               <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
            <b><span id="OTPerror" class="error text-danger"></span></b>
            <p>Enter the verification code sent to your mobile number</p>
            <div id="form" class="form-otp">
               <input type="text" class="otp" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" id="txt1" />
               <input type="text" class="otp" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" id="txt2" />
               <input type="text" class="otp" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" id="txt3" />
               <input type="text" class="otp" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" id="txt4" />
               <button class="btn btn-primary m-t-lg" id="submitOTP" type="button">Submit</button>
               <button class="btn btn-primary m-t-lg" id="reSendOTPSignUp" name="reSendOTPSignUp" type="button">Resend
                  OTP</button>
               <b><span id="re-send-otp" class="success text-success"></span></b>
            </div>
         </div>
      </div>
   </div>
   <div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog  modal-a" role="document">
         <div class="modal-content text-center">
            {{!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button> --}}

            <button data-toggle="modal" data-target="#sign-up" type="button" class="close"
               onclick="location.href='../user/login';">
               <span aria-hidden="true">&times;</span>
            </button>



            <h1>Congratulations</h1>
            <div class="success-msg-icon">
               <i class="fa fa-check-circle" aria-hidden="true"></i>
            </div>
            <p>Your Account has been created. We have sent to you a verification email.</p>
         </div>
      </div>
   </div>
   <!-- Mainly scripts -->
   <script src="../assets/user/js/jquery-2.1.1.js"></script>
   <script src="../assets/user/js/bootstrap.min.js"></script>
   <script src="../assets/user/js/plugins/metisMenu/jquery.metisMenu.js"></script>
   <script src="../assets/user/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
   <!-- Custom and plugin javascript -->
   <script src="../assets/user/js/inspinia.js"></script>
   <script src="../assets/user/js/plugins/pace/pace.min.js"></script>
   <script src="../assets/user/js/bootstrap-datepicker.min.js"></script>
   <script type="text/javascript">
      $(function () {
         'use strict';

         var body = $('body');

         function goToNextInput(e) {
            var key = e.which,
               t = $(e.target),
               sib = t.next('#authontication input');

            if (key != 9  && (key < 48 || key > 57) && (key < 96 || key > 105)) {
               e.preventDefault();
               return false;
            }

            if (key === 9 ) {
               //tab
               return true;
            }

            if (!sib || !sib.length) {
              // sib = body.find('#authontication input').eq(0);
            }
            sib.select().focus();
         }

         function onKeyDown(e) {
            var key = e.which;
            
            if (key >= 65 && key <= 90) {
               //letters
               return false;
            }
            if (key === 9 || (key >= 48 && key <= 57) || (key >= 96 && key <= 105)) {
               return true;
            }
            if (key == 8) {
               //Backspace Key.
               if ($(e.target).val() != '') {
                  $(e.target).val('');
               }
               else {
                  var key = e.which,
                     t = $(e.target),
                     sib = t.prev('#authontication input');

                  if (!sib || !sib.length) {
                     sib = body.find('#authontication input').eq(0);
                  }
                  sib.select().focus();
               }
            }
            if (key == 46) {
               //Delete Key
               $(e.target).val('');
            }
         }
         
         function onFocus(e) {
            $(e.target).select();
         }

         body.on('keyup', '#authontication input', goToNextInput);
         body.on('click', '#authontication input', onFocus);
         body.on('keydown', '#authontication input', onKeyDown);

         //prevent character input.
         $('.otp').keypress(function (e) {
            var regex = new RegExp("^[0-9-]+$");
            var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if (regex.test(str)) {
               return true;
            }

            e.preventDefault();
            return false;
         });
         $('.input-group.date').datepicker({ format: "dd/mm/yyyy", endDate: "today" });

         //Populate Country dropdowns.
         let countryDropdown = $('#country');
         countryDropdown.empty();
         countryDropdown.append('<option selected="true" disabled>Select Country</option>');
         countryDropdown.prop('selectedIndex', 0);

         let countryCodeDropdown = $('#country_code');
         countryCodeDropdown.empty();
         const url = 'https://restcountries.eu/rest/v2/all';

         // Populate dropdown with list of provinces
         $.getJSON(url, function (data) {
            $.each(data, function (key, entry) {
               if (entry.callingCodes != '') {
                  countryDropdown.append($('<option></option>').attr('value', entry.name).text(entry.name));
                  countryCodeDropdown.append($('<option></option>').attr('value', entry.callingCodes).text("+" + entry.callingCodes + "   (" + entry.alpha2Code + ")"));
               }
            })
         });

      })

   </script>
   <script src="../assets/user/js/custom/login.js"></script>
   <script src="../assets/user/js/jquery.validate.min.js"></script>
   <script src="../assets/user/js/select2.min.js"></script>
   <script>
      $('.select2').select2();
   </script>
   <script>
      $(document).ready(function () {
         $('#close1').on('click', function () {
           location.reload()
         });
      });
   </script>

</body>

</html>