<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Morpho Tokens</title>

    <link rel="icon" type="image/ico" href="../assets/user/img/logo-modal.png">
    <link href="../assets/user/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/user/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../assets/user/css/animate.css" rel="stylesheet">
    <link href="../assets/user/css/style.css" rel="stylesheet">
    <link href="../assets/user/css/mystyle-coman.css" rel="stylesheet">
    <link href="../assets/user/css/media.css" rel="stylesheet">
    <link href="../assets/user/css/admin-style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/user/css/bootstrap-datepicker.min.css">

</head>

<body>
    <div id="wrapper">
        <!-- log in html -->
        <form id="signup_form" name="signup_form" method="post">
            <div class=" coman-modal " id="sign-in">
                <div class="modal-dialog  modal-dialog-centered full-width-modal" role="document">
                    <div class="modal-content text-center">
                        <img src="../assets/user/img/logo-modal.png" alt="" class="m-b-sm">
                        <h2 class="p-t-0">This link has been expired.................</h2>
                        <b><span id="error" class="error text-danger"></span></b>



                    </div>
                </div>
            </div>
        </form>

        <!-- log in html -->
    </div>



    <!-- Mainly scripts -->
    <script src="../assets/user/js/jquery-2.1.1.js"></script>
    <script src="../assets/user/js/bootstrap.min.js"></script>
    <script src="../assets/user/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="../assets/user/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="../assets/user/js/inspinia.js"></script>
    <script src="../assets/user/js/plugins/pace/pace.min.js"></script>
    <script src="../assets/user/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript"> $('.input-group.date').datepicker({ format: "dd/mm/yyyy" }); </script>


    <script src="../assets/user/js/custom/login.js"></script>
    <script src="../assets/user/js/jquery.validate.min.js"></script>

</body>

</html>