<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ibox">
				<div class="box-heading">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
							<h2>IMPORTANT</h2>

							<h5 class="line-30">
								<b>This is your Secret Seed Phrase.(Mnemonic Code)</b><br />You must copy and save the
								phrase in a secure location.
								<br />This phrase will not be displayed again and the Member Service Team cannot recover
								the phrase for you.
								<br />Without this phrase you will not be able to transfer tokens or access your
								personal wallet outside of this platform.</h5>
						</div>

					</div>
				</div>
				<div class="ibox-content">
					<div class="box-heading">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
								<h2><b>Secret Seed Phrase (Mnemonic Code)</b></h2>
							</div>
						</div>
						<div class="wallet-list">
							<ul>
								<li>
									<div class="box" style="text-align: center;">

										<h3>{{data.mnemonic}}</h3>
										<br />
										<button class="btn btn-primary" style="text-align: center;"
											data-clipboard-text="{{data.mnemonic}}">Copy
											To Clipboard </button>
									</div>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>


</div>
</div>
</div>
<script type="text/javascript" src="../assets/user/js/clipboard.min.js"></script>
<script>
	// Tooltip
	$(document).ready(function () {
		$('button').tooltip({
			trigger: 'click',
			placement: 'bottom'
		});
		function setTooltip(message) {
			$('button').tooltip('hide')
				.attr('data-original-title', message)
				.tooltip('show');
		}
		function hideTooltip() {
			setTimeout(function () {
				$('button').tooltip('hide');
			}, 1000);
		}
		// Clipboard
		var clipboard = new Clipboard('button');

		clipboard.on('success', function (e) {
			setTooltip('Copied!');
			hideTooltip();
		});

		clipboard.on('error', function (e) {
			setTooltip('Failed!');
			hideTooltip();
		});

	});
</script>