<div class="row" id="history">
    <div class="wrapper wrapper-content">
        <!-- Modal -->

        <div class="row">
            <div class="col-lg-12 mx-auto">

                <div class="box">
                    <div class=" text-center ">
                        <h2>Welcome</h2>
                        <h4 class="line-30">You need Google Authenticator installed on your mobile phone in order
                            to proceed.<br />
                            Once you install it, follow these steps to set up 2-Factor Authentication:<br />
                        </h4>


                        <h4  class="line-30">1. Scan the barcode that is open in your browser.<br />
                            2. You should download a backup of the barcode.<br />
                            3. Click Next and then enter the returned code from your mobile device into the
                            text box.
                        </h4>
                        <div class="dropdown">
                            <div class="token-font">
                            </div>

                            <div class="qr-code text-center d-flex float-n m-b-sm" style="padding-left: 71px;">
                                <img src="{{data.pic}}" alt="">
                                <a style="text-align:right" href="{{data.pic}}" download>
                                    <i class="fa fa-download btn btn-primary m-l-sm" aria-hidden="true"
                                        style="font-size: 30px;"></i><b class="color-white"></b>
                                </a>
                            </div>
                        </div>
                        <input type="hidden" id="qrCode" name="qrCode" value="{{data.secretCode}}">

                        <br>
                        <button type="button" id="okButton" class="btn btn-primary  m-b-sm m-l-sm">Next</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<div class="footer1">
       <a href="http://bluemorphotokens.com/contact-us/" target="_blank">Contact</a>  &bull; <a href="http://bluemorphotokens.com/terms-conditions/" target="_blank">Terms and Conditions of Use</a>  &bull; <a href="http://bluemorphotokens.com/privacy-policy/" target="_blank">Privacy Policy</a>   &bull; <a href="http://bluemorphotokens.com/faqs/" target="_blank">FAQ</a>  
</div>

<script src="../assets/user/js/custom/verifyCode.js"></script>