<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ibox">
				<div class="ibox-content">
					<div class="box-heading">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<h2>Ethereum Balance</h2>
							</div>

						</div>
					</div>

					<div class="wallet-list">
						<ul>
							<li>
								<div class="box">
									<h4>Balance</h4>
									<h3>{{data.bal}} ETH</h3>
								</div>
							</li>
							<li>
								<div class="box">
									<h4>Ethereum Wallet Address (ERC20 Tokens)</h4>
									<h3>{{data.userData.wallet}}</h3>	
								</div>
							</li>
						</ul>

					</div>


				</div>


			</div>

		</div>
	</div>

	<div class="text-center ">
		<h4 style="color:white;font-size:18px">You may transfer any Blue Morhpho token to other members on this platform.</h4>
		<h3 style="color:white;font-size:18px">In order to transfer, you have to pay a transmission charge "gas", which is paid with Ethereum.<h3/>
		<h3 style="color:white;font-size:18px">Please see FAQ for further information on how to buy Ethereum and how "gas" is calculated.</h3>
		<br/>
		<h3 style="color:white;font-size:18px">You do not need to pay gas or have Ethereum to receive tokens.</h3>
	</div>
</div>
</div>
<div class="footer1">
       <a href="http://bluemorphotokens.com/contact-us/" target="_blank">Contact</a>  &bull; <a href="http://bluemorphotokens.com/terms-conditions/" target="_blank">Terms and Conditions of Use</a>  &bull; <a href="http://bluemorphotokens.com/privacy-policy/" target="_blank">Privacy Policy</a>   &bull; <a href="http://bluemorphotokens.com/faqs/" target="_blank">FAQ</a>  
</div>
</div>