<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
	<title>Fitness - Reset Password</Ri:a>
	</title>
	<style type="text/css">
		body {
			margin: 0 !important;
			padding: 0 !important
		}

		img {
			border: 0 !important;
			outline: none !important
		}

		p {
			Margin: 0px !important;
			Padding: 0px !important
		}

		table {
			border-collapse: collapse
		}

		td,
		a,
		span {
			border-collapse: collapse
		}

		ExternalClass * {
			line-height: 100%
		}

		#newpassword-error,
		#confirmpassword-error {
			display: block;
		}

		@media only screen and (min-width:481px) and (max-width:599px) {
			.wrap {
				width: 100% !important
			}

			.hide {
				display: none !important
			}

			.side {
				width: 15px !important;
			}

			.pa {
				padding: 15px !important;
			}

			.pb {
				padding-bottom: 20px;
			}
		}

		@media only screen and (max-width:480px) {
			.wrap {
				width: 100% !important
			}

			.hide {
				display: none !important
			}

			.h20 {
				height: 20px !important;
			}

			.side {
				width: 15px !important;
			}

			.pa {
				padding: 15px !important;
			}

			.pb {
				padding-bottom: 20px;
			}

		}
	</style>
	<!--[if mso]>
<style type="text/css">
body, table, td {font-family: Arial, sans-serif !important;}
</style>
<![endif]-->
</head>

<body style="margin:0px;padding:0px" bgcolor="#ffffff">
	<form class="form-horizontal m-t-30" id="myform" action="/reset-password/{{data._id}}/{{data.verificationToken}}" method="POST">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
			<tr>
				<td align="center" valign="top">
					<table width="600" border="0" cellspacing="0" cellpadding="0" class="wrap">
						<tr>
							<td height="60" class="h20">&nbsp;</td>
						</tr>
						<tr>
							<td align="center" valign="top" style="box-shadow:0 0 20px #e6e6e6;">
								<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f9f9f9">
									<tr>
										<td width="30" class="side">&nbsp;</td>
										<td align="center" valign="top" style="padding-top:30px;">
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td align="center" valign="top" style="box-shadow:0 0 3px #e4e9eb;">
														<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td align="center" valign="top" bgcolor="#0d0f1b">
																	<img src="{{BASE_URL}}assets/images/mail-template/banner-admin.jpg" width="540" alt="" border="0"
																	 style="display:block; width:100%; max-width:540px;" />
																</td>
															</tr>
															<tr>
																<td bgcolor="#ffffff" align="center" valign="top" style="padding:30px;" class="pa">
																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tr>
																			<td align="center" valign="top" style="font-family:'Lato', Arial, sans-serif; font-size:22px; color:#22c0a1; line-height:22px; font-weight:bold; padding:0 0 10px;"
																			 class="pb">Reset Password</td>
																		</tr>
																		<tr>
																			<td>
																				<table width="100%" align="center" style="max-width:300px;" border="0" cellspacing="0" cellpadding="0">
																					<tr>
																						<td align="center" valign="top" style="font-family:'Lato', Arial, sans-serif;font-size: 10px; color: #F44336; font-weight:bold; padding:10px 0 10px 0;"
																						 class="pb">
																							<input type="password" name="newpwd" style="width: 220px; padding: 8px 10px;  border: 1px solid #999;  border-radius: 5px;"
																							 id="newpassword" placeholder="New password">
																							{{!-- <input type="password" placeholder="Password" style="width: 220px; padding: 8px 10px;  border: 1px solid #999;  border-radius: 5px;">
																							--}}
																						</td>
																					</tr>
																					<tr>
																						<td align="center" valign="top" style="font-family:'Lato', Arial, sans-serif; display: block;font-size: 10px; color: #F44336;  font-weight:bold; padding:5px 0 20px 0;"
																						 class="pb">
																							{{!-- <input type="password" placeholder="Confirm Password" style="width: 220px; padding: 8px 10px;  border: 1px solid #999;  border-radius: 5px;">
																							--}}
																							<input type="password" name="confirmpwd" style="width: 220px; padding: 8px 10px;  border: 1px solid #999;  border-radius: 5px;"
																							 id="confirmpassword" placeholder="Confirm password">
																						</td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																		<tr>
																			<td style="padding:0 0 20px;" valign="top" align="center">
																				<table width="135" cellspacing="0" cellpadding="0" border="0" bgcolor="#f47c48" align="center">
																					<tbody>
																						<tr>
																							<td style="font-family:'Lato', Arial, sans-serif; font-size:15px; color:#ffffff;" valign="middle"
																							 height="35" align="center">
																								{{!-- <a href="#" target="_blank" style="text-decoration:none; color:#ffffff; display:block; line-height:32px;">Reset
																									Password</a> --}}
																								<button style=" background-color: #63c2a2;border: 0px;color: #fff;  padding: 10px;min-width: 135px;cursor: pointer;"
																								 type="submit">Reset
																								</button>
																							</td>
																							{{!--
																			</td> --}}
																		</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td align="center" valign="top" style="padding:15px 15px 15px 15px; font-family:'Lato', Arial, sans-serif; font-size:11px; color:#777777; line-height:15px;">
										</td>
									</tr>
								</table>
							</td>
							<td width="30" class="side">&nbsp;</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td height="60" class="h20">&nbsp;</td>
			</tr>
		</table>
		</td>
		</tr>
		</table>
	</form>
	<div class="hide" style="white-space:nowrap;font:20px courier;color:#ffffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		&nbsp; &nbsp; &nbsp;</div>
	{{!--
</body>

</html> --}}



{{!--
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
	<title>Fitness - page-login
	</title>
	<meta content="Admin Dashboard" name="description">
	<meta content="Themesbrand" name="author">
	<link rel="shortcut icon" href="/assets/images/favicon.png">
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/icons.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<!-- Begin page -->
	<div class="wrapper-page">
		<div class="card">
			<div class="card-body">
				<h3 class="text-center m-0">
					<a href="#" class="logo logo-admin">
						<img src="/assets/images/logo.png" alt="logo" class="logo_img"><br />Fitness Partner
					</a>
				</h3>
				<div class="p-3">

					<form class="form-horizontal m-t-30" id="myform" action="/reset-password/{{_id}}/{{verificationToken}}" method="POST">
						<div class="form-group">
							<label for="userpassword">New Password
							</label>
							<input type="password" name="newpwd" class="form-control" id="newpassword" placeholder="New password">
						</div>
						<div class="form-group">
							<label for="userpassword">Confirm password
							</label>
							<input type="password" name="confirmpwd" class="form-control" id="confirmpassword" placeholder="Confirm password">
						</div>
						<div class="form-group row m-t-20">

							<div class="col-6 text-left">
								<button class="btn btn-primary w-md waves-effect waves-light" type="submit">Reset
								</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>

	</div> --}}
	<!-- jQuery  -->
	<script src="/assets/jquery/jquery-1.11.1.min.js"></script>
	<script src="/assets/jquery/jquery.validate.min.js"></script>
	<script>

		jQuery.validator.addMethod("noSpace", function (value, element) {
			return value.indexOf(" ") < 0 && value != "";
		}, "No space please and don't leave it empty");

		jQuery.validator.addMethod("pwcheck", function (value) {
			return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) // consists of only these
				&& /[A-Z]/.test(value) // has a uppercase letter
				&& /\d/.test(value) // has a digit
		});

		$("#myform").validate({
			rules: {
				newpwd: {
					required: true,
					noSpace: true,
					minlength: 8,
					pwcheck: true
				},
				confirmpwd: {
					required: true,
					equalTo: "#newpassword",
					noSpace: true,
					minlength: 8
				}
			},
			messages: {
				newpwd: {
					required: "Password is required",
					pwcheck: "Password should contain atleast one digit and Uppercase letter",
					noSpace: "Space not allowed",
					minlength: "Password at least 8 character",
				},
				confirmpwd: {
					required: "Confirm password is required",
					noSpace: "Space not allowed",
					minlength: "Password at least 8 character",
					equalTo: "Please enter same value again"
				},
			}

		});
	</script>
	<script src="/assets/js/jquery.min.js">
	</script>
	<script src="/assets/js/bootstrap.bundle.min.js">
	</script>
	<script src="/assets/js/metisMenu.min.js">
	</script>
	<script src="/assets/js/jquery.slimscroll.js">
	</script>
	<script src="/assets/js/waves.min.js">
	</script>
	<script src="plugins/jquery-sparkline/jquery.sparkline.min.js">
	</script>
	<!-- App js -->
	<script src="/assets/js/app.js">
	</script>
</body>

</html>