<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
      <title>Invoice</title>
      <meta content="Admin Dashboard" name="description">
      <meta content="Themesbrand" name="author">
      <link rel="shortcut icon" href="{{BASE_URL}}assets/images/favicon.png">
      <link href="{{BASE_URL}}assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
     
      <link href="{{BASE_URL}}assets/css/icons.css" rel="stylesheet" type="text/css">
      <link href="{{BASE_URL}}assets/css/style.css" rel="stylesheet" type="text/css">
   </head>
   <style>
      body{
         font-size: 16px;
      }
   </style>
   <body>
      <!-- Begin page -->
      <div id="wrapper">
         

        

         <!-- ============================================================== -->
         <!-- Start right Content here -->
         <!-- ============================================================== -->
         <div class="content-page invoicepage">
            <!-- Start content -->
            <div class="content">
               <div class="container-fluid">
                  
                  <div class="row">
                     <div class="col-12">
                        <div class="card m-b-20">
                           <div class="card-body">
                              <div class="row">
                                 <div class="col-12">
                                    <div class="invoice-title">
                                       <h4 class="float-right font-16"><strong>Invoice Id -  {{invoiceData.orderId}}</strong></h4>
                                       <h3 class="mt-0"><img src="{{BASE_URL}}assets/images/logo.png" alt="logo" height="85"></h3>
                                    </div>
                                    <hr>
                                    {{!-- <div class="row ">
                                       <div  width="50%"  class="col-6">
                                          <address><strong>Billed To:</strong><br>{{userData.firstName}} {{userData.lastName}}<br>{{userData.city.name}}, {{userData.country.name}}</address>
                                       </div>
                                 <div  width="50%"  class="col-6 text-right">
                                    <address><strong>Order Date:</strong><br>{{invoiceDate}}<br><br></address>
                                       </div>
                                    </div> --}}
                                    <div>
                                        <table width="100%"> 
<tr>
<td width="50%" align="left">   <address><strong>Billed To:</strong><br>{{userData.firstName}} {{userData.lastName}}<br>{{userData.city.name}}, {{userData.country.name}}</address></td>
<td width="50%" align="right">    <address><strong>Order Date:</strong><br>{{invoiceDate}}<br><br></address></td>
</tr>
                                          
                                       </table>
                                       <table width="100%"> 
<tr>
<td width="50%" align="left"> <address><strong>Payment Method:</strong><br>{{userData.email}}</address></td>
{{!-- <td width="50" align="right"> </td> --}}
</tr>
                                          
                                       </table>
                                    </div>
{{!-- <div class="row">
                                       <div class="col-6 m-t-30">
                                          <address><strong>Payment Method:</strong><br>Visa ending **** 4242<br>{{userData.email}}</address>
                                       </div>
                                       <div class="col-6 m-t-30 text-right">
                                          <address><strong>Order Date:</strong><br>{{invoiceDate}}<br><br></address>
                                       </div>
                                    </div> --}}
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-12">
                                    <div>
                                       <div class="p-2">
                                          <h3 class="font-16"><strong>Order summary</strong></h3>
                                       </div>
                                       <div class="">
                                          <div class="table-responsive">
                                             <table class="table">
                                                <thead>
                                                   <tr>
                                                      <td><strong>Item</strong></td>
                                                      <td class="text-center"><strong>Price</strong></td>
                                                      <td class="text-center"><strong>Quantity</strong></td>
                                                      <td class="text-right"><strong>Total</strong></td>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                   <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                                   <tr>
                                                      <td>{{subscriptionData.title}} Plan</td>
                                                      <td class="text-center">${{subscriptionData.amount}}</td>
                                                      <td class="text-center">1</td>
                                                      <td class="text-right" >${{subscriptionData.amount}}</td>
                                                   </tr>
{{!-- <tr>
                                                      <td>BS-400</td>
                                                      <td class="text-center">$20.00</td>
                                                      <td class="text-center">3</td>
                                                      <td class="text-right">$60.00</td>
                                                   </tr> --}}
{{!-- <tr>
                                                      <td>BS-1000</td>
                                                      <td class="text-center">$600.00</td>
                                                      <td class="text-center">1</td>
                                                      <td class="text-right">$600.00</td>
                                                   </tr> --}}
                                                   <tr>
                                                      <td class="thick-line"></td>
                                                      <td class="thick-line"></td>
                                                      <td class="thick-line text-center"><strong>Subtotal</strong></td>
                                                      <td class="thick-line text-right">${{invoiceData.amountPaidByUser}}</td>
                                                   </tr>
                                                   {{!-- <tr>
                                                      <td class="no-line"></td>
                                                      <td class="no-line"></td>
                                                      <td class="no-line text-center"><strong>Tax</strong></td>
                                                      <td class="no-line text-right">${{invoiceData.tax}}</td>
                                                   </tr> --}}
                                                   <tr>
                                                      <td class="no-line"></td>
                                                      <td class="no-line"></td>
                                                      <td class="no-line text-center" style="font-size:24px;"><strong>Total</strong></td>
                                                      <td class="no-line text-right" style="font-size:24px;">
                                                       ${{invoiceData.amountPaidByUser}}
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </div>
                                          <!-- button code -->
                                         <!--  <div class="d-print-none">
                                             <div class="float-right"><a href="javascript:window.print()" class="btn btn-success waves-effect waves-light"><i class="fa fa-print"></i></a> <a href="#" class="btn btn-primary waves-effect waves-light">Send</a></div>
                                          </div> -->
                                            <!-- //button code -->
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- end row -->
                           </div>
                        </div>
                     </div>
                     <!-- end col -->
                  </div>
                  <!-- end row -->
               </div>
               <!-- container-fluid -->
            </div>
            <!-- content -->
            
         </div>
         <!-- ============================================================== -->
         <!-- End Right content here -->
         <!-- ============================================================== -->
      </div>
      <!-- END wrapper -->

    

   </body>
   
</html>
