.admin-box-heading{color: #ffffff;}
.admin-box-heading h2{font-size: 26px; margin-bottom: 5px; color: #36a5ca;  }
.admin-box-heading p{font-size: 18px; margin: 0px;  }
.admin-box-heading p a{ color: #ffffff; }
.admin-box-heading p a:hover{ color: #36a5ca;     background: linear-gradient(to right, #4cb4d6 0%, #fa9bf5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

.coman-table table{ margin-bottom: 0px;	 }
.coman-table table tr th{ font-size: 16px; color: #9de7f0; font-weight: bold; margin: 0; padding: 10px 0; border: none; }
.coman-table table tr td{ font-size: 14px; color: #ffffff; font-weight: normal; margin: 0; padding: 10px 0; border-top: 1px solid #252d35; vertical-align: middle;  }

.profile-image-table{width: 40px; height: auto;	}
.profile-image-table img{width: 40px; height: 40px; border-radius: 50%;  }
.prop-img{ width: 60px; height: auto; }
.kyc-img{ height: auto; width: 100%; margin-bottom: 10px; margin-top: 5px;}

.investor-details .tab-content p{ padding-bottom: 10px; color: #fff;}
.border-bott{border-bottom: 1px solid #252d35; }
.investor-details .tab-content { padding: 20px 17px;}
.cap-list ul li p strong{font-size: 15px;}
/* icon */
.metismenu li a .icon-10{ width: 20px; height: 21px; background:url(../img/menu-icon10.png) 0 0 no-repeat; }
.metismenu li a .icon-11{ width: 21px; height: 20px; background:url(../img/menu-icon11.png) 0 0 no-repeat; margin-left: 1px; }
.metismenu li a .icon-12{ width: 22px; height: 16px; background:url(../img/menu-icon12.png) 0 0 no-repeat; margin-left: 1px; }
#details h2{ font-weight: normal; padding: 0px;}
.normal-div{
    text-transform: uppercase; font-weight: normal;
}
.name-address p{
        color: #c2c2c2 !important;
}
.line-height-none p{line-height: normal !important;}
#prt-tab1 .prop-img{ width:100px; height: auto; }

#prt-tab2 .profile-img img{width: 40px; height: auto;}
#prt-tab2 p{  padding-bottom: 0px;}
.name-address h1{ font-size: 14px;margin-bottom: 0px; font-weight: bold; }

#prt-tab3 .profile-img img{width: 40px; height: auto;}
#prt-tab3 p{  padding-bottom: 0px;}
#prt-tab4 p{  padding-bottom: 0px;}
#details-prop  p{ padding-top: 10px;}
.action-btn {min-width: 150px; }
.action-btn a {font-size: 14px; margin-right:10px; color: #36a5ca; }
.fa-trash{color: #e03140;}
.box-heading img { width: 10px; height: auto; display: inline-block; margin-right:15px; margin-bottom: 3px; }

/*Rental-Payment-Distribution-Details*/
.head-title{color: #fff; font-size: 20px; padding-top: 10px;}
.but-pay {width: 100px;}
.but-pay button {padding: 5px;margin-top: 10px; }
.icon-paynow h3 a .icon-pay {width: 21px; height: 21px; background: url(../img/menu-icon8.png) 0 0 no-repeat; }
.icon-paynow h3 a .icon {width: 26px; height: 21px; display: inline-block; vertical-align: middle; }
.head-title-a{color: #ffffff; font-size: 16px; padding-top: 10px;}
.head-title-b{color: #36a5ca; font-size: 16px; padding-top: 10px;}

/*modal*/
#payment-now  .modal-content{padding: 0px 20px 20px 20px;}
#payment-now h3{ font-size: 20px;padding-bottom: 10px; }
#payment-now h2{ padding: 20px 0px 10px; }
#payment-now button {font-size: 16px; padding: 7px 0px; border-radius: 5px; max-width: 100px; }
#payment-now  .btn-default{color: #36a5ca;}

/*non rental Asset   details*/
.detail-title{padding-top:20px;}
.detail-title p { color: #fff; font-size: 16px; }
.detail-title-a{padding-top:15px;}
.detail-title-a p { color: #fff; font-size: 16px; }
.detail-title-a span{ width: 250px; display: inline-block;}

/*ico details*/
.box-heading-a h2 {font-size: 20px; color: #fff; }
.box-heading-a img { width: 10px; height: auto; display: inline-block; margin-right:15px; margin-bottom: 3px; }
.box-heading-a a{color: #fff; text-decoration: none;}
.box-heading-a a:hover{color: #fff; text-decoration: none;}
.detail-title-b{padding-top:15px;}
.detail-title-b p { color: #fff; font-size: 14px; }
.detail-title-b span{ width: 130px; display: inline-block;}
.ico-details  table tr td p{overflow: hidden; white-space: nowrap; text-overflow: clip; display: table-caption;padding-bottom: 0px;    max-width: 200px; margin-bottom: 0px;  }
.ico-details  table tr td a{color: #36a5ca;text-decoration: underline;}
.ico-details  table tr td  a:hover{color: #fff;text-decoration: none; cursor: pointer;}
.nav.nav-tabs li {
    background: none;
    border: none;
    width: 25%;
    padding: 0px 10px;
}
/*ico details modal*/
#ico-details p{color: #333333; font-size: 15px;}
#ico-details .modal-dialog {width: 900px; margin: 60px auto; }
.detail-title-c span{ width:138px; display: inline-block;}
#ico-details .modal-content{padding: 30px 20px;margin-bottom: 15px;}
.investor-details  h2{
    padding: 0px;
    color: #fff;
    font-weight: bold;
} 
#min-cap  li{width: 33%; padding-right: 10px;}
/*css 28-7-2019*/
.welcome a .icon-9{ width: 21px; height: 20px; background:url(../img/menu-icon9.png) 0 0 no-repeat; margin-left: 1px; }

.welcome.active a .icon{ background-position: 0 bottom; }
.welcome a:hover .icon,
.welcome a:focus .icon{ background-position: 0 bottom; }
.welcome a .icon {
 display: inline-block; vertical-align: middle; }

 .nav.navbar-right li a{display: inline;}
 /*tooltip*/
 .tooltipa {
  position: relative;
  display: inline-block;

}

.tooltipa .tooltiptext {
     visibility: hidden;
    width: 90px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 10px;
    margin: 10px
}

.tooltipa:hover .tooltiptext {
  visibility: visible;
}

  /* new page non-rental -Asset   -deatils-new rq */ .fa.fa-download {

    color: #ffffff;
    font-size: 20px;

}
.fa.fa-download:hover {

    color: #36a5ca;
  
    cursor: pointer;

}
/*center col*/
.col-centered{
    float: none;
    margin: 0 auto;
}
/*status css*/
#status .modal-content{
	background-color: transparent;
}
#status h4{
	color: #fff;
}
#status .current h4{
	color: #36a5ca;
}
#status .modal-body{
	padding: 0px;
}

.float-left{
    float: left;
}
.float-right
{
    float: right;
}
.d-inline-block{
    display: inline-block;
    width: 100%;
}
.width-50{
    width: 50%;
}
/* payment disribution */
table tr td a{color: #fff;text-decoration: underline;}
table tr td  a:hover{color: #36a5ca;text-decoration: underline; cursor: pointer;}
#details-a h3 {color: #fff; font-size: 20px; }
#details-a .box-heading {
    padding-bottom: 10px;
}
.welcome{
    color: #ffffff;
    font-size: 16px;
}
/* ICO-deploy */
#ICO-deploy .btn
{
    max-width: 120px;
    padding: 5px;
margin-top: 10px;
}
#ICO-deploy h4
{
  font-size: 18px;
}

.my-table-prp tr td a{
    color: #fff;
    text-decoration: underline;
}
.my-table-prp tr td a:hover{
    color: #36a5ca;
}


.coman-table tr td > a{ display: inline-block; }
.ico-details table tr td{ padding-right: 15px; }
.box-heading > a{ display: inline-block; }

.Status-table tr td:last-child  { width: 80px;}
.Status-table tr th:last-child { width: 80px;}
.Status-table tr td .action-btn { width: 80px; min-width: 80px;}
/*.coman-table table tr td{
    padding: 10px 10px 10px 0;
}
.coman-table table tr th{
    padding: 10px 15px 10px 0;
  
}*/
.property-dtl-tab .tab-content p{
    line-height: 30px;
}
#modal-delete-Assets-Owner button {

    font-size: 16px;
    padding: 7px 0px;
    border-radius: 5px;
    max-width: 100px;

}

#owner-detail-btn th:last-child { width: 100px;}
#owner-detail-btn td:last-child { width: 100px;}
#owner-detail-btn  .action-btn { width: 100px; min-width: 100px;}

/*7-8-2019*/
.metismenu li a .icon-10-a{ width: 23px; height: 21px; background:url(../img/menu-icon-a-3.png) 0 0 no-repeat; }
.metismenu li a .icon-11-b{ width: 25px; height: 27px; background:url(../img/menu-icon-a-2.png) 0 0 no-repeat; margin-left: 1px; }
.metismenu li a .icon-10-c{ width: 24px; height: 24px; background:url(../img/menu-icon-a-1.png) 0 0 no-repeat; }
.metismenu li a .icon-11-d{ width: 24px; height: 21px; background:url(../img/menu-icon-a-4.png) 0 0 no-repeat; margin-left: 1px; }

/*7-9-2019*/
.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover
{
        background-color: #36a5ca !important;
    border-color: #36a5ca!important;
}
/*datatable*/
.dataTables_wrapper
{
      color: #fff;
   font-size: 14px;

}  

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
    padding: 3px 9px;
    height: 30px;
}

div.dataTables_wrapper div.dataTables_length select {
         width: 65px !important;
    display: inline-block;
    height: 30px;
    padding: 0px 10px;
    text-align: left;
    margin: 0px 5px;
    font-size: 13px;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover
{
        color: #fff;
    cursor: not-allowed;
       background-color: #252d35;
    border-color: #5e616f;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
       background-color: #36a5ca;
    border-color: #36a5ca;
    color: inherit;
    cursor: default;
    z-index: 2;
}
table.dataTable thead .sorting:after {
    opacity: 0.2;
    content: "\e150";
    padding-right: 20px;
    opacity: 1  !important;
    color: #9de7f0;
    font-size: 10px;
    vertical-align: middle;
    line-height: 25px;
}
table.dataTable thead .sorting_asc:after {
    content: "\e155";
    padding-right: 20px;
    opacity: 1  !important;
    color: #9de7f0;
    font-size: 11px;
    vertical-align: middle;
    line-height: 24px;
}
table.dataTable thead .sorting_desc:after {
    content: "\e156";
    padding-right: 20px;
    opacity: 1 !important;
    color: #9de7f0;
    font-size: 10px;
    vertical-align: middle;
    line-height: 25px;
}
#KYC-details button {

    font-size: 16px;
    padding: 7px 0px;
    border-radius: 5px;
    max-width: 100px;

}
#KYC-details-fail button {

    font-size: 16px;
    padding: 7px 0px;
    border-radius: 5px;
    max-width: 100px;

}
#phone {
    display: flex;
}
#phone select{
        width: 100%;
    margin-right: 15px;
    padding-left: 10px;
    max-width: 130px;
}
#phone .ph-form{
    width: 100%;

}
label.error,span.error {
    color: #cc5965;
    display: inline-block;
    margin-left: 5px;
    text-align: left;
    width: 100%;
    font-size: 13px;
}
label.success,span.success {
    color: #3c763d;
    display: inline-block;
    margin-left: 5px;
    text-align: left;
    width: 100%;
    font-size: 13px;
}
#owner-detail-btn label {
    color: #ffffff;
    display: inline-block;
    margin-left: 0px;
    text-align: left;
    width: inherit;
    font-size: 13px;
}
.coman-modal .modal-dialog.full-width-modal{
    width: 60%;
}

#signup_form .coman-modal .btn-primary,#signup_form .coman-modal .btn-default{
 width: 100%;
    /*display: block;*/
    margin: auto;
    margin-top: 10px;
    max-width: 120px;
}
.token-font span {
    color: #fff;
    padding-right: 10px;
    font-size: 18px;
    font-weight: bold;
    display: block;
}
.token-font {
    font-size: 18px;
    color: #9de7f0;
    margin-bottom: 20px;
}

#signup_form .short{
    font-weight: bold;
    color: red;
    font-size: larger;
    text-align: left;
    width: 22%;
    display: block;
    border-top: 3px solid;
    margin-top: 2px;
    }
    #signup_form .weak{
    font-weight:bold;
    color:orange;   
    font-size:larger;
    text-align: left;
    display: block;
    width: 22%;
    border-top: 3px solid;
    margin-top: 2px;

    }
    #signup_form .good{
    font-weight:bold;
    color:#2D98F3;
    font-size:larger;
    text-align: left;
    display: block;
    width: 30%;
    border-top: 3px solid;
    margin-top: 2px;

    }
    #signup_form .strong{
    font-weight:bold;
    color: limegreen;
    font-size:larger;
    text-align: left;
    display: block;
    width: 35%;
    border-top: 3px solid;
    margin-top: 2px;

    }
    
/* process from */
#loader-svg {
    width: 100%;
    height: 100%; 
    position: absolute;
    background: rgba(0,0,0,0.5);
    z-index: 9999;  
    
    }
    #loader-svg img{
      top: 45%;
      left: 0;   
      right: 0;
      bottom: 0;
      z-index: +999;
      position: absolute;
      text-align: center;
      margin: 0 auto;
    }
    .coman-table table tr td{
        padding-left: 10px;
      }
      .coman-table table tr th{
        padding-left: 10px;
      }
      .pagination > li > a, .pagination > li > span {
        background-color: #1b2229;
        border: 1px solid #5e616f;
        color: inherit;
        float: left;
        line-height: 1.42857;
        margin-left: -1px;
        padding: 4px 10px;
        position: relative;
        text-decoration: none;
    }
    #history td:nth-child(3),  #history td:nth-child(4){
        /* width: 100%; */
        max-width: 10%;
        word-break: break-all;
    }
    #history th:nth-child(3),  #history th:nth-child(4){
        /* width: 100%; */
        max-width: 10%;
        word-break: break-all;
    }
    
    #history-a th:nth-child(5){
        /* width: 100%; */
       width: 100px !important;
        word-break: break-all;
    }
    #history th:nth-child(6){
        /* width: 100%; */
       width: 50px;
        word-break: break-all;
    }
    .line-27
    {
        margin-top: 0px;
        line-height: 27px;
    }
    .dataTables_wrapper .btn-group{
        width: 100%;
        margin-bottom: 20px;
    }
    .dataTables_wrapper .btn-group-vertical>.dataTables_wrapper .btn, .btn-group>.btn {
        position: relative;
        float: right;
    }
    .select2-container--default .select2-selection--single{
        padding:6px;
        height: 37px;
        width: 148px; 
        font-size: 1.2em;  
        position: relative;
    }
    
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        background-image: -khtml-gradient(linear, left top, left bottom, from(#424242), to(#030303));
        background-image: -moz-linear-gradient(top, #424242, #030303);
        background-image: -ms-linear-gradient(top, #424242, #030303);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #424242), color-stop(100%, #030303));
        background-image: -webkit-linear-gradient(top, #424242, #030303);
        background-image: -o-linear-gradient(top, #424242, #030303);
        background-image: linear-gradient(#424242, #030303);
        width: 40px;
        color: #fff;
        font-size: 1.3em;
        padding: 4px 12px;
        height: 27px;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 20px;
    }
    /* select2 style */
    .select2-container {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        position: relative;
        vertical-align: middle;
        margin-right: 10px;
        min-width: 148px;
        z-index: 111111111111111111111111111;

    }
    .select2-container--default .select2-selection--single {
        background-color: #f6f7f9;
        border: 1px solid #bbb;
        border-radius: 4px;
        height: 40px;
        outline: none;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #080808;
        line-height: 26px;
        font-size: 14px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 29px;
        position: absolute;
        top: 2px;
        right: 4px;
        width: 20px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-color: #4ba5ca transparent transparent transparent;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        height: 0;
        left: 50%;
        margin-left: -4px;
        margin-top: -2px;
        position: absolute;
        top: 50%;
        width: 0;
    }
    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
        border-color: transparent transparent #4ba5ca transparent;
        border-width: 0 4px 5px 4px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow{
        background-color: transparent;
        background-image: none;

    }
    .select2-container .select2-selection--single .select2-selection__rendered {
        display: block;
        padding-left: 8px;
        padding-right: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        float: left;
    }
    .select2-container--open .select2-dropdown {
        left: 0;
        top: -15px;
        width: 148px !important;
    }
    #dob .input-group-addon {
        background-color: transparent;
        border: 1px solid #5e616f;
        border-radius: 4px;
        color: inherit;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        padding: 6px 12px;
        text-align: center;
    }
    .select2-dropdown {
      
        z-index: 10511;
    }
    .width-100{
        width: 100px !important;
    }
    .p-20 {
        padding: 20px;
    }
    
    #confirmLogout .btn
    {
        padding: 8px 20px;
    }
    .gas_value
    {   
        color : #3c763d;
        font-size: 14px;
        font-weight: 700;
        text-align: left;
        width: 100%;
        float: left;
    }
    .my-ac-section.my-ac-section-custome
    {
        max-width:100%; display: inline-block; width: 100%;
    }
    .mnemonic.btn.btn-primary.btn-small
    {
        display: block; margin: 0 auto;
    }
    #form_mnemonic .form-control{padding-left: 15px;}
    .color-white{
        color: #fff;
    }
    .popup-loader{   
    color: white;
    font-size: 20px;
    top: 50%;
    left: 0;
    right: 0;
    /* bottom: 0; */
    z-index: +999;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    transform: TRANSLATEY(60%);
    BACKGROUND-COLOR: RGBA(0,0,0,.8);
    PADDING: 20PX;
    BORDER: 2PX SOLID #DDD;
    MAX-WIDTH: 50%;
    }
   
      .line-54{
        line-height: 54px;
        padding: 0px !important;
        margin-top: -15px !important;
      }
      /* .approved-text
      {
        font-size: 14px;
        color: #ffffff;
        font-weight: normal;
        border: 1px solid #5e616f;
        border-radius: 3px;
        height: 40px;
      }
  */
  .footer1{
    background-color:#0a1119; color: #fff;padding: 10px; text-align: center;padding-left :20%; 
  }
  .footer1 a{ color: #fff; margin: 0px 10px;}