@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

@font-face {
  font-family: 'PalatinoLinotype-Roman';
  src: url('../fonts/PalatinoLinotype-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/PalatinoLinotype-Roman.woff') format('woff'),
    url('../fonts/PalatinoLinotype-Roman.ttf') format('truetype'), url('../fonts/PalatinoLinotype-Roman.svg#PalatinoLinotype-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PalatinoLinotype-Bold';
  src: url('../fonts/PalatinoLinotype-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/PalatinoLinotype-Bold.woff') format('woff'),
    url('../fonts/PalatinoLinotype-Bold.ttf') format('truetype'), url('../fonts/PalatinoLinotype-Bold.svg#PalatinoLinotype-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

img {
  max-width: 100%;
}

body {
  background-color: #0a1119;
  font-family: 'Nunito', sans-serif;
}

.gray-bg {
  background-color: #e7f0f8;
}
.form-group {
  position: relative;
}

textarea {
  resize: none;
}
#wrapper {
  height: 100%;
  overflow-y: auto;
}
.coman-modal-a {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn-primary {
  background-color: #36a5ca;
  border-color: #36a5ca;
  font-size: 16px;
  color: #ffffff;
  padding: 8px 36px;
  border-radius: 3px;
}
.btn-primary:hover {
  background-color: #36a5ca;
  border-color: #36a5ca;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
  background-color: #4daece;
  border-color: #4daece;
}

.btn-primary.btn-small {
  padding: 8px 37px;
}
.btn {
  padding: 11px 20px;
  font-size: 15px !important;
  font-weight: bold;
}
.btn-default {
  background-color: #ffffff;
  border-color: #36a5ca;
  font-size: 16px;
  color: #36a5ca;
  border-radius: 3px;
}
.btn-default:hover {
  border-color: #36a5ca;
  color: #fff;
  background: #36a5ca;
}

.btn-dark {
  background-color: #0c151e;
  color: #36a5ca;
}

.header-page {
  padding: 20px 100px 20px 100px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 4;
}

.logo {
  float: left;
}
.logo a {
  display: inline-block;
  vertical-align: top;
}

.top-right-header {
  float: right;
  padding: 10px 0 0 0;
}

.login-btn {
  float: right;
}
.login-btn a {
  font-size: 16px;
  color: #ffffff;
  padding: 7px 25px;
  border-radius: 5px;
}

.header-page .top-menu {
  float: left;
  padding: 10px 0 0 0;
}
.header-page .top-menu ul {
  margin: 0;
  padding: 0;
}
.header-page .top-menu ul li {
  margin: 0;
  padding: 0 40px 9px 0;
  list-style: none;
  float: left;
  position: relative;
}
.header-page .top-menu ul li a {
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0;
  background: none;
}
.header-page .top-menu ul li a:hover {
  color: #36a5ca;
}
.header-page .top-menu ul li a.active {
  color: #36a5ca;
}
.header-page .top-menu ul li ul {
  position: absolute;
  left: 0;
  top: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
  min-width: 135px;
  display: none;
}
.header-page .top-menu ul li ul li {
  padding: 5px 0;
}
.header-page .top-menu ul li:hover ul {
  display: block;
}

.banner-section {
  display: table;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.banner-slider {
  display: table-row;
  height: 100%;
}

.banner-box > img {
  width: 100%;
  height: 100vh;
}

.banner-box .container {
  position: relative;
}
.banner-box .text {
  width: 550px;
  background: #ffffff;
  padding: 50px 50px;
  position: absolute;
  left: 15px;
  top: 200px;
}
.banner-box .text:before {
  position: absolute;
  left: -10px;
  top: -10px;
  height: 10px;
  width: 100%;
  content: '';
  background: #36a5ca;
  z-index: 1;
}
.banner-box .text:after {
  position: absolute;
  left: -10px;
  top: -10px;
  height: 100%;
  width: 10px;
  content: '';
  background: #36a5ca;
  z-index: 1;
}
.banner-box .text h2 {
  font-size: 60px;
  color: #000000;
  font-weight: normal;
  margin: 0;
  padding: 0 0 30px 0;
  font-family: 'PalatinoLinotype-Roman';
}
.banner-box .text p {
  font-size: 22px;
  color: #000000;
  font-weight: normal;
  line-height: 36px;
  margin: 0;
  padding: 0 0 0px 0;
}

.banner-slider .carousel-control {
  width: 50px;
  height: 50px;
  border-radius: 0;
  display: inline-block;
  opacity: 1;
  top: 50%;
  margin-top: -25px;
}
.banner-slider .carousel-control.left {
  background: url(../img/prev.png) center center no-repeat #ffffff;
  left: 30px;
}
.banner-slider .carousel-control.right {
  background: url(../img/next.png) center center no-repeat #ffffff;
  right: 30px;
}
.banner-slider .carousel-control:hover {
  background-color: #36a5ca;
}

.banner-slider .carousel-indicators li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ffffff;
  margin: 0 5px;
  padding: 0;
  border: none;
}
.banner-slider .carousel-indicators li.active {
  background: #36a5ca;
}

/* Carousel Fading slide */
.carousel-fade .carousel-inner {
  background: #000;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .next.left,
.carousel-fade .prev.right,
.carousel-fade .item.active {
  opacity: 1;
}

.carousel-fade .active.left,
.carousel-fade .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

/* Safari Fix */

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.newly-section {
  padding: 100px 0 70px 0;
  background: url(../img/newly-bg-img.jpg) no-repeat;
  background-size: cover;
}

.newly-top-form {
  background: rgba(0, 0, 0, 0.4);
  padding: 30px 30px 0 30px;
  margin-bottom: 90px;
}
.newly-top-form .form-control {
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
  background: url(../img/select-box-arrow.png) right center no-repeat rgba(0, 0, 0, 0.4);
  border: 1px solid #ffffff;
  border-radius: 6px;
  height: 42px;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}
.newly-top-form select option {
  background: rgba(0, 0, 0, 0.95);
}
.newly-top-form .form-group {
  margin-bottom: 30px;
}
.newly-top-form .form-group label {
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
  display: block;
}
.newly-top-form .form-group label strong {
  font-weight: bold;
  float: right;
}
.newly-top-form .btn {
  height: 42px;
  padding: 8px 37px;
}

.title-def {
  position: relative;
  padding: 0 0 18px 0;
  margin-bottom: 50px;
  text-align: center;
}
.title-def:before {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: '';
  width: 60px;
  height: 4px;
  background: #36a5ca;
  margin-left: -30px;
}
.title-def h2 {
  font-size: 50px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-family: 'PalatinoLinotype-Bold';
}

.newly-list .box {
  margin-bottom: 30px;
}
.newly-list .box .image {
  position: relative;
}
.newly-list .box .image:before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: url(../img/shade.png) repeat-x;
  content: '';
}
.newly-list .box .image img {
  width: 100%;
}
.newly-list .box .image .soon {
  position: absolute;
  top: 20px;
  right: -10px;
}
.newly-list .box .image .soon:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 0 10px;
  border-color: transparent transparent transparent #019477;
  position: absolute;
  right: 0;
  top: -7px;
  content: '';
}
.newly-list .box .image .soon h4 {
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  background: #36a5ca;
  padding: 7px 15px;
}
.newly-list .box .image .rental-label {
  top: 20px;
  left: 20px;
  right: auto;
}
.newly-list .box .image .rental-label:before {
  display: none;
}
.newly-list .box .image .rental-label h4 {
  color: #ffffff;
  background: #000000;
}

.newly-list .box .image .price {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0px 20px 32px 20px;
}
.newly-list .box .image .price h3 {
  font-size: 14px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.newly-list .box .image .price h3 strong {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  display: block;
  padding: 0 0 6px 0;
}
.newly-list .box .text {
  padding: 19px 19px 19px 19px;
  border: 1px solid #dedede;
  border-top: 0;
  background: #ffffff;
}
.newly-list .box .text h3 {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  margin: 0;
  padding: 0 0 8px 0;
}
.newly-list .box .text h3 a {
  color: #000000;
}
.newly-list .box .text h3 a:hover {
  color: #36a5ca;
}
.newly-list .box .text p {
  font-size: 14px;
  line-height: 22px;
  color: #888888;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.newly-list .box .text h5 {
  font-size: 14px;
  color: #000000;
  font-weight: normal;
  margin: 0;
  padding: 12px 0 0 0;
}

.dtls {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  margin: 15px 0 0 0;
  padding: 10px 0;
}

.newly-list .box .text .newly-info {
  padding: 15px 0 0 0;
}
.newly-list .box .text .newly-info h5 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0 23px 0 0;
  line-height: 20px;
}
.newly-list .box .text .newly-info h5:last-child {
  padding: 0;
}
.newly-list .box .text .newly-info h5 img {
  vertical-align: top;
}

.footer-page {
  background: #000000;
  padding: 29px 0px;
  border-top: 1px solid #1a1a1a;
}

.foot-menu {
  float: left;
}
.foot-menu ul {
  margin: 0;
  padding: 0;
}
.foot-menu ul li {
  margin: 0;
  padding: 0 20px;
  list-style: none;
  float: left;
  line-height: 14px;
  border-left: 1px solid #ffffff;
}
.foot-menu ul li a {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 14px;
  color: #ffffff;
  font-weight: normal;
}
.foot-menu ul li a:hover {
  color: #36a5ca;
}
.foot-menu ul li.active a {
  color: #36a5ca;
}
.foot-menu ul li:first-child {
  padding-left: 0;
  border-left: 0;
}

.copy-right {
  float: right;
}
.copy-right p {
  font-size: 16px;
  line-height: 14px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.properties-details-sliders {
  padding: 0 0 0 0;
  margin: 6px 0 0 0;
  position: relative;
  overflow: hidden;
}
.properties-details-sliders img {
  width: 100%;
}
.properties-details-sliders .slick-slide {
  padding: 0 15px;
}

.properties-details-sliders::before {
  position: absolute;
  top: 0;
  right: -15px;
  height: 100%;
  width: 22%;
  content: '';
  background: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

.properties-details-sliders::after {
  position: absolute;
  top: 0;
  left: -15px;
  height: 100%;
  width: 22%;
  content: '';
  background: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

.properties-details-sliders .slick-arrow:before {
  display: none;
}
.properties-details-sliders .slick-prev {
  background: url(../img/prev.png) center center no-repeat #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 0;
  display: inline-block;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 30px;
  margin-top: -25px;
  z-index: 12;
}
.properties-details-sliders .slick-prev:hover {
  background-color: #36a5ca;
}
.properties-details-sliders .slick-next {
  background: url(../img/next.png) center center no-repeat #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 0;
  display: inline-block;
  opacity: 1;
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -25px;
  z-index: 12;
}
.properties-details-sliders .slick-next:hover {
  background-color: #36a5ca;
}

.property-dtl-top-section {
  padding: 85px 0 0 0;
}
.property-dtl-top-section h2 {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
  padding: 0 0 14px 0;
  font-family: 'Lato', sans-serif;
}
.property-dtl-top-section h2 a {
  width: 29px;
  height: 25px;
  background: url(../img/heart.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
}
.property-dtl-top-section p {
  font-size: 18px;
  color: #888888;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.property-dtl-top-section h3 {
  font-size: 36px;
  color: #36a5ca;
  font-weight: bold;
  margin: 0;
  padding: 0 0 22px 0;
  font-family: 'Lato', sans-serif;
}

.dl-left {
  float: left;
}
.dl-right {
  float: right;
}

.land-info-list {
  clear: both;
  overflow: hidden;
  padding: 10px 0 0 0;
}
.land-info-list ul {
  margin: 0 0 0 -30px;
  padding: 0;
}
.land-info-list ul li {
  margin: 0;
  padding: 0 0 30px 30px;
  list-style: none;
  float: left;
}
.land-info-list ul li .box {
  border: 1px solid #dedede;
  border-radius: 5px;
  text-align: center;
  padding: 16px 10px 15px 10px;
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
  width: 180px;
}
.land-info-list ul li .box img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.land-info-list ul li .box span {
  display: inline-block;
  vertical-align: middle;
}

.property-dtl-tab {
  padding: 20px 0 0 0;
}
.property-dtl-tab .nav li {
 /* padding: 0 40px 0 0;*/
  margin: 0;
}
.property-dtl-tab .nav li a {
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  padding: 0 0 16px 0;
  background: none;
  position: relative;
  margin: 0;
  outline: none;
}
/*.property-dtl-tab .nav li a:before{ height: 3px; position: absolute; left: 0; right: 0; bottom: -2px; content: ""; background: #36a5ca; display: none; }*/
/*.property-dtl-tab .nav li.active a:before{ display: block; }*/

.property-dtl-tab .nav-tabs > li.active > a,
.property-dtl-tab .nav-tabs > li > a:hover,
.property-dtl-tab .nav-tabs > li.active > a:hover,
.property-dtl-tab .nav-tabs > li.active > a:focus {
  color: #36a5ca;
  margin: 0;
  outline: none;
  border: none;
}

.property-dtl-tab .tab-content {
  padding: 40px 0 0 0;
}
.property-dtl-tab .tab-content p {
  font-size: 14px;
  line-height: 30px;
  color: #c2c2c2;
  font-weight: normal;
  margin: 0;
  padding: 0 0 25px 0;
}
.property-dtl-tab .tab-content h2 {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
  padding: 0 0 20px 0;
}

.summary-box {
  padding: 15px 0 20px 0;
}
.summary-box h3 {
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
  padding: 0 0 20px 0;
}

.summary-box ul {
  padding: 0;
  margin: 0;
}
.summary-box ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
  width: 25%;
}
.summary-box ul li .box {
  padding: 0;
  margin: 0;
}
.summary-box ul li .box p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
}
.summary-box ul li .box p strong {
  font-size: 18px;
  color: #c2c2c2;
  font-weight: bold;
  display: block;
}

.neg-left {
  width: 370px;
  margin: 0 30px 0 0;
  float: left;
}
.neg-left h5 {
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0 0 0 40px;
  background: url(../img/address-icon2.png) 0 4px no-repeat;
}

.neg-right {
  overflow: hidden;
}

body.modal-open,
body {
  padding-right: 0 !important;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  overflow-y: auto;
}

/*.coman-modal.in{ display: flex !important; align-items: center; }*/

.coman-modal .modal-dialog {
  width: 500px;
  margin: 60px auto;
}
.coman-modal .modal-content {
  border-radius: 5px;
  padding: 25px;
}
/*.coman-modal .modal-content:before{ position: absolute; left: -10px; top: -10px; height: 10px; width: 100%; content: ""; background: #36a5ca; z-index: 1; }*/
/*.coman-modal .modal-content:after{ position: absolute; left: -10px; top: -10px; height: 100%; width: 10px; content: ""; background: #36a5ca; z-index: 1; }*/
.coman-modal .modal-content h2 {
  font-size: 22px;
  color: #666;
  font-weight: bold;
  margin: 0;
  padding: 15px 0;
}
.coman-modal .modal-content h2.p-t-0 {
  padding-top: 0;
}
.coman-modal .modal-content > img {
  width: 100px;
}
.coman-modal .form-group {
  margin-bottom: 15px;
}
.coman-modal .form-control {
  font-size: 14px;
  color: #333333;
  font-weight: normal;
  background-color: #f6f7f9;
  height: 40px;
  border: 1px solid #bbbbbb;
  border-radius: 3px;
  padding: 6px 12px 6px 50px;
}
.coman-modal .form-control-a {
  font-size: 14px;
  color: #333333;
  font-weight: normal;
  background-color: #f6f7f9;
  height: 70px;
  border: 1px solid #bbbbbb;
  border-radius: 3px;
  padding: 6px 12px 6px 6px;
}

.coman-modal .form-control::placeholder {
  color: #8e8e8e;
  opacity: 1;
}

.forgot-link {
  text-align: right;
  padding: 0 0 15px 0;
}
.forgot-link a {
  font-size: 15px;
  color: #36a5ca;
  font-weight: normal;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}
.forgot-link a:hover {
  text-decoration: underline;
}

.coman-modal .btn-primary {
  width: 100%;
  border-radius: 3px;
}
.coman-modal .btn-default {
  width: 100%;
  border-radius: 3px;
}

.dont-ac {
  text-align: center;
  padding: 20px 0 0 0;
}
.dont-ac p {
  font-size: 16px;
  color: #333333;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.dont-ac p br {
  display: none;
}
.dont-ac p a {
  text-decoration: underline;
  font-size: 16px;
  color: #36a5ca;
}
.dont-ac p a:hover {
  text-decoration: none;
}

.signup-tab .nav {
  margin: 0;
  padding: 0;
}
.signup-tab .nav li {
  margin: 0;
  padding: 0;
  float: left;
  width: 50%;
  text-align: center;
}
.signup-tab .nav li a {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  margin: 0;
  padding: 0 0 10px 0;
  border: none;
  border-radius: 0;
  background: none;
  display: block;
}

.signup-tab .nav-tabs > li.active > a,
.signup-tab .nav-tabs > li.active > a:hover,
.signup-tab .nav-tabs > li > a:focus,
.signup-tab .nav-tabs > li.active > a:focus {
  background: none;
  border: none;
  outline: none;
  color: #36a5ca;
  border-bottom: 2px solid #36a5ca;
}

.signup-tab .tab-content {
  padding: 15px 0 0 0;
}

.agree-box {
  text-align: left;
  padding: 0 0 10px 0px;
}
.agree-box label {
  font-size: 16px;
  color: #333333;
  font-weight: normal;
  width: inherit;
  margin: 0;
  padding: 0;
}
.agree-box label a {
  color: #36a5ca;
  text-decoration: underline;
}
.agree-box label a:hover {
  text-decoration: none;
}
#tab-content-a h2 {
  font-size: 17px;
  padding-bottom: 5px;
}

#tab-content-a p {
  padding-bottom: 0px;
  font-size: 33px;
  color: #41a2ca;
  line-height: 33px;
  font-weight: bold;
  margin-top: 5px;
}
.property-dtl-tab .nav-tabs .ibox-content {
  background-color: #1b2229;
  border-color: #1b2229;
  background: linear-gradient(90deg, rgb(71, 161, 202) 0%, rgb(95, 157, 202) 35%, rgb(54, 165, 202) 100%);
  padding: 20px;
  border-radius: 8px;
}
.dark-bg {
  background-color: #080d13;
}
.property-dtl-tab .nav-tabs > li.active > a > .ibox-content, .property-dtl-tab .nav-tabs > li > a:hover >.ibox-content, .property-dtl-tab .nav-tabs > li.active > a:hover >.ibox-content, .property-dtl-tab .nav-tabs > li.active > a:focus >.ibox-content {
  background: linear-gradient(rgb(190, 251, 255) 0%, rgb(152, 232, 244) 57%);
}
.ibox-content {
  background-color: #1b2229;
  border-color: #1b2229;
  background: #1b2229;
  padding: 20px;
  border-radius: 8px;
}
.dark-bg-header {
  background-color: #0c151e;
  border-color: #0c151e;
}
#tab-content-a .ibox-content {
  background-color: #1b2229;
  border-color: #1b2229;
  background: #1b2229;
}
.float-n {
  float: none;
}

#side-menu .nav-header {
  padding: 12px 10px;
  border-right: 1px solid #182129;
  border-bottom: 1px solid #161d25;
}
.navbar.navbar-static-top {
  height: 85px;
  padding: 31px 3px 0 0;
}
body.mini-navbar .nav-header {
  padding: 0;
  background-color: #080d13;
}
.mini-navbar .nav-user-part h3 {
  font-size: 13px;
}
.mini-navbar .nav > li > a {
  padding: 14px 20px 14px 22px;
}

body.mini-navbar .profile-element,
body.mini-navbar .nav-label,
body.mini-navbar .navbar-default .nav li a span {
  display: none;
}
.nav-tabs {
  border-bottom: 0px;
}
.mini-navbar .nav li:hover > .nav li a span {
  display: block;

  position: absolute;
  top: 0px;
  left: 62px;
  background: #fff;
  padding: 8px;
  padding: 14px 20px 14px 22px;
}
.mini-navbar .nav-user-part h4 {
  font-size: 11px;
}
.mini-navbar .nav-user-part .image img {
  width: 40px;
  height: 40px;
}
.nav-user-part {
  text-align: center;
  padding: 20px 10px 17px 10px;
}

.nav-user-part .image a {
  display: inline-block;
  padding: 0;
  outline: none;
}
.navbar-default .nav-user-part .image a:hover,
.navbar-default .nav-user-part .image a img:hover {
  background: #0a1119;
}
.nav-user-part .image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.nav-user-part h4 {
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 12px 0 7px 0;
}
.nav-user-part h3 {
  font-size: 20px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.nav.navbar-right li {
  padding: 0 0 0 40px;
}
.nav.navbar-right li a {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
  min-height: inherit;
}
.nav.navbar-right li a:hover {
  color: #36a5ca;
}
.nav.navbar-right li a.active {
  color: #36a5ca;
}

.metismenu li {
  border-left: 4px solid #0a1119;
}
.metismenu li a {
  font-size: 15px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 15px 15px 15px 15px;
}
.metismenu li a span {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 7px;
}
.metismenu li a .icon {
  width: 26px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
}

.metismenu li a .icon-1 {
  width: 20px;
  height: 17px;
  background: url(../img/menu-icon1.png) 0 0 no-repeat;
}
.metismenu li a .icon-2 {
  width: 19px;
  height: 22px;
  background: url(../img/menu-icon2.png) 0 0 no-repeat;
  margin-left: 2px;
}
.metismenu li a .icon-3 {
  width: 21px;
  height: 20px;
  background: url(../img/menu-icon3.png) 0 0 no-repeat;
  margin-left: 2px;
}
.metismenu li a .icon-4 {
  width: 21px;
  height: 19px;
  background: url(../img/menu-icon4.png) 0 0 no-repeat;
  margin-left: 1px;
}
.metismenu li a .icon-5 {
  width: 21px;
  height: 20px;
  background: url(../img/menu-icon5.png) 0 0 no-repeat;
}
.metismenu li a .icon-6 {
  width: 19px;
  height: 21px;
  background: url(../img/menu-icon6.png) 0 0 no-repeat;
}
.metismenu li a .icon-7 {
  width: 19px;
  height: 23px;
  background: url(../img/menu-icon7.png) 0 0 no-repeat;
  margin-left: 1px;
}
.metismenu li a .icon-8 {
  width: 21px;
  height: 21px;
  background: url(../img/menu-icon8.png) 0 0 no-repeat;
}
.metismenu li a .icon-9 {
  width: 21px;
  height: 20px;
  background: url(../img/menu-icon9.png) 0 0 no-repeat;
  margin-left: 1px;
}
.metismenu li a .icon-10 {
  width: 21px;
  height: 20px;
  background: url(../img/menu-icon10.png) 0 0 no-repeat;
  margin-left: 1px;
}
.metismenu li.active {
  border-left: 4px solid #36a5ca;
  background: #0b1a20;
}
.metismenu li.active a {
  color: #36a5ca;
}
.metismenu li.active a .icon {
  background-position: 0 bottom;
}

.navbar-default .metismenu li a:hover,
.navbar-default .metismenu li a:focus {
  background: transparent;
  color: #36a5ca;
}

.navbar-default .metismenu li:hover,
.navbar-default .metismenu li:focus {
  border-color: transparent;
}

.navbar-default .metismenu li:nth-child(1):hover {
  border-left: 4px solid #0a1119;
}
.navbar-default .metismenu li:nth-child(2):hover {
  border-left: 4px solid #0a1119;
}

.navbar-default .metismenu li a:hover .icon,
.navbar-default .metismenu li a:focus .icon {
  background-position: 0 bottom;
}

.navbar-default .nav-header .logo-panel a {
  display: block;
  padding: 0;
}
.navbar-default .nav-header .logo-panel a:hover {
  background: none;
}

.box-heading h2 {
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0 0 20px 0;
}
.box-heading h5 {
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0 0 20px 0;
}

.ibox-content img {
  width: 100%;
}

.chk {
  position: relative;
  float: left;
  margin: 0 15px 0 0;
}
.chk input {
  width: 24px;
  height: 24px;
  opacity: 0;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  cursor: pointer;
}
.chk span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #22c0a1;
  vertical-align: top;
  background: #0c151e;
}
.chk input:checked + span {
  background: url(../img/checkbox-icon.png) center center no-repeat;
}
.bank-details-form {
  max-width: 970px;
  margin: 0 auto;
  padding: 20px 0;
}
.form-control {
  font-size: 14px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 6px 20px;
  height: 40px;
  background: #080d13;
  border: 1px solid #5e616f;
  border-radius: 3px;
}

/* add by tanvir */
.form-control-width-pedding {
  font-size: 14px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 6px 12px 6px 50px;
  height: 40px;
  background: #080d13;
  border: 1px solid #5e616f;
  border-radius: 3px;
}

.form-group {
  margin-bottom: 20px;
}

.coman-table table tr th {
  font-size: 14px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 10px 0;
  border: none;
}
.coman-table table tr td {
  font-size: 12px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 15px 0;
  border-top: 1px solid #252d35;
}

.kyc-top-bar {
  text-align: center;
  padding: 20px 0;
}
.kyc-top-bar ul {
  margin: 0;
  padding: 0;
}
.kyc-top-bar ul li {
  margin: 0 0px;
  padding: 0;
  list-style: none;
  width: 33.33%;
  float: left;
}
.kyc-top-bar ul li .box {
  position: relative;
}
.kyc-top-bar ul li .box:before {
  position: absolute;
  top: 50%;
  height: 8px;
  width: calc(100% - 130px);
  margin-top: -4px;
  right: 50%;
  content: '';
  background: #242c35;
  z-index: 1;
  margin-right: 65px;
  border-radius: 5px;
}
.kyc-top-bar ul li.current .box:before {
  background: #36a5ca;
}
.kyc-top-bar ul li:first-child .box:before {
  display: none;
}
.kyc-top-bar ul li .box .icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.kyc-top-bar ul li .box .ic-1 {
  background: url(../img/kyc-icon1.png) 0 0 no-repeat #232b33;
}
.kyc-top-bar ul li .box .ic-2 {
  background: url(../img/kyc-icon2.png) 0 0 no-repeat #232b33;
}
.kyc-top-bar ul li .box .ic-3 {
  background: url(../img/kyc-icon3.png) 0 0 no-repeat #232b33;
}

.kyc-top-bar ul li.current .box .icon {
  background-position: 0 bottom;
  background-color: #36a5ca;
}

.kyc-section {
  max-width: 970px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}
.kyc-section h2 {
  font-size: 32px;
  color: #36a5ca;
  font-weight: bold;
  margin: 0;
  padding: 0 0 20px 0;
  text-align: center;
}
.kyc-section h4 {
  font-size: 20px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0 0 20px 0;
  text-align: center;
}

select.form-control {
  font-size: 14px;
  color: #ffffff;
  font-weight: normal;
  background: url(../img/select-box-arrow.png) right center no-repeat #252d35;
  border: 1px solid #5e616f;
  border-radius: 3px;
  height: 40px;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}

.dc-fr input {
  background: url(../img/attch-icon.png) right center no-repeat #252d35;
}
.cal-fr img {
  width: 38px;
}

.guide-box {
  padding: 10px 0 0 0;
}
.guide-box h3 {
  font-size: 20px;
  color: #36a5ca;
  font-weight: bold;
  margin: 0;
  padding: 0 0 15px 0;
}
.guide-box p {
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0 0 20px 0;
}
.guide-box ul {
  margin: 0 0 0 -30px;
  padding: 0;
}
.guide-box ul li {
  margin: 0;
  list-style: none;
  float: left;
  width: 50%;
  padding: 0 0 30px 30px;
}
.guide-box ul li .box {
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  padding: 10px;
}

.agreement-list {
  padding: 20px 0 10px 0;
}
.agreement-list ul {
  padding: 0;
  margin: 0;
}
.agreement-list ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.agreement-list ul li .box {
  margin: 0 0 30px 0;
}
.cal-input {
  padding-left: 10px !important;
}
.glyphicon {
  color: #7ec3db;
}
.navbar-minimalize {
  padding: 5px 13px;
}
.input-group-addon {
  background-color: #f6f7f9;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 6px 12px;
  text-align: center;
}
.chk {
  position: relative;
  float: left;
  margin: 0 15px 0 0;
}
.chk input {
  width: 24px;
  height: 24px;
  opacity: 0;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  cursor: pointer;
}
.chk span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #36a5ca;
  vertical-align: top;
  background: transparent;
}
.chk input:checked + span {
  background: url(../img/checkbox-icon.png) center center no-repeat;
}

.agreement-list ul li .box p {
  font-size: 17px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0;
  display: table-cell;
}
.agreement-list ul li .box p a {
  color: #36a5ca;
}
.agreement-list ul li .box p a:hover {
  text-decoration: underline;
}

.kyc-status {
  padding: 30px;
}
.kyc-status img {
  width: auto;
}
.kyc-status h3 {
  font-size: 40px;
  color: #36a5ca;
  font-weight: bold;
  margin: 0;
  padding: 20px 0 0 0;
}

.property-top-section .image {
  width: 230px;
  float: left;
  margin: 0 30px 0 0;
}
.property-top-section .image img {
  width: 100%;
}
.property-top-section .text {
  overflow: hidden;
}
.property-top-section .text h2 {
  font-size: 22px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0 0 10px 0;
}
.property-top-section .text h2 span {
  display: inline-block;
  border-left: 1px solid #36a5ca;
  padding-left: 13px;
  margin-left: 10px;
}
.property-top-section .text p {
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.property-top-section .text p img {
  width: auto;
}

.cap-list {
  padding: 20px 0 0 0;
}
.cap-list ul {
  margin: 0;
  padding: 0;
}
.cap-list ul li {
  margin: 0;
  padding: 5px 0;
  list-style: none;
  width: 50%;
  float: left;
}
.cap-list ul li p {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #ffffff;
}
.cap-list ul li p strong {
  font-size: 18px;
}

.back-btn {
  padding: 0 0 20px 0;
}
.back-btn a {
  display: inline-block;
}
.back-btn a img {
  width: auto;
}

.Assets-dtl-tab {
  padding: 0;
}
.Assets-dtl-tab .tab-content {
  padding: 30px 0 0 0;
}

.Assets-dtl-tab .nav-tabs {
  border-color: #182129;
}

.Asset-summary-list h3 {
  font-size: 22px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0 0 20px 0;
}
.Asset-summary-list ul {
  padding: 0;
  margin: 0;
}
.Asset-summary-list ul li {
  padding: 0 10px 10px 0;
  margin: 0;
  list-style: none;
  float: left;
  width: 25%;
}
.Asset-summary-list ul li h5 {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.Asset-summary-list ul li h5 span {
  font-size: 16px;
  display: block;
  font-weight: normal;
  padding: 0 0 12px 0;
}

.Assets-statistics .box {
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #182129;
}

.wallet-list ul {
  margin: 0;
  padding: 0;
}
.wallet-list ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wallet-list ul li .box {
  padding: 20px;
  background: #11303a;
  margin-top: 20px;
}
.wallet-list ul li .box h4 {
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0 0 10px 0;
}
.wallet-list ul li .box h3 {
  font-size: 25px;
  color: #36a5ca;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.my-Assets-tab .tab-content {
  padding: 30px 0 0 0;
}

.ast-list {
  display: block;
}
.ast-list .box {
  margin-bottom: 30px;
}
.ast-list .box img {
  width: auto;
}

.ast-list .box .image img {
  width: 100%;
}
.ast-list .box .text {
  padding: 19px 19px 15px 19px;
  border: 1px solid #dedede;
  border-top: 0;
  background: #ffffff;
}
.ast-list .box .text h3 {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  margin: 0;
  padding: 0 0 8px 0;
}
.ast-list .box .text h3 a {
  color: #000000;
}
.ast-list .box .text h3 a:hover {
  color: #36a5ca;
}
.ast-list .box .text p {
  font-size: 14px;
  line-height: 22px;
  color: #888888;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.ast-list .box .text h5 {
  font-size: 14px;
  color: #000000;
  font-weight: normal;
  margin: 0;
  padding: 12px 0 0 0;
}
.ast-list .box .text h6 {
  font-size: 14px;
  color: #888888;
  font-weight: normal;
  margin: 0;
  padding: 5px 0;
  text-align: right;
  clear: both;
  overflow: hidden;
}
.ast-list .box .text h6 span {
  font-size: 16px;
  color: #000000;
  display: inline-block;
  float: left;
  padding-right: 10px;
}

.as-info {
  border-top: 1px solid #dedede;
  margin: 15px 0 0 0;
  padding: 12px 0 0 0;
}

.modal-Asset-status .modal-dialog {
  width: auto;
  margin: 0px 50px 0px 67px;
  top: 50%;
  margin-top: -140px;
}
.modal-Asset-status .modal-header {
  padding: 0;
  border: none;
}
.modal-Asset-status .close {
  background: #36a5ca;
  color: #ffffff;
  font-weight: normal;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  opacity: 1;
  font-size: 18px;
  position: absolute;
  right: -10px;
  top: -16px;
}
.modal-Asset-status .close span {
  vertical-align: top;
  display: inline-block;
  margin-top: -1px;
}
.modal-Asset-status .modal-body {
  padding: 0;
}
.modal-Asset-status .modal-body h2 {
  font-size: 26px;
  color: #000000;
  font-weight: bold;
  margin: 0;
  padding: 0 0 10px 0;
}
.modal-Asset-status .modal-body p {
  font-size: 16px;
  color: #888888;
  font-weight: normal;
  margin: 0;
  padding: 0 0 10px 0;
}

.ast-status-bar {
  padding: 20px 0 0px 0;
}
.ast-status-bar ul li {
  width: 11.11%;
}
.ast-status-bar ul li .box {
  position: relative;
}
.ast-status-bar ul li .box:before {
  position: absolute;
  top: 28px;
  height: 5px;
  width: calc(100% - 70px);
  margin-top: -4px;
  right: 50%;
  content: '';
  background: #a7abae;
  z-index: 1;
  margin-right: 35px;
  border-radius: 5px;
}
.ast-status-bar ul li.current .box:before {
  background: #36a5ca;
}
.ast-status-bar ul li:first-child .box:before {
  display: none;
}
.ast-status-bar ul li .box .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.ast-status-bar ul li .box .ic-1 {
  background: url(../img/ast-status-icon1.png) 0 0 no-repeat #a7abae;
}
.ast-status-bar ul li .box .ic-2 {
  background: url(../img/ast-status-icon2.png) 0 0 no-repeat #a7abae;
}
.ast-status-bar ul li .box .ic-3 {
  background: url(../img/ast-status-icon3.png) 0 0 no-repeat #a7abae;
}
.ast-status-bar ul li .box .ic-4 {
  background: url(../img/ast-status-icon4.png) 0 0 no-repeat #a7abae;
}
.ast-status-bar ul li .box .ic-5 {
  background: url(../img/ast-status-icon5.png) 0 0 no-repeat #a7abae;
}
.ast-status-bar ul li .box .ic-6 {
  background: url(../img/ast-status-icon6.png) 0 0 no-repeat #a7abae;
}
.ast-status-bar ul li .box .ic-7 {
  background: url(../img/ast-status-icon7.png) 0 0 no-repeat #a7abae;
}
.ast-status-bar ul li .box .ic-8 {
  background: url(../img/ast-status-icon8.png) 0 0 no-repeat #a7abae;
}
.ast-status-bar ul li .box .ic-9 {
  background: url(../img/ast-status-icon9.png) 0 0 no-repeat #a7abae;
}
.ast-status-bar ul li .box h4 {
  font-size: 14px;
  color: #000000;
  font-weight: normal;
  margin: 0;
  padding: 15px 10px 0 10px;
}

.reset-password-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px 0;
}

#modal-new-Asset .modal-body {
  padding: 0;
}
#modal-new-Asset .modal-body h2 {
  font-size: 22px;
  padding: 0 0 30px 0;
}

.docs-list h3,
.ast-images-part h3 {
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0 0 20px 0;
}

.docs-list {
  padding: 10px 0 0 0;
}
.docs-list ul {
  margin: 0 0 0 -30px;
  padding: 10px 0 0 0;
}
.docs-list ul li {
  margin: 0;
  padding: 0 0 30px 30px;
  list-style: none;
  float: left;
  width: 16.6666%;
}
.docs-list ul li .box {
  position: relative;
}
.docs-list ul li .box .cls-btn {
  position: absolute;
  right: -12px;
  top: -12px;
  z-index: 2;
}
.docs-list ul li .box .cls-btn a {
  width: 24px;
  height: 24px;
  line-height: 24px;
  background: url(../img/close-icon.png) center center no-repeat #36a5ca;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
}

.docs-list + .docs-list {
  border-bottom: 1px solid #252d35;
}

.bdr-none {
  border-bottom: none !important;
}

.ast-images-part {
  padding: 30px 0 0 0;
}

.rnt-same-form {
  padding: 20px 0 0 0;
}
.rnt-same-form label {
  font-size: 20px;
  line-height: 21px;
  color: #a5a5a5;
  font-weight: normal;
  margin: 0 5px 0 0;
  vertical-align: top;
}
.rnt-same-form label + label {
  margin-left: 25px;
}

.amenities-list ul {
  margin: 0;
  padding: 0;
}
.amenities-list ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  width: 25%;
}
.amenities-list ul li .box {
  margin: 0 0 20px 0;
}

.amenities-list ul li .box .checkbox label {
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
}
.amenities-list ul li .box h4 {
  font-size: 14px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 4px 0 0 0;
}

.all-ch-box h2 {
  float: left;
  margin-right: 25px;
}
.all-ch-box .chk {
  margin: 3px 15px 0 0;
}
.all-ch-box h4 {
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
}

hr {
  border-color: #252d35;
}

.ast-list-status .box {
  position: relative;
}
.hov-link {
  display: none;
}
.hov-link a {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: url(../img/eye.png) center center no-repeat rgba(0, 0, 0, 0.85);
  outline: none;
}

.ast-list-status .box:hover .hov-link {
  display: block;
}

.cms-pages-section p {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0 0 20px 0;
}
.cms-pages-section p a {
  color: #ffffff;
  text-decoration: underline;
}
.cms-pages-section p a:hover {
  text-decoration: none;
}
.cms-pages-section h3 {
  font-size: 22px;
  line-height: 32px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 10px 0 7px 0;
}

.notification-list ul {
  padding: 0;
  margin: 0;
}
.notification-list ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #182129;
}
.notification-list ul li .box {
  padding: 10px 0;
}
.notification-list ul li .box .image {
  width: 30px;
  float: left;
  margin: 0 20px 0 0;
}
.notification-list ul li .box .text {
  overflow: hidden;
  padding: 7px 0 0 0;
}
.notification-list ul li .box .text p {
  font-size: 14px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.notification-list ul li .box .text p a {
  color: #ffffff;
}
.notification-list ul li .box .text p span {
  display: inline-block;
  float: right;
}

.faq-list ul {
  padding: 0;
  margin: 0;
}
.faq-list ul li {
  padding: 0px 0;
  margin: 0;
  list-style: none;
}
.faq-list ul li .box {
  padding: 15px 0;
}
.faq-list ul li .box h3 {
  font-size: 20px;
  color: #36a5ca;
  font-weight: normal;
  margin: 0;
  padding: 0 0 10px 0;
}
.faq-list ul li .box p {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
}
.faq-list ul li .box p span {
  font-size: 24px;
}
.faq-list ul li .box a {
  color: #36a5ca;
}
.faq-list ul li .box a:hover {
  color: #36a5ca;
  text-decoration: underline;
}
.contact-map {
  margin-bottom: 30px;
}
.contact-map iframe {
  width: 100%;
  height: 780px;
}

.title-def h5 {
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0 0 6px 0;
}

.cnt-info-a {
  margin: 0 0 20px 0;
}
.cnt-info-a img {
  float: left;
}
.cnt-info-a p {
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0 0 0 13px;
  float: none;
  overflow: hidden;
}
.cnt-info-a p a {
  color: #ffffff;
}
.cnt-info-a p a:hover {
  color: #36a5ca;
}

.cnt-info-c img {
  margin-top: 4px;
}

.cnt-form .form-control {
  background-color: rgba(0, 0, 0, 0.7);
}

.my-ac-section {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

.my-ac-img {
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
}
.my-ac-img img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 8px solid #36a5ca;
}

.my-ac-section .form-control {
  padding: 6px 12px 6px 50px;
}

.change-pw {
  text-align: right;
  padding: 0 0 20px 0;
}
.change-pw a {
  font-size: 18px;
  color: #fff;
  font-weight: normal;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.change-pw a img {
  width: auto;
  margin: -2px 3px 0 0;
}
.change-pw a:hover {
  color: #36a5ca;
}

.bank-details-view label {
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.bank-details-view p {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.top-menu2 .top-menu {
  float: none;
}
.top-menu2 .top-menu ul {
  margin: 0;
  padding: 0;
}
.top-menu2 .top-menu ul li {
  margin: 0;
  padding: 0 40px 9px 0;
  list-style: none;
  float: left;
  position: relative;
}
.top-menu2 .top-menu ul li a {
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0;
  background: none;
}
.top-menu2 .top-menu ul li a:hover {
  color: #36a5ca;
}
.top-menu2 .top-menu ul li a.active {
  color: #36a5ca;
}

.top-menu2 .top-menu ul li ul {
  position: absolute;
  left: 0;
  top: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
  min-width: 135px;
  display: none;
}
.top-menu2 .top-menu ul li ul li {
  padding: 5px 0;
}
.top-menu2 .top-menu ul li:hover ul {
  display: block;
}

.edit-wallet {
  max-width: 460px;
  margin: 0 auto;
  padding: 20px 0;
}
.edit-wallet .form-group label {
  font-size: 18px;
  color: #ffffff;
  margin: 0;
  padding: 0 0 10px 0;
  display: inline-block;
  font-weight: normal;
}

.cnt-line {
  text-align: center;
  padding: 0 0 40px 0;
  margin: -20px 0 0 0;
}
.cnt-line p {
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
  padding: 0 0 0 0;
}

#forgot-pw-modal-link p {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#add-wallet-modal .form-control {
  padding-left: 20px;
}

.browse-btn {
  position: absolute;
  right: 15px;
  top: 20px;
}
.browse-btn span {
  width: 38px;
  height: 38px;
  line-height: 38px;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  background: #36a5ca;
  padding: 1px 0 0 0;
}
.browse-btn span i {
  color: #ffffff;
  font-size: 16px;
}
.browse-btn input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

/*my style*/
#sign-in h1 {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #666;
  font-weight: bold;
}

.coman-modal .modal-dialog.modal-a {
  max-width: 550px;
  width: 100%;
}
.modal-open .modal {
  overflow-y: auto;
}
.close:focus,
.close:hover {
  outline: none;
}

.success-msg-icon i {
  color: #36ca9a;
  font-size: 80px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.modal h1,
.modal h2 {
  font-weight: bold;
  color: #666;
}
.modal p {
  font-size: 16px;
  color: #666;
}

#signup-tab1 input {
  padding-left: 45px;
}
#signup-tab1 select {
  padding-left: 45px;
}
.modal-width-600 {
  width: 100% !important;
  max-width: 800px;
}
/*verification */
#form input {
  margin: 0 5px;
  text-align: center;

  font-size: 20px;
  border: solid 1px #ccc;
  box-shadow: 0 0 5px #ccc inset;
  outline: none;

  transition: all 0.2s ease-in-out;
  border-radius: 3px;
}
#form input:focus {
  border-color: #ff9ef9;
  box-shadow: 0 0 5px #ff9ef9 inset;
}
#form input::-moz-selection {
  background: transparent;
}
#form input::selection {
  background: transparent;
}
.cal-fr input {
  background: url(../img/cal-icon.png) right center no-repeat #252d35;
}
.dc-fr input {
  background: url(../img/attch-icon.png) right center no-repeat #252d35;
}
.logo-panel img {
  width: 70px;
}
.qr-code img {
  width: 170px;
}
.navbar-default {
  background: #1b2229;
  height: 100vh;
}
#history .box {
  padding: 10px;
  background: #11303a;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}
#history h3 {
  font-size: 23px;
  padding: 0px 10px;
  word-break: break-word;
}
#history h4 {
  font-size: 16px;
}

#sent-modal .form-control {
  padding: 6px 12px 6px 12px;
}
.m-b-0 {
  margin-bottom: 0px !important;
}
.close {
  opacity: 1 !important;
}

.form-group img {
  position: absolute;
  left: 17px;
  top: 12px;
  color: #36a5ca;
  width: 20px;
}
.eml-form img {
  left: 15px;
}
.pw-form img {
  width: 15px;
  left: 18px;
  top: 11px;
}
.add-form img {
  top: 9px;
  width: auto;
  height: 21px;
}
#cal .input-group-addon {
  background-color: #252d35;
  border: 1px solid #60676d;
  border-right: 0px;
}
.nav.nav-tabs li:last-child {
  /*padding-right: 0px !important;*/
}
.usr-form img {
  top: 11px;
  width: 18px;
}
.ph-form img {
  top: 12px;
}
.pass-word img {
  left: 20px;
  width: 16px;
  top: 9px;
}
.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover {
  background-image: linear-gradient(to bottom, #4b808a, #36a5ca) !important;
}
.form-group label {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
}
.form-group label a {
  color: red;
  font-size: 14px;
  font-weight: normal;
}

.form-group label div {
  color: black;
  font-size: 14px;
  font-weight: normal;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #252d35;
  opacity: 1;
}
#loader-svg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: +9999;
}
#loader-svg img {
  top: 45%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: +999;
  position: absolute;
  text-align: center;
  margin: 0 auto;
}
a.change-number-modal {
  float: left;
}
.form-group.ph-form{float: left; width: 100%; position: relative;}
.change-pw.change-mobile img{width: 15px;}

label.error,span.error {
  color: #cc5965;
  display: inline-block;
  margin-left: 5px;
  text-align: left;
  width: 100%;
  font-size: 13px;
}
.error-msg-icon i {
  color: #cc5965;
  font-size: 80px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.btn-default {
  background-color:transparent;
  border-color: #36a5ca;
  font-size: 16px;
  color: #36a5ca;
  border-radius: 3px;
}
.form-group.right-icon img{
  right: 10px;
  top: 10px;
  left: auto;

}
#history-a table.dataTable thead .sorting_asc:after ,#history-a table.dataTable thead .sorting:after{
  padding-right: 0px;
}
.text {
  color: #333333!important;
  font-size: 14px;
  font-weight: normal;
}
.text-red {
  color:#ed5565!important;
}
#dob[readonly]{
  color: #333333!important;
  background-color: #f6f7f9!important;
}

.text-red-left {
  color:#ed5565!important;
  text-align: left
}
.pad-none{
  padding: 0px !important;
}